---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import { getProps } from '../helpers/utils';
import Image from '../components/Image.astro';
import Address from '../components/Address.astro';
import Blockquote from '../components/Blockquote.astro';
import Link from '../components/Link.astro';
import Title from '../components/Title.astro';
import Compact from '../components/compact.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image
		src="BF door.jpg"
		caption="Aura Satz, 'Making a Diagonal with Music / Hacer Una Diagonal con la Musica', film still, 2019"
	/>
	<section>
		<p>
			A short film about the Argentine electroacoustic composer Beatriz Ferreyra, an original
			pioneer of early musique concrete alongside Pierre Schaeffer during the '50s and '60s. Here
			she discusses her 'sound hunting' recording techniques, and other thoughts on sound montage
			and spatialization. Featuring creaking doors, barking dogs and rainbow hands.
		</p>

		<Compact title="Credits" type="credit">
			Featuring Beatriz Ferreyra<br />
			Directed and edited by Aura Satz<br />
			DOP: Sam Williams<br />
			Music: Beatriz Ferreyra<br />
			Dubbing Mix: Gernot Fuhrmann<br />
			English Subtitles: Aura Satz<br />
			Special thanks to Jo Langton<br />
		</Compact>

		<h3><strong>Exhibitions:</strong></h3>
		<section>
			<Title
				date="23 April - 30 June 2026"
				title="'She Recalibrates', Solo exhibition at Auditorium Parco della Musica, Rome"
			/>
			<p>
				Opening on 23 April, Lei ricalibra / She recalibrates marks the first Italian solo
				exhibition of filmmaker and sound artist Aura Satz, continuing program dedicated to sound
				art in AuditoriumArte, One Space / One Sound. The exhibition brings together a series of
				video portraits devoted to pioneering figures in electronic music—composers who have often
				been overlooked, yet whose work has been fundamental to the development of sound
				technologies, notation systems, coding practices, and to the very materiality of sound
				itself. Among them are Daphne Oram, Laurie Spiegel, and Beatriz Ferreyra. Complementing
				these works is a film focusing on the contemporary deaf percussionist Evelyn Glennie (b.
				1965). At the core of the exhibition lies the notion of recalibrating sound in electronic
				music through the dial—the control knob—as explored in the drawing series She recalibrates.
				Here, the dial becomes both a conceptual and material device for refining perception: a
				means of recalibrating listening through a feminist lens. In doing so, the exhibition
				restores visibility to these composers, positioning them as key figures—liberatory and
				transformative—who re-centered listening through experimentation and imagination, ultimately
				reshaping how we relate to the world. Il 22 Aprile presso l’Accademia di Spagna a Roma, in
				occasione della rassegna “Qué bien che siamo donne” dei mesi di marzo e aprile dedicata alle
				pratiche artistiche femministe, l’artista presenta il lavoro audio Dial Tone Drone, 2014. In
				collaboration with the Spanish Academy in Rome.
</p>
				<Link
					url="https://www.auditorium.com/it/event/aura-satz-lei-ricalibra-she-recalibrates/"
					label="https://www.auditorium.com/it/event/aura-satz-lei-ricalibra-she-recalibrates/"
				/>
				<Link
					url="https://www.accademiaspagna.org/las-mujeres-borradas-le-donne-che-manchano/?lang=it"
					label=https://www.accademiaspagna.org/las-mujeres-borradas-le-donne-che-manchano/?lang=it
				/>

				<p>
					<Title
						date="4 Feb - 27 March 2022"
						title="'She Recalibrates', Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz" />
			<p>
			

		In Z Gallery programme, Aura Satz presents the films 'Oramics: Atlantis Anew,' 'Little Doorways
		to Paths Not Yet Take' and 'Hacer una diagonal con la musica,' three works based on three
		pioneers in the field of electronic music. 'She Recalibrates' (2018) are a series of drawin
		fine-tuning the sound in a listening feedback loop."

				</p>
				<p>
					*Hacer una diagonal con la musica*. 2019. 10 min. A short film about Argentine
					electroacoustic composer Beatriz Ferreyra, a pioneer of musique concrete together with
					Pierre Schaeffer during the 1950s and 1960s. Here she discusses her 'sound hunting'
					recording techniques, and other thoughts on sound montage and spatialization, illustrated
					through onomatopoeia and dynamic hand gestures. In the key opening scene, Ferreyra is seen
					listening to the miniscule creaks produced by a door, expanding the simple binary of open
					vs closed to encompass an entire sound universe, an expanded bandwidth of what can be
					heard and how we might listen.
				</p>
				<p>
					*Oramics: Atlantis Anew*. 2011. 7 min. Conceived as an artist's film that pays tribute to
					Daphne Oram, pioneer of British electronic music and co-founder of the BBC Radiophonic
					Workshop in 1958, the film depicts a close encounter with her unique Oramics machine
					invention, housed in the Science Museum in London.
				</p>
				<p>
					*Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's earlier films
					about women composers and inventors of electronic music, this short film offers an
					intimate look into the studio of American composer Laurie Spiegel (b. 1945). Renowned for
					her electronic music compositions and algorithmic composition software, the film also
					reveals all manner of musical and technological paraphernalia, ranging from sheet music to
					DIY inventions and collections of quirky toys. The soundtrack features electronic music
					composed by Spiegel and Laurie's voiceover reflecting on electronic music and the process
					of composing.
				</p>
				<p>
					The* Z Gallery* (Z for zinema, cinema in Basque) programme is neither a season of films
					nor an exhibition. It is a project that constructs an intermediate space from which to
					reflect on and draw attention to works by artists making the leap into the cinematographic
					field as well as filmmakers exploring the exhibition format. It is a programme arising
					from the determined gesture of thinking about the moving image in the museum. A programme
					that aims to bring to the public authors interested in searching for new narrative forms
					by questioning the genres that historically categorise cinematographic language.
				</p>
				<p>
					Curator: Garbiñe Ortega. Catalogue includes newly commissioned essays by Jo Hutton and
					Xabier Erkizia.
				</p>

				<Link
					url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
					label=https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery
				/>
				<p>
					Interview in Elemmental Magazine <a
						href="https://elemmental.com/2022/02/18/aura-satz-entrevista/"
						>https://elemmental.com/2022/02/18/aura-satz-entrevista/</a
					>
				</p>
			</p>
			<Image
				src="BeatrizRainbowHands.jpg"
				caption="Aura Satz, 'Making a Diagonal with Music / Hacer Una Diagonal con la Musica', film still, 2019"
			/>

			<h3>4-18 Feb 2022<br />
			Vdrome online, introduced by Ela Bittencourt <h3>
		</section>
		<a href="https://www.vdrome.org/aura-satz/">https://www.vdrome.org/aura-satz/ </a>
		</p>
</p>
			</section>
		<h3><strong>Screenings:</strong></h3>
		<h3>22 Jan - 2 Feb 2020
			<br />
		IFFR (International Film Festival Rotterdam)
		World Premiere, screening as part of Bright Future Shorts</h3>
		<p>
			<a href="https://iffr.com/en/2020/films/making-a-diagonal-with-music"
				>https://iffr.com/en/2020/films/making-a-diagonal-with-music</a
			>
		
		</p>
		<h3>5-19 Feb 2020
			'Doc Fortnight' at MoMA, NY (US premiere)<h3>

				<p>
					Doc Fortnight celebrates its 19th edition with some of the most formally innovative,
					thought-provoking documentary and hybrid films being made in the world today. This year's
					edition features 12 world premieres, 17 North American premieres, and 14 US premieres from
					38 countries.
					Organized by Joshua Siegel, Curator, with Stergios Dinopoulos, 12-Month Intern, Department
					of Film. The Nonfiction+ sidebar is organized by Kathy Brew, Consulting Curator.
			
			
					<a href="https://www.moma.org/calendar/film/5193"
						>https://www.moma.org/calendar/film/5193</a>
					<a href="https://press.moma.org/wp-content/uploads/2019/12/Doc-Fortnight-2020-Screening-Schedule-and-Descriptions.pdf"
						>https://press.moma.org/wp-content/uploads/2019/12/Doc-Fortnight-2020-Screening-Schedule-and-Descriptions.pdf</a
					><br />
					<a href="https://www.moma.org/calendar/events/6390"
						>https://www.moma.org/calendar/events/6390</a>
				</p>
				<h3>
					13-18 May 2020 <br />
					Shortlisted for competition at 66th Oberhausen International Short Film Festival, Oberhausen
				</h3>
				
					Because of the Corona crisis, the International Short Film Festival Oberhausen is
					currently organising its 66th edition as an online edition. The festival is happy to
					announce that all five competitions - International Competition, German Competition, NRW
					Competition, Children's and Youth Film Competition and the MuVi Award for the best German
					music video - will be presented online. They will be accessible between 13 and 18 May,
					when the online festival will be open to both the public and professionals. For the
					International Competition, the largest and oldest of the Festival, 57 works were
					originally selected. 56 of these will be screened in the online festival.
				
<a href="https://www.kurzfilmtage.de/en/festival/competition-selection/">https://www.kurzfilmtage.de/en/festival/competition-selection/</a
><br />
			<h3>
				1-14 August 2020 Shortlisted for EX-now competition, EXis Experimental Film and Video
				Festival, Seoul<h3>

				<a href="https://ex-is.org/exnow"
					>https://ex-is.org/exnow<br />
					https://ex-is.org/exnow/-making-a-diagonal-with-music-aura-satz</a
				>
><br />

				<h3>25 August - 8 Sep 2020 
				Shortlisted for Indiemusic competition, IndieLisboa International Film Festival, Lisbon<h3>

				<a href="https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/"
					>https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/</a
				><a href="https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/"
					><br />
					https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/</a
				>
><br />
				<h3>22-25 Oct 2020 
					Screening as part of 'She Makes Noise' festival, La Casa Encendida,Madrid<h3>

				<p>
					Festival de musica y cine dedicado a mujeres que se dedican a la musica electronica y al
					audiovisual contemporaneo con perspectiva de genero. Un proyecto de Playtime Audiovisuales
					y La Casa Encendida. VI edicion Octubre 2020 - Madrid
					<p>
						While I yet live, de Maris Curran. EE.UU., 2018. 14'.<br />
						Making a diagonal with music, de Aura Satz. 2020. Reino Unido, 2010. 10'.<br />
						Keyboard Fantasies: The Beverly Glenn-Copeland Story, de Posy Dixon. Reino Unido, Canada,
						Belgica, Paises Bajos, EE.UU., 2019.<p>
							<a href="https://shemakesnoisefestival.tumblr.com/"
								>https://shemakesnoisefestival.tumblr.com/<br />
							</a><a href="https://www.lacasaencendida.es/cine/she-makes-noise-2020-11801"
								>https://www.lacasaencendida.es/cine/she-makes-noise-2020-11801</a
							><br />
							<a href="https://www.lacasaencendida.es/cine/sesion-fuerza-arrolladora-11754"
								>https://www.lacasaencendida.es/cine/sesion-fuerza-arrolladora-11754</a
							><br />
							<a href="https://www.filmin.es/directora/aura-satz"
								>https://www.filmin.es/directora/aura-satz</a
							>
							><br />

							<h3>2 - 10 October 2021 <br />Artist Special Focus screenings and live performance as part
							of VideoEx, Experimental film &amp; Video Festival Zurich<h3>

							<a
								href="https://videoex.ch/videoex/festival-2021/programm-2021/artist-focus-aura-satz/"
								>https://videoex.ch/videoex/festival-2021/programm-2021/artist-focus-aura-satz/</a
							><br />
							<a
								href="https://videoex.ch/videoex/festival-2021/programm-2021/expanded-cinema-and-live-acts/aura-satz-performance/"
								>https://videoex.ch/videoex/festival-2021/programm-2021/expanded-cinema-and-live-acts/aura-satz-performance/
							</a>

							><br />
							<h3>25 August - 8 Sep 2020 <br />
							Shortlisted for Indiemusic competition, IndieLisboa International Film Festival, Lisbon<h3>

							<a href="https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/"
								>https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/</a
							><a href="https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/"
								><br />
								https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/</a
						
						><br />
						<h3>7-10 April 2022 
							Films screening as parts of Rewire festival, the Hague<h3>

							<a href="https://www.rewirefestival.nl/event/rewire-2022"
								>https://www.rewirefestival.nl/event/rewire-2022</a
							><br />
							<a href="https://www.rewirefestival.nl/artist/shorts-aura-satz"
								>https://www.rewirefestival.nl/artist/shorts-aura-satz
							</a>

							<h3>4 Feb 2022 <br />
							Screening as part of 'Looking at Listening: Films on Women and Experimental Music' at The
							Block Museum of Art, Evanston IL<h3>

							<p>
								A film about listening (Sam Green, US, 2020, 33 minutes)<br />
								Hacer una diagonal con la musica (Aura Satz, UK, 2019, 10 minutes)<br />
								Space Lady (Sophia Feuer, US, 2020, 17 minutes) <br />
								Amour Pour Une Femme (Emily Eddy, US, 2019, 9 minutes)<br />

							<a
								href="https://www.blockmuseum.northwestern.edu/cinema/2022/looking-at-listening-films-on-women-and-experimental-music.html"
								>https://www.blockmuseum.northwestern.edu/cinema/2022/looking-at-listening-films-on-women-and-experimental-music.html</a
							>
><br />
							<h3>9 Dec 2022 <br />'Little Doorways to Paths not Yet Taken' &amp; 'Making a Diagonal
							with Music' screening as part of Mono-Poly, curated by Debris Facility and Liquid Architecture, Melbourne <h3>

							<a href="https://liquidarchitecture.org.au/events/mega-phone-mono-poly"
								>https://liquidarchitecture.org.au/events/mega-phone-mono-poly</a
							>
					
						><br />
				 
				<h3>21 March 2026<br />
				Screening at part of Luke Fowler #1 - carte blanche, Cinéma du réel, Paris<h3>

				<a href="https://www.cinemadureel.org/en/film/making-a-diagonal-with-music-2/"
					>"https://www.cinemadureel.org/en/film/making-a-diagonal-with-music-2/</a
				>

				<p>&nbsp;</p>
			</strong>
		</h3>
	</section>
</ProjectLayout>
