---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Compact from "../../components/compact.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="Leavitt Annotated-1.jpg" caption="Aura Satz, Slide from 'Her Luminous Distance', 2014" />
  <section>
    <p>
      Her Luminous Distance is a slide-based installation which uses a Blink Comparator, a device used by astronomers to detect small pattern differences between photographic plates by alternately switching between images, blinking back and forth between the two. The PROBLICOM (Projector Blink Comparator) was invented by amateur astronomer Ben Mayer, using two juxtaposed slide projectors and a rotating disc, alternately occulting the images at a stroboscopic pace. The accompanying binaural soundtrack is a pulsing rhythmic drone which plays on the perception of patterns.</p>
      
     <p>Developed from research on the pioneering deaf astronomer Henrietta Swan Leavitt (1868-1921), the project attends to the lesser known women who contributed to important astronomical discoveries, in particular the women known as 'Human Computers' at Harvard, who were engaged in painstaking astronomical observation and classification. In her extensive studies of Variable Stars, Leavitt discovered the period-luminosity relation, which ultimately helped calibrate a method to determine the size of the universe. The blinking slide sequence includes images drawn from Leavitt's original annotated photographic plates of Variable stars, archival images from the Human Computers' workplace, and a series of over 20 images of craters on the moon named after women astronomers. The Leavitt Crater is on the far side of the moon, and is also in honour of deaf scientists.</p>
    
  </section>
  <Title
  date="25 April - 29 June 2014"
  title="'They Used to Call It the Moon'"
  subtitle="Group exhibition at BALTIC 39"
  >
  <Compact type="address">
    31-39 High Bridge<br>
    Newcastle upon Tyne NE1 1EW<br>
    Telephone: 0191 261 3830<br>
    info@balticmill.com<br>
    https://www.balticmill.com/whats-on/baltic-39/baltics-project-space/detail/they-use-to-call-it-the-moon
  </Compact>
  
</Title>
<Title
date="5 May 2014"
title="'Blink Comparator: Her Luminous Distance'"
subtitle="Performance at the 60th International Short Film Festival Oberhausen"
>
<p>Presented as a live performance at the 60th International Short Film Festival Oberhausen (1 to 6 May, 2014)</p>
<p>Part of the themed programme 'Memories Can't Wait - Film without Film', curated by Mika Taanila</p>

http://www.kurzfilmtage.de/en/programme.html<br>
http://www.kurzfilmtage.de/en/metanavigation/press/press-releases/news/theme-2014-memories-cant-wait-film-without-film.html


</Title>
<Image src="Harvard-Pinafore play.jpg" caption="Aura Satz, Slide from 'Her Luminous Distance' based on a play staged by the Harvard Human Computers in 1929, 2014" />
<Title
date="27 June 2014"
title="'Blink Comparator: Her Luminous Distance'"
subtitle="Performance at the opening of 'Curiosity' at De Appel, Amsterdam"
>
<p>Presented as a live performance at the opening of the group exhibition "Curiosity: Art and the Pleasures of Knowing", a Hayward Touring exhibition in association with Cabinet Magazine, curated by Brian Dillon.</p>

<p>Artists include: Agency, Salvatore Arancio, Anna Atkins, Sir Joseph Banks, Leopold Blaschka and Rudolph Blaschka, Corinne May Botz, Pablo Bronstein, Adam Broomberg and Oliver Chanarin, Gerard Byrne, Collection of Roger Caillois, Nina Canell, The Center for Land Use Interpretation, Tacita Dean, John Dee, Albrecht Durer, Jimmie Durham, Gunda Forster, Aurelien Froment, Galileo Galilei, Philip Henry Gosse, Laurent Grasso, Thomas Grunfeld, Susan Hiller, Robert Hooke, Ferrante Imperato, Toril Johannessen, Nina Katchadourian, Elad Lassry, Leonardo da Vinci, Nicolaes Maes, Jeremy Millar, Matt Mullican, Jean Painleve, Katie Paterson, B. Picart, after Charles Le Brun, Francis Place, Aura Satz, Miroslav Tichy, J.M.W. Turner, Richard Wentworth</p>
<Compact type="address">
  De Appel Arts Centre<br>
Prins Hendrikkade 142<br>
1011 AT Amsterdam<br>
020 6255651<br>
info@deappel.nl<br>
http://www.deappel.nl/visit/programme/activity/?id=920<br>
http://www.southbankcentre.co.uk/find/hayward-gallery-and-visual-arts/hayward-touring/future/curiosity-art-and-the-pleasures-of-knowing
</Compact>

</Title>

<section>
  <h5>31 October 2014 – 11 January 2015</h5>
<h4>'They Used to Call it the Moon'</h4>
<p>Baltic, group exhibition curated by Alessandro Vincintelli</p>
<Compact type="address">
Gateshead Quays<br>
South Shore Road<br>
Gateshead NE8 3BA, UK<br>
Telephone: 0191 478 1810<br>
https://www.balticmill.com/whats-on/exhibitions/detail/they-used-to-call-it-the-moon
</Compact>
 

<h5>23 Jan - 20 March 2016</h5>
<h4>'Her Marks, a Measure'</h4>
<p>Solo exhibition at Dallas Contemporary</p>
'Her Marks, a Measure' is an exhibition exploring the role women's labour in astronomy and ballistics. In both these fields women made significant contributions to observation, data collection, and computation. Alongside the film Between the Bullet and the Hole, the show features Her Luminous Distance.

<Compact type="address">
Dallas Contemporary<br>
161 Glass St<br>
Dallas, Texas<br>
TX 75207, USA<br>
http://www.dallascontemporary.org/past-exhibitions-2016.html
</Compact>
 

<h5>1 Oct - 5 Nov 2016</h5>
<h4>'Her Marks, a Measure'</h4>
<p>Solo exhibition at Fridman Gallery</p>
Launch of exhibition catalogue with essays by Justine Ludwig, Erika Balsom and Omar Kohleif. Aura Satz in conversation with Dallas Contemporary Senior Curator Justine Ludwig at 5pm.
<Compact type="address">
287 Spring Street<br>
New York, NY 10013<br>
Telephone (646) 345 9851<br>
https://www.fridmangallery.com/aura-satz
</Compact>
 

<h5>29 September 2017 - 14 January 2018</h5>
<h4>'STARS: Cosmic Art from 1900 up to the Present'</h4>
<p>Group exhibition at Lentos Museum, Linz</p>
The endless expanse of the night sky before our eyes, the shining stars almost close enough to touch! It's gone now, the dark night. It has been conquered by electric light. Buildings, squares and streets are brightly illuminated at night. The lights of the big cities have blocked out the starry sky that can now hardly be seen. Light smog has meanwhile robbed a third of the world population of the view of the Milky Way, shooting stars and glowing comets. The complex and cross-media exhibition provides insights into the relationship between human beings and the stars, which is the subject of research, romance, fortune-telling, but also of threat scenarios. Dreamily, humorously, poetically, and also ironically, the artists of the 20th and 21st century have probed humanity's relationship to the endlessness of the starry sky, engaging with the twinkling of the stars and the current loss of that light. Including Angela Bulloch, Hans Op de Beek, Maurizio Cattelan, Joseph Cornell, Alex Katz, Anselm Kiefer, Robert Longo, Meret Oppenheim, Trevor Paglen, Gerhard Richter, Thomas Ruff, Kiki Smith, Wolfgang Tillmans, and more.
<Compact type="address">
LENTOS Kunstmuseum Linz<br>
Ernst-Koref-Promenade 1 AUSTRIA - 4020 Linz<br>
http://www.lentos.at/html/en/4130.aspx
</Compact>
 
<h5>24 Jan - 3 Feb 2019</h5>
<h4>'Blackout', group exhibition at Kunsthal Rotterdam (touring to Ambika P3, London in March and GreyLight Projects, Brussels in April)</h4>
<p>In Blackout international artists use the medium of the transparency to raise questions about our lack of a collective memory. They deploy the 35 mm carousel slide projector that has gone out of fashion to bring forgotten, concealed or deliberately lost histories to light. With their installations the artists explore the historical memory from a personal perspective. Prapat Jiwarangsan (Thailand) projects names that trigger associations with political events from the past. The installation by Aura Satz (United Kingdom) underlines the important role played by women scientists around 1900. The work of Ahmad Fuad Osman is an invitation - via an imaginary character - to go in search of the forgotten history of Malaysia. The ten selected works all date from after 2004, the year in which Kodak stopped producing the Carousel Slide Projector. Blackout breathes new life not only into history, but also into this forgotten medium.</p>
<p>Artists include Hannah Dawn Henderson, Floris Vanhoof, Aura Satz, Nguyen Trinh Thi, Tamar Guimaraes, Raha Raissnia, Prapat Jiwarangsan, Ahmad Fuad Osman, Kristina Benjocki, Cauleen Smith, and Praneet Soi. Curated by Julian Ross.</p>
<p>Blackout is part of Deep Focus at the 48th edition of IFFR 2019</p>
<Compact type="address">
https://www.kunsthal.nl/en/plan-your-visit/exhibitions/IFFR-Blackout/<br>
https://iffr.com/en/blog/blackout-illuminates-forgotten-histories<br>
<br>
https://www.p3exhibitions.com<br>
https://www.westminster.ac.uk/news-and-events/events/blackout<br>
<br>

'Her Luminous Distance' part of New Acquisitions, Smithsonian National Portrait Gallery, Washington D.C.<br>
http://npg.si.edu/
</Compact>
 <br>
<Compact type="thanks">
<em>Produced by Baltic. Special thanks to Alison Doane at Harvard College Observatory Library, The American Association of Variable Star Observers (AAVSO), the Lunar Reconaissance Orbiter Camera Team in Arizona, the Maria Mitchell Association, and James Stuby. For additional help and suggestions Aura would like to thank Charles Wood, Alan Chu, and many more.</em>
<br><br>
<em>Aura Satz would also like to thank Ian Watson, and Tai Shani.</em>
</Compact>
</section>
  
</ProjectLayout>
