---
import MainHeader from "../layouts/MainHeader.astro";
import Projects from "../components/Projects.astro";
---

<MainHeader title="AURA SATZ">
	<!-- <div class="notice">
		{projectList.map((item) => <li>{JSON.stringify(item)}</li>)}
	</div> -->

	<Projects />
	<!-- <p>bleow is a glob from directory</p>
		{posts.map((item) => <li>{JSON.stringify(item)}</li>)} -->
</MainHeader>
<style>
	.notice {
		word-break: break-all;
		margin: var(--spacing-level-2) auto;
		background-color: blueviolet;
		padding: var(--spacing-level-4);
		color: wheat;
		line-height: 3ch;
	}
</style>
