---
import MainHeader from '../layouts/MainHeader.astro';
import News from '../components/News.astro';
import { getCollection } from 'astro:content';
const news = await getCollection('news');

const renderedPosts = await Promise.all(
	news
		.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
		.map((post) => post.render())
);
---

<MainHeader title={`AURA SATZ - News`} omit="news" bg="dada">
	<!-- <section>
		{
			renderedPosts.map(({ Content, remarkPluginFrontmatter }) => {
				return (
					<News {...remarkPluginFrontmatter}>
						<Content />
					</News>
				);
			})
		}
	</section> -->

	<section>
		<article>
			<time datetime="2024-10-17">August 2023 - October 2024</time>
			<p>
				Her Luminous Distance' on display as part of permanent collection, <strong
					>Smithsonian National Portrait Gallery</strong
				>, Washington DC <br />
				<a href="https://npg.si.edu/object/npg_NPG.2017.56"
					>https://npg.si.edu/object/npg_NPG.2017.56
				</a>
			</p>
		</article>
		<article>
			<time datetime="2023-11-09/2024-01-07">9 Nov 2023 - 7 Jan 2024</time><p>
				Solo show at <strong>Museu de la Musica</strong> as part of <strong>LOOP Barcelona</strong>,
				curated by Carolina Jimenez <br />
				<a href="https://loop-barcelona.com/">https://loop-barcelona.com/ </a><br />
				<a href="https://ajuntament.barcelona.cat/museumusica/es"
					>https://ajuntament.barcelona.cat/museumusica/es</a
				>
				<br />
			</p>
		</article>
		<article>
			<time datetime="2023-12-10">27 Nov - 10 Dec 2023</time><p>
				Artist production residency at <strong>EMPAC</strong>, Troy NY <a
					href="https://empac.rpi.edu/program/curatorial/residencies/2023/preemptive-listening"
					><br />
					https://empac.rpi.edu/program/curatorial/residencies/2023/preemptive-listening</a
				>
			</p>
		</article>
		<article>
			<time datetime="2023-12-16">27 October - 16 Dec 2023</time><p>
				'Seeing Sound' curated by Barbara London, <strong>Haverford College</strong> in Pennsylvania
				and touring <br />
				<a href="https://curatorsintl.org/exhibitions/9784-seeing-sound"
					>https://curatorsintl.org/exhibitions/9784-seeing-sound <br />
				</a>
			</p>
		</article>

		<article>
			<time datetime="2023-10-06/2023-12-10">6 October 2023 - 10 Dec 2023</time><p>
				'Spinning in Place', group show at <strong>601Artspace</strong>
				NY, curated by Sophie Landre <br />
				<a href="https://601artspace.org/">https://601artspace.org/</a>
			</p>
		</article>

		<article>
			<time datetime="2023-10-17">24 August - 17 Oct 2023</time><p>
				'Her Luminous Distance' on display at <strong
					>The Harvard College Observatory, Center for Astrophysics, Harvard &amp; Smithsonian
				</strong><br />
				<a href="https://pweb.cfa.harvard.edu/about/about-harvard-college-observatory"
					>https://pweb.cfa.harvard.edu/about/about-harvard-college-observatory</a
				>
			</p>
		</article>

		<article>
			<time datetime="2023-09-03">29 July - 03 Sep 2023</time><p>
				'A Pluriverse Siren', solo show at <strong>Te Uru Waitakere Contemporary Gallery</strong>,
				Auckland <a href="https://www.teuru.org.nz/whats-on/calendar/aura-satz-a-pluriverse-siren/"
					><br />
					https://www.teuru.org.nz/whats-on/calendar/aura-satz-a-pluriverse-siren/</a
				>
			</p>
		</article>

		<article>
			<time datetime="null">12 July - 25 August 2023</time><p>
				10th Anniversary show, <strong>Fridman Gallery</strong>, NY, curated by Regine Basha <br />
				<a href="https://www.fridmangallery.com/interior-resonances"
					>https://www.fridmangallery.com/interior-resonances
				</a>
			</p>
		</article>

		<article>
			<time datetime="2023-08-06">9 June - 6 August 2023</time><p>
				'Warnings in Waiting,' solo exhibition at<strong> Kunsternes Hus,</strong> Oslo <br />
				<a href="https://www.fridmangallery.com/interior-resonances"
					>https://kunstnerneshus.no/en/program/exhibitions/aura-satz
				</a>
			</p>
		</article>

		<article>
			<time datetime="2023-04-09">9 April 2023</time><p>
				'Occam Delta XX', a newly commissioned score by Éliane Radigue (2022), featuring Rhodri
				Davies (harp), Julia Eckhardt (viola), Aura Satz (film) at Variations Festival, <strong
					>Le Lieu Unique</strong
				>, Nantes<br />
				<a
					href="https://www.lelieuunique.com/evenement/festival-variations-portrait-eliane-radigue-frederic-blondy-rhodri-davies-julia-eckhardt-aura-satz/"
					>https://www.lelieuunique.com/evenement/festival-variations-portrait-eliane-radigue-frederic-blondy-rhodri-davies-julia-eckhardt-aura-satz/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2023-04-07">7 April 2023</time><p>
				World premiere of 'Occam Delta XX', a newly commissioned score by Éliane Radigue (2022),
				featuring Rhodri Davies (harp), Julia Eckhardt (viola), Aura Satz (film) at <strong
					>REWIRE festival</strong
				>, the Hague<br />
				<a href="https://www.rewirefestival.nl/artist/aura-satz-rhodri-davies--julia-eckhardt"
					>https://www.rewirefestival.nl/artist/aura-satz-rhodri-davies--julia-eckhardt
				</a>
			</p>
		</article>

		<article>
			<time datetime="2023-03-11">11 March 2023</time><p>
				'While Smoke Signals', a new film commission with live film score by David Toop, followed by
				Q&amp;A, at <strong>Tyneside Cinema</strong>, Newcastle<br />
				<a
					href="https://tynesidecinema.co.uk/event/artist-commission-while-smoke-signals-qa-and-live-performance/"
					>https://tynesidecinema.co.uk/event/artist-commission-while-smoke-signals-qa-and-live-performance/
				</a>
			</p>
		</article>

		<article>
			<time datetime="2023-02-04">3-4 Feb 2023</time><p>
				Exhibition of 'The Trembling Line' as part of <strong>Strom festival</strong>
				for electronic music at <strong>Berliner Philharmoniker</strong> - including Aura Satz, Blawan,
				Hauschka + Kai Angermann, Juan Atkins, MARCEL DETTMANN, Nidia, Studio Robert Henke pres. CBM
				8032 AV, transformed acoustix (members of Berliner Philharmoniker + Simon Stockhausen), Stefan
				Goldmann, upsammy, Wolfgang Voigt pres. GAS <br />
				<a href="https://www.berliner-philharmoniker.de/strom/"
					>https://www.berliner-philharmoniker.de/strom/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2023-01-14">14 Jan 2023</time><p>
				'The Grief Interval' screening at <strong>Norient Festival</strong>, Kellerkino Moviemento,
				Bern <br />
				<a href="https://norient-festival.com/The-Grief-Interval"
					>https://norient-festival.com/The-Grief-Interval</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-12-09">9 Dec 2022</time><p>
				'Little Doorways to Paths not Yet Taken' &amp; 'Making a Diagonal with Music' screening as
				part of Mono-Poly, curated by Debris Facility and <strong>Liquid Architecture</strong>,
				Melbourne, <br />
				<a href="https://liquidarchitecture.org.au/events/mega-phone-mono-poly"
					>https://liquidarchitecture.org.au/events/mega-phone-mono-poly</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-12-07">7 Dec 2022</time><p>
				Screening 'The Future Waters of the Storm Surge' (2022) at <strong>Kino Moviemento</strong>,
				Berlin as part of<strong> Kontraklang. </strong>Films and music by Olivia Block, Gunilla
				Sköld Feiler &amp; Dror Feiler, Martin Grütter &amp; Aron Kitzig, Christian Kesten, Patricia
				Martínez &amp; Luis Paris, Makiko Nishikaze, Michiko Ogawa &amp; Manuel Pessoa de Lima, Lis
				Rhodes, Julia Rommel, Aura Satz &amp; BJ Nilsen <a
					href="https://kontraklang.de/concert/movie-night-nr-2/"
					><br />
					https://kontraklang.de/concert/movie-night-nr-2/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-11-15">15 Nov 2022</time><p>
				<strong>'Quantum Listening' Ignota</strong> book and prints launch at<strong>
					Reference Point</strong
				>, London, with artist Aura Satz, curator and writer Irene Revell and NTS creative director
				Tabitha Thorlu-Bangura, hosted by Ignota’s Sarah Shin and Susanna Davies-Crook<br />
				<a href="https://ignota.org/products/quantum-listening-launch"
					>https://ignota.org/products/quantum-listening-launch</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-10-16">15-16 October 2022</time><p>
				The Future Waters of the Storm Surge' new film commission with live score by BJ Nilsen
				premiering at <strong>Sonic Acts</strong>, Amsterdam<br />
				<a href="https://sonicacts.com/portal/sonic-acts-festival-2022"
					>https://sonicacts.com/portal/sonic-acts-festival-2022</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-10-08">8 Oct 2022</time><p>
				'Preemptive Listening by Aura Satz with Raven Chacon,' film performance, as part of two year
				long-form Cinema Residency at <strong>Walker Arts Center</strong>, Minneapolis<br />
				<a
					href="http://walkerart.org/calendar/2022/preemptive-listening-by-aura-satz-with-raven-chacon"
				>
					http://walkerart.org/calendar/2022/preemptive-listening-by-aura-satz-with-raven-chacon</a
				><br />
			</p>
		</article>

		<article>
			<time datetime="2022-09-15/2023-03-05">15 Sep 2022 - 5 March 2023</time><p>
				'SIREN (some poetics)', curated by Quinn Latimer, <strong>AMANT</strong>, NY<br />
				<a href="https://www.amant.org/exhibitions/10-siren-an-exhibition"
					>https://www.amant.org/exhibitions/10-siren-an-exhibition</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-07-24">24 July 2022</time><p>
				'Rock Talk: A conversation towards Geologic Listening: A conversation with Kodwo Eshun,
				Anjalika Sagar, Sukhdev Sandhu, Aura Satz, Cauleen Smith &amp; Deborah Stratman', <strong
					>Union Docs</strong
				>, NY <a href="https://uniondocs.org/event/2022-07-24-rock-talk/"
					>https://uniondocs.org/event/2022-07-24-rock-talk/
				</a>
			</p>
		</article>

		<article>
			<time datetime="2022-06-19">19 June 2022</time><p>
				'The Grief Interval' screening as part of<strong>
					The London Contemporary Music Festival (LCMF)</strong
				>, Woolwich Works <br />
				<a href="https://lcmf.co.uk/">https://lcmf.co.uk/ </a>
			</p>
		</article>

		<article>
			<time datetime="2022-04-10">7-10 April 2022</time><p>
				Films screening as parts of <strong>Rewire festival</strong>, the Hague<br />
				<a href="https://www.rewirefestival.nl/event/rewire-2022"
					>https://www.rewirefestival.nl/event/rewire-2022</a
				><br />
				<a href="https://www.rewirefestival.nl/artist/shorts-aura-satz"
					>https://www.rewirefestival.nl/artist/shorts-aura-satz
				</a>
			</p>
		</article>

		<article>
			<time datetime="2022-03-23">23 March 2022</time><p>
				<strong> 'Barbara London Calling'</strong>, podcast interview <br />
				<a href="https://www.barbaralondon.net/barbara-london-calling-podcast/"
					>https://www.barbaralondon.net/barbara-london-calling-podcast/</a
				><br />
				<a href="https://open.spotify.com/episode/4BvxYwy5boWcYfXHDIMREm"
					>https://open.spotify.com/episode/4BvxYwy5boWcYfXHDIMREm
				</a>
			</p>
		</article>

		<article>
			<time datetime="2022-03-17">16-17 March 2022</time><p>
				'Preemptive Listening' talk and screening as part of <strong
					>'Ages of Receivership: On Generous Listening'
				</strong>at Institute Art Gender Nature, FHNW, Academy of Art and Design in Basel on site
				and online. With Caroline Bergvall, Merve Yesilada Caglar, Bill Dietz, Nina Emge, Jazmina
				Figueroa, Virna Gulzari, Ayesha Hameed, Kate Lacey, Nour Mobarak, Dylan Robinson, Aura Satz,
				Stas Sharifullin, Li Tavor &amp; Nicolas Buzzi, and Hannah Weinberger. Moderated by <br />
				Chus Martínez and Quinn Latimer. Research associate: Marion Ritzmann. <br />
				<a
					href="https://www.artandeducation.net/announcements/451535/ages-of-receivership-on-generous-listening"
					>https://www.artandeducation.net/announcements/451535/ages-of-receivership-on-generous-listening<br
					/>
				</a><a href="https://dertank.ch/en/we-explore/gender/#ages-of-receivership"
					>https://dertank.ch/en/we-explore/gender/#ages-of-receivership</a
				><br />
			</p>
		</article>

		<article>
			<time datetime="2022-03-27">04 Feb - 27 March 2022</time><p>
				Solo exhibition at <strong>ARTIUM, Museo Vasco de Arte Contemporáneo</strong>,
				Vitoria-Gasteiz<br />
				<a href="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
					>https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-02-18">4-18 Feb 2022</time><p>
				<strong>Vdrome</strong> online, introduced by Ela Bittencourt<br />
				<a href="https://www.vdrome.org/aura-satz/">https://www.vdrome.org/aura-satz/ </a>
			</p>
		</article>

		<article>
			<time datetime="2022-02-04">4 Feb 2022</time><p>
				'Hacer una Diagonal con la Musica' screening as part of 'Looking at Listening: Films on
				Women and Experimental Music' at <strong>The Block Museum of Art</strong>, Evanston IL <a
					href="https://www.blockmuseum.northwestern.edu/cinema/2022/looking-at-listening-films-on-women-and-experimental-music.html"
					>https://www.blockmuseum.northwestern.edu/cinema/2022/looking-at-listening-films-on-women-and-experimental-music.html</a
				>
			</p>
		</article>

		<article>
			<time datetime="2022-01-01">1 Jan 2022</time><p>
				‘Preemptive Listening’ as part of Shift Key, online film programme <strong
					>MOCA Toronto</strong
				>, curated by Carly Whitefield<br />
				<a href="https://moca.ca/shift-key/">https://moca.ca/shift-key/ </a><a
					href="https://moca.ca/programmes/shift-key/shift-key-aura-satz/"
				>
					<br />https://moca.ca/programmes/shift-key/shift-key-aura-satz/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2021-12-05">5 Dec 2021</time><p>
				Live film performance with Mazen Kerbaj at <strong>Onassis Foundation</strong>, Athens, as
				part of <strong>Tectonics festival</strong><br />
				<a href="https://www.onassis.org/whats-on/tectonics-athens-21"
					>https://www.onassis.org/whats-on/tectonics-athens-21</a
				><br /><a href="https://www.onassis.org/people/aura-satz"
					>https://www.onassis.org/people/aura-satz</a
				><br />
			</p>
		</article>

		<article>
			<time datetime="2021-11-05">5 Nov 2021</time><p>
				'Night Air Program', <strong>Sonic Acts, OT301, </strong>Amsterdam, and ongoing for Sonic
				Acts Feb 2022 <br />
				<a href="https://sonicacts.com/portal/night-air/night-air-shock-waves"
					>https://sonicacts.com/portal/night-air/night-air-shock-waves</a
				><br />
			</p>
		</article>

		<article>
			<time datetime="2021-10-10">2 - 10 October 2021</time><p>
				Artist Special Focus screenings and live performance as part of <strong
					>VideoEx, Experimental film &amp; Video Festival Zurich
				</strong><br />
				<a href="https://videoex.ch/videoex/festival-2021/programm-2021/artist-focus-aura-satz/"
					>https://videoex.ch/videoex/festival-2021/programm-2021/artist-focus-aura-satz/</a
				><br />
				<a
					href="https://videoex.ch/videoex/festival-2021/programm-2021/expanded-cinema-and-live-acts/aura-satz-performance/"
					>https://videoex.ch/videoex/festival-2021/programm-2021/expanded-cinema-and-live-acts/aura-satz-performance/
				</a>
			</p>
		</article>

		<article>
			<time datetime="2021-11-28">15 Sep - 28 Nov 2021</time><p>
				'Aboard my floating house' <strong>10e Triennale d’art contemporain</strong>, le Centre
				culturel d’Ottignies-Louvain-la-Neuve, Belgium <br />
				<a href="https://www.magmatriennale10.be/">https://www.magmatriennale10.be/</a>
			</p>
		</article>

		<article>
			<time datetime="2021-10-31">9 Sep - 31 Oct 2021 </time><p>
				'FIGURE/S: drawing after Bellmer', group show at the <strong>Drawing Room</strong>, London <br
				/>
				<a href="https://drawingroom.org.uk/exhibitions/figure-s-drawing-after-bellmer"
					>https://drawingroom.org.uk/exhibitions/figure-s-drawing-after-bellmer
				</a>
			</p>
		</article>

		<article>
			<time datetime="2021-07-10">10 July 2021</time><p>
				'The Grief Interval', new commission with music by Sarah Davachi for <strong
					>Abandon Normal Devices</strong
				>/AND Festival commission, Liverpool <br />
				<a href="https://www.andfestival.org.uk/events/the-grief-interval/"
					>https://www.andfestival.org.uk/events/the-grief-interval/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2021-07-02">2nd July 2021</time><p>
				Interview with Luke Fowler for EIP (Everything is Permitted), <strong
					>Clyde Built Radio
				</strong><br />
				<a href="https://soundcloud.com/clydebuiltradio/sets/cbr-2-7-21"
					>https://soundcloud.com/clydebuiltradio/sets/cbr-2-7-21
				</a>
			</p>
		</article>

		<article>
			<time datetime="2021-07-24">9th June - 24 July 2021 </time><p>
				(and touring into 2024) 'Seeing Sound' ICI group show curated by Barbara London, <strong
					>Kadist San Francisco</strong
				>
				<br />7th April Artist talk in conversation with Barbara London <br />
				<a href="http://curatorsintl.org/exhibitions/seeing-sound"
					>http://curatorsintl.org/exhibitions/seeing-sound</a
				>
				<a
					href="https://kadist.org/program/online-event-consider-the-drone-barbara-london-and-aura-satz-in-conversation/"
					><br />
					https://kadist.org/program/online-event-consider-the-drone-barbara-london-and-aura-satz-in-conversation/</a
				><br />
				<a href="https://kadist.org/program/seeing-sound-curated-by-barbara-london/"
					>https://kadist.org/program/seeing-sound-curated-by-barbara-london/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2021-06-01">1st June 2021</time><p>
				Online sound commission for 'Sonic Continuum' with music by Evelyn Glennie, <strong
					>Nottingham Contemporary</strong
				><br />
				<a href="https://thecontemporaryjournal.org/strands/sonic-continuum/the-listening-cobweb"
					>https://thecontemporaryjournal.org/strands/sonic-continuum/the-listening-cobweb
				</a><a
					href="https://www.nottinghamcontemporary.org/whats-on/sonic-continuum-expanded-listening/"
					><br
					/>https://www.nottinghamcontemporary.org/whats-on/sonic-continuum-expanded-listening/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2021-05-02">21 April - 2 May 2021</time><p>
				'Preemptive Listening' as part of <strong>CPH: Forum</strong>, Copenhagen <br />
				<a href="https://en.cphdox.dk/nyhed/cph-forum-projects-2021-revealed"
					>https://en.cphdox.dk/nyhed/cph-forum-projects-2021-revealed
				</a>
			</p>
		</article>

		<article>
			<time datetime="2021-03-01">24 Feb - 1 March 2021 </time><p>
				Visiting artist in residence, <strong>School of Arts Institute of Chicago</strong>,
				including artist talks and film screenings <br />
				<a href="http://www.saic.edu/cate">http://www.saic.edu/cate </a>
			</p>
		</article>

		<article>
			<time datetime="2020-12-30">17-30 Dec 2020</time><p>
				<strong> In Process</strong> online screening of works by (((arc))) and Sophia Wang / Paul DeMarinis
				/ Aura Satz, curated by Tanya Zimbardo and Diego Villalobos
				<br />
				<a
					href="https://inprocessprojects.com/?fbclid=IwAR2-KETm9DAsqh5KtlA4Yj3y_uF079WvCsZANvy4pPvUaaH0epqSwFaLO94"
					>https://inprocessprojects.com/?fbclid=IwAR2-KETm9DAsqh5KtlA4Yj3y_uF079WvCsZANvy4pPvUaaH0epqSwFaLO94
				</a>
			</p>
		</article>

		<article>
			<time datetime="2020-11-25">25 November 2020</time><p>
				Sound Art: A Conversation with Aura Satz, at <strong>CRASSH, Cambridge University</strong>
				<br />
				<a href="http://www.crassh.cam.ac.uk/gallery/video/sound-art-a-conversation"
					>http://www.crassh.cam.ac.uk/gallery/video/sound-art-a-conversation
				</a>
			</p>
		</article>

		<article>
			<time datetime="2020-10-25">22-25 October 2020</time><p>
				'Making a Diagonal with Music' screening as part of<strong>
					She Makes Noise festival, La Casa Encendida</strong
				>, Madrid <br />
				<a href="https://shemakesnoisefestival.tumblr.com/"
					>https://shemakesnoisefestival.tumblr.com/
				</a>
			</p>
		</article>

		<article>
			<time datetime="2020-09-11">11 Sep 2020</time><p>
				Online premiere of 'Tone Transmissions, 2020, telephone sound composition with Eliane
				Radigue, Julia Eckhardt and Rhodri Davies, featured on the <strong>Science Museum</strong> website
				as part of 'The Exchange' an online exhibition <br />
				<a
					href="https://crossedlines.co.uk/tone-transmissions/ https://blog.sciencemuseum.org.uk/the-exchange/"
					>https://crossedlines.co.uk/tone-transmissions/
					https://blog.sciencemuseum.org.uk/the-exchange/
				</a>
			</p>
		</article>

		<article>
			<time datetime="2020-09-08">25 August - 8 Sep 2020 </time><p>
				'Making a Diagonal with Music' shortlisted for Indiemusic competition, <strong
					>IndieLisboa International Film Festival</strong
				>, Lisbon<br />
				<a href="https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/"
					>https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/</a
				><br />
				<a href="https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/"
					>https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/</a
				>
			</p>
		</article>

		<article>
			<time datetime="null">19-25 August 2020</time><p>
				'Preemptive Listening' screening at <strong
					>MIEFF (Moscow International Experimental Film Festival)</strong
				>, Garage, Moscow <br />
				<a href="https://mieff.com/events/jKQhXNUoR"
					>https://mieff.com/events/liberation<br />
					https://mieff.com/events/jKQhXNUoR</a
				>
			</p>
		</article>

		<article>
			<time datetime="2020-10-25">11 August - 25 October 2020 </time><p>
				'INVISIBLE' exhibition touring to <strong>Science Gallery Dublin</strong><a
					href="https://dublin.sciencegallery.com/news/2020/invisiblesciencegallerydublin130320310520"
					><br />
					https://dublin.sciencegallery.com/news/2020/invisiblesciencegallerydublin130320310520</a
				>
			</p>
		</article>

		<p></p>

		<article>
			<time datetime="null">1-14 August 2020</time><p>
				'Making a Diagonal with Music' shortlisted for EX-now competition,<strong>
					EXis Experimental Film and Video Festival</strong
				>, Seoul<br />
				<a href="https://ex-is.org/exnow/-making-a-diagonal-with-music-aura-satz"
					>https://ex-is.org/exnow/-making-a-diagonal-with-music-aura-satz</a
				>
			</p>
		</article>

		<article>
			<time datetime="2020-07-14">14 July 2020</time><p>
				<strong>DRAF (David Roberts Arts Foundation) </strong>Podcast: Ned McDonell in conversation
				with Anne Hardy and Aura Satz<br />
				<a href="http://davidrobertsartfoundation.com/broadcasts/"
					>http://davidrobertsartfoundation.com/broadcasts/</a
				><a href="https://draf-broadcasts.simplecast.com/episodes/anne-hardy-and-aura-satz"
					><br />
					https://draf-broadcasts.simplecast.com/episodes/anne-hardy-and-aura-satz</a
				>
			</p>
		</article>

		<article>
			<time datetime="null">10 July -1 August 2020</time><p>
				'Euphonia', online group show curated by Diana Policarpo, <strong>Hangar</strong>, Lisbon. <br
				/>
				<a href="https://hangar.com.pt/online/euphonia/">https://hangar.com.pt/online/euphonia/</a>
			</p>
		</article>
		<article>
			<time datetime="2020-26-06">26 June 2020</time>
			<p>
				'Art in the Age of Anxiety', group show at <strong>Sharjah Art Foundation</strong>, Sharjah,
				curated by Omar Kholeif <br />
				<a href="http://sharjahart.org/sharjah-art-foundation/projects/wail-that-was-warning-2018"
					>http://sharjahart.org/sharjah-art-foundation/exhibitions/art-in-the-age-of-anxiety
					<br />
					http://sharjahart.org/sharjah-art-foundation/projects/wail-that-was-warning-2018</a
				>
			</p>
		</article>
		<article>
			<time datetime="2020-05-31">31 May 2020</time><p>
				'Instructions for Living a Life' Podcast for <strong>Block Universe </strong>by Sarah Shin
				&amp; M.J. Harding w/ Claire-Louise Bennett, Field Recordings, Bhanu Kapil, Nisha <br />
				Ramayya, Tabita Rezaire, Himali Singh Soin, and Aura Satz.<br />
				<a href="https://soundcloud.com/block-universe-festival/instructions-for-living-a-life"
					>http://blockuniverse.co.uk/performance-by-sarah-shin/<br />
					https://soundcloud.com/block-universe-festival/instructions-for-living-a-life</a
				>
			</p>
		</article>

		<article>
			<time datetime="2020-05-18">13-18 May 2020</time><p>
				'Making a Diagonal with Music' shortlisted for competition at <strong
					>Oberhausen International Short Film Festival</strong
				>, Oberhausen<br />
				<a href="https://www.kurzfilmtage.de/en/festival/competition-selection/"
					>https://www.kurzfilmtage.de/en/festival/competition-selection/</a
				>
			</p>
		</article>

		<article>
			<time datetime="2020-06-21">4 May - 21 June 2020</time><p>
				'All at Once' online group show curated by Regine Basha, <strong>Fridman Gallery</strong>,
				NY <br />
				<a
					href="https://9e6a243e-2eff-4765-a8af-7648f8204c6f.filesusr.com/ugd/710937_ef75ab4652a8427daf34b12922cf2bd7.pdf"
					>https://9e6a243e-2eff-4765-a8af-7648f8204c6f.filesusr.com/ugd/710937_ef75ab4652a8427daf34b12922cf2bd7.pdf<br
					/>
				</a><a href="https://www.fridmangallery.com/all-at-once"
					>https://www.fridmangallery.com/all-at-once
				</a><br />
			</p>
		</article>

		<article>
			<time datetime="2020-02-19">5-19 Feb 2020</time><p>
				'Making a Diagonal with Music', US premiere at <strong>Doc Fortnight</strong> at
				<strong>MoMA</strong>, NY<br />
				<a href="https://www.moma.org/calendar/film/5193">https://www.moma.org/calendar/film/5193</a
				>
				<a
					href="https://press.moma.org/wp-content/uploads/2019/12/Doc-Fortnight-2020-Screening-Schedule-and-Descriptions.pdf"
					><br />
					https://press.moma.org/wp-content/uploads/2019/12/Doc-Fortnight-2020-Screening-Schedule-and-Descriptions.pdf</a
				>
			</p>
		</article>

		<article>
			<time datetime="2020-02-03">22 Jan-3 Feb 2020</time><p>
				'Making a Diagonal with Music', world premiere at <strong
					>International Film Festival Rotterdam</strong
				>, Rotterdam <br />
				<a href="https://iffr.com/en/2020/films/making-a-diagonal-with-music"
					>https://iffr.com/en/2020/films/making-a-diagonal-with-music</a
				>
			</p>
		</article>

		<article>
			<time datetime="2019-12-09">3-99 Dec 2019</time><p>
				'Preemptive Listening' shortlisted for Alteraciones prize, <strong
					>31º Aguilar Film Festival</strong
				>, Palencia<br />
				<a
					href="https://www.aguilarfilmfestival.es/cortometraje/preemptive-listening-part-1-the-fork-in-the-road/"
					>https://www.aguilarfilmfestival.es/cortometraje/preemptive-listening-part-1-the-fork-in-the-road/</a
				>
			</p>
		</article>
		<article>
			<time datetime="2019-12-07">7 Dec 2019</time>
			<p>
				'Resonant Frequencies' performance at Goldsmiths, organised by <strong
					>David Roberts Art Foundation</strong
				>, London <a
					href="http://davidrobertsartfoundation.com/exhibition/draf-x-goldsmiths-resonant-frequencies-summit-7-dec-2019-at-draf-london/"
					><br />
					http://davidrobertsartfoundation.com/exhibition/draf-x-goldsmiths-resonant-frequencies-summit-7-dec-2019-at-draf-london/</a
				>
			</p>
		</article>
		<article>
			<time datetime="2019-11-08">8 Nov 2019</time><p>
				Unexpected Views' at <strong>National Gallery</strong>, London<br />
				<a href="https://www.nationalgallery.org.uk/events/unexpected-views"
					>https://www.nationalgallery.org.uk/events/unexpected-views
				</a>
			</p>
		</article>

		<article>
			<time datetime="2019-10-20">9-20 Oct 2019</time><p>
				'Preemptive Listening' shortlisted for Nouveaux Alchemistes prize,<strong>
					Festival du Nouveau Cinema</strong
				>, Montreal<br />
				<a href="https://nouveaucinema.ca/fr/films/preemptive-listening-part-1-the-fork-in-the-road"
					>https://nouveaucinema.ca/fr/films/preemptive-listening-part-1-the-fork-in-the-road
				</a>
			</p>
		</article>

		<article>
			<time datetime="2019-09-22">19-22 Sep 2019</time><p>
				Preemptive Listening' Exhibition and artist talk, <strong
					>Berwick Film and Media festival</strong
				>, Berwick upon tweed<br />
				<a href="https://www.bfmaf.org/programme/2019/specialevents/aura-satz"
					>https://www.bfmaf.org/programme/2019/specialevents/aura-satz
				</a>
			</p>
		</article>

		<article>
			<time datetime="2019-08-25">23-25 Aug 2019</time><p>
				Mini retrospective screening at Jupiter Rising at <strong>JupiterArtland</strong>, Scotland<br
				/>
				<a href="http://www.jupiterrising.art/">http://www.jupiterrising.art/ </a>archive/2019
			</p>
		</article>

		<article>
			<time datetime="2019-07-06">6 July 2019</time><p>
				<br />'Telling Invents Told' in conversation with Lis Rhodes, <strong
					>Nottingham Contemporary</strong
				>, Nottingham
				<br />
				<a href="https://nottinghamcontemporary.org/whats-on/lis-rhodes-dissident-lines/"
					>https://nottinghamcontemporary.org/whats-on/lis-rhodes-dissident-lines/</a
				>
			</p>
		</article>
		<article>
			<time datetime="2019-07-06">June - Sep 2019</time>
			<p>
				'Fire: Flashes to Ashes in British Art 1692-2019', Group exhibition at <strong
					>Royal West of England Academy</strong
				>, Bristol (with catalogue)<br />
				<a
					href="https://shop.rwa.org.uk/collections/events/products/fire-flashes-to-ashes-in-british-art-1692-2019"
					>https://shop.rwa.org.uk/collections/events/products/fire-flashes-to-ashes-in-british-art-1692-2019</a
				>
			</p>
		</article>
		<article>
			<time datetime="2019-07-06">7–9 June 2019</time>
			<p>
				'Crossroads', San Francisco Cinematheque, <strong>SFMOMA</strong>, San Francisco <br />
				<a href="http://www.sfcinematheque.org/screenings/crossroads-2019-program-6/"
					>http://www.sfcinematheque.org/screenings/crossroads-2019-program-6/</a
				>
				<br />
				<a href="https://sfmoma.org/event/program-6-our-minds-were-light-years-distant/"
					>https://sfmoma.org/event/program-6-our-minds-were-light-years-distant/</a
				>
			</p>

			<article>
				<time datetime="2019-08-26">6 June – 26 August 2019</time><p>
					‘Dark Matter: 95% of the Universe is Missing’, group show, <strong>Science Gallery</strong
					>, London<br />
					<a href="https://london.sciencegallery.com/news/2019-seasons-announced"
						>https://london.sciencegallery.com/news/2019-seasons-announced<br />
					</a><a
						href="https://dublin.sciencegallery.com/news/2020/invisiblesciencegallerydublin130320310520"
						>https://london.sciencegallery.com/seasons/dark-matter/exhibition/tuning-interference-dark-matter-radio</a
					>
				</p>
			</article>

			<article>
				<time datetime="2019-05-22">22nd May 2019</time><p>
					'Siren Voices with Aura Satz : Rewiring Memories of Technology', in conversation with
					Marina Warner<br />
					<strong>Birkbeck Artsweek</strong><a
						href="https://www.eventbrite.co.uk/e/siren-voices-with-aura-satz-rewiring-memories-of-technology-tickets-59047757432"
						><br />
						https://www.eventbrite.co.uk/e/siren-voices-with-aura-satz-rewiring-memories-of-technology-tickets-59047757432</a
					>
				</p>
			</article>

			<article>
				<time datetime="2019-05-31">1-31st May 2019</time><p>
					'Dial Tone Drone', solo show at<strong> Auditorium Roma - Sound Corner</strong>, presented
					by Valentina Ravaglia <br />
					Auditorium Parco della Musica, Rome<br />
					<a href="https://www.auditorium.com/evento/aura_satz-20625.html"
						>https://www.auditorium.com/evento/aura_satz-20625.html
					</a>
				</p>
			</article>

			<article>
				<time datetime="2019-03-27">27th March 2019</time><p>
					Artist's film screening followed by talk at <strong>Kask cinema</strong>, Ghent<br />
					<a href="https://www.kaskcinema.be/kaskcinema/vertoning/aura_satz"
						>https://www.kaskcinema.be/kaskcinema/vertoning/aura_satz</a
					>
				</p>
			</article>

			<article>
				<time datetime="2019-03-08">8th March 2019</time><p>
					To coincide with International Women's day, Jo Hutton and Louise Gray are <br />
					joined by Fari Bradley, Aura Satz and Beatriz Ferreyra discussing women’s <br />
					place in the history of electroacoustic music, <strong>Resonance FM</strong><a
						href="https://www.resonancefm.com/schedule/2019-03-08"
						><br />
						https://www.resonancefm.com/schedule/2019-03-08
					</a>
				</p>
			</article>

			<article>
				<time datetime="2019-01-23">23 Jan 2019</time><p>
					Slow Looking at Art, broadcast on<strong> BBC radio 3</strong>s 'Free Thinking' Ways of <br
					/>
					Seeing with artists Michael Craig-Martin &amp; Aura Satz, scientist Daniel Glaser and art writer
					Kelly Grovier. <br />
					<a href="https://www.bbc.co.uk/programmes/m00023jf"
						>https://www.bbc.co.uk/programmes/m00023jf</a
					>
				</p>
			</article>
			<article>
				<time datetime="2019-01-02">8 Oct - 2 Jan 2019</time><p>
					'Machines of Loving Grace', Nat Castañeda, Aura Satz and Erica Scourti, Three-person
					exhibition at <strong>High Line Art</strong>, New York<br />
					<a href="http://art.thehighline.org/project/machines-of-loving-grace/"
						>http://art.thehighline.org/project/machines-of-loving-grace/ <br />
					</a>
				</p>
			</article>
			<article>
				<time datetime="2019-02-03">24 Jan - 3 Feb 2019</time><p>
					'Blackout', group exhibition at <strong>Kunsthal Rotterdam</strong> (touring to Ambika P3,
					London; GreyLight Projects, Brussels) <br />
					<a href="https://www.kunsthal.nl/en/plan-your-visit/exhibitions/IFFR-Blackout/"
						>https://www.kunsthal.nl/en/plan-your-visit/exhibitions/IFFR-Blackout/ <br /></a
					><a href="https://iffr.com/en/blog/blackout-illuminates-forgotten-histories"
						>https://iffr.com/en/blog/blackout-illuminates-forgotten-histories</a
					>
				</p>
			</article>

			<article>
				<time datetime="2019-01-26">18 - 26 January 2019 </time><p>
					'Preemptive Listening' shown as part of the <strong>Sharjah Film Platform</strong>,
					Sharjah<br />
					<a href="http://sharjahart.org/sharjah-art-foundation/programme/sharjah-film-platform"
						>http://sharjahart.org/sharjah-art-foundation/programme/sharjah-film-platform</a
					>
				</p>
			</article>

			<article>
				<time datetime="2018-11-09">9 Nov 2018</time><p>
					Performance as part of <strong>'Nature as Data'</strong> exhibition, <strong
						>Jing'an Sculpture Park</strong
					>, Shanghai <br /><a href="http://videoclub.org.uk/nature-as-data/"
						>http://videoclub.org.uk/nature-as-data/
					</a>
				</p>
			</article>

			<article>
				<time datetime="2018-11-03">3 Nov 2018</time><p>
					In conversation with Christoph Cox at <strong>the Kitchen</strong>, NY, now online via <strong
						>Artforum</strong
					>
					<a
						href="https://www.artforum.com/video/christoph-cox-on-sonic-flux-sound-art-and-metaphysics-at-the-kitchen-november-3-2018-77736"
						><br />
						https://www.artforum.com/video/christoph-cox-on-sonic-flux-sound-art-and-metaphysics-at-the-kitchen-november-3-2018-77736
					</a>
				</p>
			</article>

			<article>
				<time datetime="2018-12-21">7 Nov - 21 Dec 2018</time><p>
					'Listen, Recalibrate', Solo show at <strong>Fridman Gallery</strong>, New York <br />
					Exhibition catalogue with essays by Christoph Cox, David Crowley and Barbara London<br />
					<a href="https://www.fridmangallery.com/aura-satz"
						>https://www.fridmangallery.com/aura-satz <br /></a
					><a href="https://www.fridmangallery.com/listen-recalibrate"
						>https://www.fridmangallery.com/listen-recalibrate</a
					>
				</p>
			</article>

			<article>
				<time datetime="2018-10-14">3-14 October 2018</time><p>
					'Entangled Nightvisions' shortlisted for Les Nouveaux Alchimistes competition at <strong
						>Montreal Festival du nouveau cinéma (FNC)</strong
					>, Montreal<br />
					<a href="http://www.nouveaucinema.ca/en/">http://www.nouveaucinema.ca/en/</a>
				</p>
			</article>

			<article>
				<time datetime="2019-03-08">08 March 2019</time><p>
					'Mappe Sonore', Micol Assael, Christina Kubisch and Aura Satz, Three-person exhibition at
					<strong>KunstRaum Goethe-Institut</strong>, Rome<br />
					<a href="https://www.goethe.de/ins/it/it/sta/rom/ver/krg/map.html"
						>https://www.goethe.de/ins/it/it/sta/rom/ver/krg/map.html <br />
					</a>
				</p>
			</article>

			<article>
				<time datetime="2018-07-22">20-22 July 2018</time><p>
					'The Surface of the Sun', Group show at <strong
						>Contemporary Art Museum of Estonia (EKKM)</strong
					>, Tallin <br />
					<a href="http://www.ekkm.ee/naitused/the-surface-of-the-sun/"
						>http://www.ekkm.ee/naitused/the-surface-of-the-sun/</a
					><br />
				</p>
			</article>

			<article>
				<time datetime="2018-06-10">7-10 June 2018</time><p>
					'Entangled Nightvisions' screening at <strong>CROSSROADS</strong>, <strong
						>San Francisco Cinematheque and SFMOMA</strong
					>, San Francisco<br />
					<a href="http://www.sfcinematheque.org/screenings/crossroads-program-7/"
						>http://www.sfcinematheque.org/screenings/crossroads-program-7/</a
					><a href="https://www.sfmoma.org/event/program-7-edgeless-things-communicate/"
						><br />
						https://www.sfmoma.org/event/program-7-edgeless-things-communicate/</a
					>
				</p>
			</article>

			<article>
				<time datetime="2018-05-07">7 May 2018</time><p>
					'Entangled Nightvisions' screening at <strong
						>Alchemy Film and Moving Image Festival</strong
					>, Hawick, Scotland<br />
					<a href="https://alchemyfilmfestival.org.uk/2018/investigations/"
						>https://alchemyfilmfestival.org.uk/2018/investigations/</a
					>
				</p>
			</article>

			<article>
				<time datetime="2018-04-29">29 April 2018</time><p>
					Binaural version of 'The Trembling Line' installed as part of <strong
						>F(T) festival</strong
					>, hosted at <strong>Radialsystem V</strong>, Berlin<br />
					<a href="https://www.ftfestival.org/about">https://www.ftfestival.org/about</a><br />
					<a href="https://radialsystem.de/?lang=en">https://radialsystem.de/?lang=en</a><br />
				</p>
			</article>

			<article>
				<time datetime="2018-02-04">4 Feb 2018</time><p>
					'Entangled Nightvisions' world premiere at the <strong
						>International Film Festival Rotterdam</strong
					>,<br />
					<a href="https://iffr.com/en/2018/films/entangled-nightvisions"
						>https://iffr.com/en/2018/films/entangled-nightvisions</a
					>
				</p>
			</article>

			<article>
				<time datetime="2017-11-30">30 Nov 2017</time><p>
					'The Wail that was Warning and the Institute of Signal and Noise', Aura Satz and David
					Toop,<strong> London Review Bookshop</strong>, London<a
						href="https://www.londonreviewbookshop.co.uk/events/2017/11/the-institute-of-signals-and-noise-and-the-wail-that-was-warning-aura-satz-and-david-toop"
						><br />
						https://www.londonreviewbookshop.co.uk/events/2017/11/the-institute-of-signals-and-noise-and-the-wail-that-was-warning-aura-satz-and-david-toop</a
					>
				</p>
			</article>

			<article>
				<time datetime="2017-11-09">9 Nov 2017</time><p>
					'Kepler's Trial’ at <strong>V&amp;A</strong>, London<br />
					An Opera by Tim Watts based on Ulinka Rublack's book 'The Astronomer &amp; the Witch’, with
					film elements by Aura Satz<br />
					<a href="https://www.vam.ac.uk/event/KkM6yGv4/kepler-s-trial"
						>https://www.vam.ac.uk/event/KkM6yGv4/kepler-s-trial</a
					><br />
					<a href="http://keplers-trial.com/">http://keplers-trial.com/</a>
				</p>
			</article>

			<article>
				<time datetime="2017-10-15">15 Oct 2017</time><p>
					<strong>'Field Studies 2017: Listening after Pauline Oliveros’</strong>, Leeds, various
					venues<br />
					<a href="http://www.field-studies.org/">http://www.field-studies.org/</a>
				</p>
			</article>

			<article>
				<time datetime="2017-09-29">29 September 2017 - 14 January 2018</time><p>
					'STARS', Group exhibition at <strong>Lentos Museum</strong>, Linz <br />
					<a href="http://www.lentos.at/html/en/4130.aspx">http://www.lentos.at/html/en/4130.aspx</a
					><br />
				</p>
			</article>

			<article>
				<time datetime="2017-05-29">29 May 2017 - 11 March 2018</time><p>
					'Open Space 2017: Re-envisioning the Future', group exhibition at <strong
						>NTT InterCommunication Center (ICC)</strong
					>, Tokyo <br />
					<a
						href="http://www.ntticc.or.jp/en/exhibitions/2017/open-space-2017-re-envisioning-the-future/"
						>http://www.ntticc.or.jp/en/exhibitions/2017/open-space-2017-re-envisioning-the-future/</a
					><br />
					<a href="http://www.ntticc.or.jp/en/archive/participants/aura-satz/"
						>http://www.ntticc.or.jp/en/archive/participants/aura-satz/</a
					>
				</p>
			</article>

			<article>
				<time datetime="2017-08-27">27 August 2017</time><p>
					'As Above, So below: Portals, Visions, Spirits &amp; Mystics', group exhibition at <strong
						>IMMA (Irish Museum of Modern Art)</strong
					>, Dublin <br />
					<a href="http://www.imma.ie/en/page_237202.htm">http://www.imma.ie/en/page_237202.htm</a>
				</p>
			</article>

			<article>
				<time datetime="2016-11-20">20 November 2016</time><p>
					'Where there is Sea, there are Pirates / The Imagination is a Political Act', group
					exhibition at <strong>3137 gallery</strong>, Athens<br />
					<a href="http://www.3137.gr/pirates">http://www.3137.gr/pirates</a>
				</p>
			</article>

			<article>
				<time datetime="2016-11-02">2 November 2016</time><p>
					Little Doorways to Paths Not Yet Taken screening at <strong>the Showroom</strong>, London<a
						href="http://www.theshowroom.org/events/colloquium-sound-art-music-book-launch-performance-and-screening"
						><br />
						http://www.theshowroom.org/events/colloquium-sound-art-music-book-launch-performance-and-screening
					</a>
				</p>
			</article>

			<article>
				<time datetime="2016-10-28">28-29 October 2016</time>
				<p>
					'Kepler's Trial' An Opera by Tim Watts based on Ulinka Rublack's book 'The Astronomer
					&amp; the Witch', with film elements by Aura Satz Premieres at <strong
						>St John's College</strong
					>, Cambridge<br />
					<a href="http://keplers-trial.com/">http://keplers-trial.com/ </a>
				</p>
			</article>
			<article>
				<time datetime="2016-10-09">9 October 2016</time><p>
					'Between the Bullet and the Hole' screening as part of <strong
						>Experimenta, London Film Festival</strong
					>, BFI <br />
					<a
						href="https://whatson.bfi.org.uk/lff/Online/default.asp?BOparam::WScontent::loadArticle::permalink=reinterpretationsofform"
						>https://whatson.bfi.org.uk/lff/Online/default.asp?BOparam::WScontent::loadArticle::permalink=reinterpretationsofform</a
					>
				</p>
			</article>

			<article>
				<time datetime="2016-10-16">16 October 2016</time><p>
					'Little Doorways to Paths Not Yet Taken' shortlisted for Nouvaux Alchemistes, <strong
						>45th Festival du Nouveau Cinema</strong
					>, Montreal<br />
					<a href="http://www.nouveaucinema.ca/en/films/little-doorways-to-paths-not-yet-taken"
						>http://www.nouveaucinema.ca/en/films/little-doorways-to-paths-not-yet-taken</a
					>
				</p>
			</article>

			<article>
				<time datetime="2016-10-28">28 October 2016</time><p>
					'Eyelids Leaking Light', Solo show at <strong>Clifford Gallery</strong> and artist's talk at
					Hamilton NY<br />
					<a href="http://merz.colgate.edu/index.html">http://merz.colgate.edu/index.html</a>
				</p>
			</article>

			<article>
				<time datetime="2016-10-03">3 October 2016</time><p>
					Screening of ‘In and Out of Synch’ <strong>Flaherty NYC</strong>, curated by Genevieve Yue
					and Chris Stults, <strong>Anthology Film Archives</strong>, New York <br />
					<a
						href="http://anthologyfilmarchives.org/film_screenings/calendar?view=list&month=10&year=2016#showing-46368"
						>http://anthologyfilmarchives.org/film_screenings/calendar?view=list&amp;month=10&amp;year=2016#showing-46368</a
					>
					<br /><a href="http://flahertyseminar.org/flaherty-nyc/flaherty-fall-2016/"
						>http://flahertyseminar.org/flaherty-nyc/flaherty-fall-2016/
					</a>
				</p>
			</article>

			<article>
				<time datetime="2016-10-01">1 October 2016</time><p>
					'Her Marks, a Measure' solo show at <strong>Fridman Gallery</strong>, New York<br />
					Exhibition opening and catalogue launch, with newly commissioned essays by Justine Ludwig,
					Erika Balsom and Omar Khalif Artist in conversation with Justine Ludwig 1st of Oct 5pm (addition
					film screenings 26th Oct and 2nd Nov 7pm)<br />
					<a href="http://www.fridmangallery.com/aura-satz"
						>http://www.fridmangallery.com/aura-satz
					</a>
				</p>
			</article>

			<article>
				<time datetime="2016-07-31">31 July 2016</time><p>
					'Between the Bullet and the Hole' shortlisted for the EUROPEAN SHORTS Competition,
					<strong>New Horizons International Film Festival</strong>, Wroclaw, Poland<br />
					<a
						href="http://www.nowehoryzonty.pl/film.do?id=8613&ind=rodzajTytulu%3d3%26edycjaFest%3d16%26typOpisu%3d0%26typ%3daz%26page%3d1"
						>http://www.nowehoryzonty.pl/film.do?id=8613&amp;ind=rodzajTytulu%3d3%26edycjaFest%3d16%26typOpisu%3d0%26typ%3daz%26page%3d1</a
					><a href="http://www.nowehoryzonty.pl/index.do?lang=en"></a>
				</p>
			</article>

			<article>
				<time datetime="2016-06-26">26 June 2016</time><p>
					Premiere of short film about Laurie Spiegel as part of '<strong>Deep Minimalism</strong>'
					festival curated by Oliver Coates, Southbank Centre<br />
					<a href="http://www.southbankcentre.co.uk/whatson/festivals-series/deep"
						>http://www.southbankcentre.co.uk/whatson/festivals-series/deep</a
					>
				</p>
			</article>

			<article>
				<time datetime="2016-06-06">18 March - 6 June 2016</time><p>
					'The future is already here - it's just not evenly distributed,' <strong
						>The Sydney Biennale</strong
					>, curated by Stephanie Rosenthal<br />
					<a href="https://www.biennaleofsydney.com.au/20bos/artists/satz-aura/"
						>https://www.biennaleofsydney.com.au/20bos/artists/satz-aura/</a
					>
				</p>
			</article>

			<article>
				<time datetime="2016-02-18">18 Feb 2016</time><p>
					UK premiere of Between the Bullet and the Hole, alongside other films at <strong
						>Whitechapel Gallery</strong
					>, London<br />
					Followed by discussion with Morgan Quaintance and David Alan Grier <br />
					<a href="http://www.whitechapelgallery.org/events/aura-satz-bullet-hole/"
						>http://www.whitechapelgallery.org/events/aura-satz-bullet-hole/</a
					>
				</p>
			</article>

			<article>
				<time datetime="null">27 Jan- 7 Feb</time>
				<p>
					<br />'Between the Bullet and the Hole, European premiere at the <strong
						>International Film Festival Rotterdam</strong
					>, Rotterdam<br />
					<a href="https://iffr.com/en/2016/films/between-the-bullet-and-the-hole"
						>https://iffr.com/en/2016/films/between-the-bullet-and-the-hole</a
					>
				</p>
			</article>
			<article>
				<time datetime="2016-03-20">20 March 2016</time><p>
					'Her Marks, a Measure', Solo Show at <strong>Dallas Contemporary</strong>, Dallas, Texas<br
					/>
					<a href="http://www.dallascontemporary.org/current-exhibitions.html"
						>http://www.dallascontemporary.org/</a
					>
				</p>
			</article>

			<article>
				<time datetime="2015-12-03">3 December 2015 - 23 January 2016</time><p>
					'The Trembling Line', Solo show at <strong>John Hansard Gallery</strong>, Southampton <a
						href="http://www.hansardgallery.org.uk/event-detail/199-aura-satz-the-trembling-line/"
						><br />
						http://www.hansardgallery.org.uk/event-detail/199-aura-satz-the-trembling-line/
					</a>
				</p>
			</article>

			<article>
				<time datetime="2015-11-17">17 November 2015</time><p>
					Chromatic Aberration' Screening as part of the International Competition at the <strong
						>17th International Film Festival Bratislava</strong
					>, Slovakia <br />
					<a href="http://www.iffbratislava.com/">http://www.iffbratislava.com/</a>
				</p>
			</article>

			<article>
				<time datetime="2015-11-01">1 November 2015</time><p>
					'Chromatic Aberration' Screening as part of the Fascinations Competition at the <strong
						>19th Jihlava International Documentary Film Festival</strong
					>, Jihlava, Czech Republic <br />
					<a href="http://www.dokument-festival.com/">http://www.dokument-festival.com/</a>
				</p>
			</article>

			<article>
				<time datetime="2015-10-16">16 October 2015</time><p>
					'Chromatic Aberration' Screening as part of the <strong
						>59th BFI London Film Festival
					</strong>BFI Southbank, NFT3, London <br />
					<a
						href="https://whatson.bfi.org.uk/LFF/Online/default.aspBOparam::WScontent::loadArticle::permalink=stuffoffilm"
						>https://whatson.bfi.org.uk/LFF/Online/default.aspBOparam::WScontent::loadArticle::permalink=stuffoffilm</a
					>
				</p>
			</article>

			<article>
				<time datetime="2015-10-18">18 October 2015</time><p>
					'Chromatic Aberration' Screening as part of FNC Lab Competition at the <strong
						>44th Festival du nouveau cinéma</strong
					>, Montreal, Canada<br />
					<a href="http://www.nouveaucinema.ca/en/films/chromatic-aberration"
						>http://www.nouveaucinema.ca/en/films/chromatic-aberration</a
					>
				</p>
			</article>

			<article>
				<time datetime="2015-10-14">24 September - 14 October 2015</time><p>
					'Onomatopoeic Alphabet' screening as part of <strong
						>Performance, Architecture, Materials</strong
					>, Sweden curated by Marianne Mulvey<br />
					<a href="http://www.videogud.se/innehall/24-september-14-oktober-aura-satz/"
						>http://www.videogud.se/innehall/24-september-14-oktober-aura-satz/</a
					>
				</p>
			</article>

			<article>
				<time datetime="2015-04-26">26 April 2015</time><p>
					‘Eyelids Leaking Light', Solo show at <strong>George Eastman Museum</strong>, Rochester,
					New York<br />
					<a href="http://www.eastmanhouse.org/exhibitions/upcoming.php"
						>http://www.eastmanhouse.org/exhibitions/upcoming.php</a
					>
				</p>
			</article>

			<article>
				<time datetime="2014-11-15/2015-01-09">15 Nov 2014 - 9 January 2015</time><p>
					‘Dial Tone Drone’, New sound Commission for <strong>Telephone</strong>, outside Royal
					Academy London, featuring Pauline Oliveros and Laurie Spiegel<a
						href="http://measure.org.uk/exhibitions/telephone/"
						><br />
						http://measure.org.uk/exhibitions/telephone/</a
					><a href="http://measure.org.uk/category/news/"></a><br />
					15th Nov - Launch performance with Elaine Mitchener and Jennifer Walshe at <strong
						>Hayward Gallery</strong
					><br />
					<a href="http://www.southbankcentre.co.uk/whatson/mirrorcity-23-london-artists-86590"
						>http://www.southbankcentre.co.uk/whatson/mirrorcity-23-london-artists-86590</a
					>
				</p>
			</article>

			<article>
				<time datetime="2014-10-31/2015-01-11">31 October 2014 - 11 January 2015</time><p>
					'They Used to Call it the Moon', <strong>Baltic</strong>, group exhibition curated by
					Alessandro Vincintelli<br />
					<a
						href="https://www.balticmill.com/whats-on/exhibitions/detail/they-used-to-call-it-the-moon"
						>https://www.balticmill.com/whats-on/exhibitions/detail/they-used-to-call-it-the-moon</a
					>
				</p>
			</article>

			<article>
				<time datetime="2014-11-21">21 November 2014</time><p>
					'Chromatic Aberration’, Solo show at the <strong>Gallery, Tyneside Cinema</strong>,
					Newcastle<br />
					<a
						href="https://www.tynesidecinema.co.uk/whats-on/art/events-exhibitions/chromatic-aberration"
						>https://www.tynesidecinema.co.uk/whats-on/art/events-exhibitions/chromatic-aberration</a
					>
				</p>
			</article>

			<article>
				<time datetime="2014-10-14/2015-01-05">14 October 2014 - 5 January 2015</time><p>
					‘Mirror City: London artists on fiction and reality’, Group exhibition at
					<strong>Hayward Gallery</strong> curated by Stephanie Rosenthal<br />
					<a href="http://www.southbankcentre.co.uk/whatson/mirrorcity-23-london-artists-86590"
						>http://www.southbankcentre.co.uk/whatson/mirrorcity-23-london-artists-86590</a
					>
				</p>
			</article>

			<article>
				<time datetime="2014-09-22">22 September 2014</time><p>
					‘Transform: Lis Rhodes and Aura Satz’, Screenings and conversation at <strong
						>Tate Britain</strong
					><br />
					<a
						href="http://www.tate.org.uk/whats-on/tate-britain/film/transform-lis-rhodes-and-aura-satz"
						>http://www.tate.org.uk/whats-on/tate-britain/film/transform-lis-rhodes-and-aura-satz</a
					>
				</p>
			</article>

			<article>
				<time datetime="2014-09-14">14 September 2014</time><p>
					‘Curiosity: Art and the Pleasures of Knowing’, Group exhibition Hayward Touring exhibition
					in association with Cabinet Magazine, curated by Brian Dillon<br />
					<strong>De Appel,</strong> Amsterdam <br />
					<a
						href="http://ticketing.southbankcentre.co.uk/find/hayward-gallery-and-visual-arts/hayward-touring/future/curiosity-art-and-the-pleasures-of-knowing"
						>http://ticketing.southbankcentre.co.uk/find/hayward-gallery-and-visual-arts/hayward-touring/future/curiosity-art-and-the-pleasures-of-knowing
					</a>
				</p>
			</article>

			<article>
				<time datetime="2011-10-10/2014-12-31">10 October 2011 - 31 December 2014</time><p>
					'Oramics: Atlantis Anew' film on display at the <strong>Science Museum</strong>, London<br
					/>
					<a href="http://www.iamanagram.com/oramics.php">http://www.iamanagram.com/oramics.php</a
					><br />
					<a href="http://www.sciencemuseum.org.uk/visitmuseum_old/galleries/oramics"
						>http://www.sciencemuseum.org.uk/visitmuseum_old/galleries/oramics</a
					>
				</p>
			</article>
		</article>
	</section>

	<style>
		section {
			display: flex;
			flex-direction: column;
			gap: 2em;
		}
		time {
			font-weight: bolder;
			color: var(--aura-blue);
		}
		@media (max-width: 888px) {
			section {
				padding: 0 2em;
			}
		}
	</style>
</MainHeader>
