---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image src="Walker-Aura2.jpg" />
	<section>
		<h3>
			In an age of intersecting political, man-made and ecological disasters, ‘Preemptive Listening’
			is an ode to the sirens that are and those that could be. Siren compositions from 20
			contemporary musicians form a resonant voice to ask; Does an alarm have to be alarming?
		</h3>
		<h2>Directed, written and edited by Aura Satz</h2>

		Producer: LONO Studio - Luke W Moody<br />

		Associate Producer: Tendai John Mutambu; Mika Taanila and Jussi Eerola (Testifilmi)<br />
		<br />

		Newly reimagined sirens composed by (in sequential order):<br /><br />

		Laurie Spiegel (astronomical planetary data)<br />

		Evelyn Glennie (percussion, thundersheet)<br />

		Maja Raatkje (voice, bells)<br />

		Anton Lukoszevieze (cello)<br />

		BJ Nilsen (wind, electronics)<br />

		Ilpo Väisänen (electronics)<br />

		Rhodri Davies (harp)<br />

		Mazen Kerbaj (trumpet)<br />

		FUJI||||||||||TA (insects, bats, DIY organ, electronics)<br />

		Laurie Spiegel (manatees, dogs, mice, electronica)<br />

		Sarah Davachi (organ and bells)<br />

		David Toop (fire, sparks, smoke, electronics)<br />

		Christina Kubisch (security electromagnetic sounds)<br />

		Moor Mother (sirens, electronica)<br />

		Raven Chacon (aeolian sound sculpture)<br />

		Elaine Mitchener (voice and whistles)<br />

		BJ Nilsen (wind, electronics)<br />

		Ilpo Väisänen (electronics)<br />

		Camille Norment (feedback sounds, voice)<br />

		Evelyn Glennie (cymbal sculpture, gong, percussion)<br />

		Mazen Kerbaj (49 trumpets ‘of Jericho’)<br />

		Horomona Horo (Taonga Puoro)<br />

		Debit (Mayan instruments, AI, Schumann resonance)<br />

		Evelyn Glennie (waterphone)<br />

		Raven Chacon (eagle bone whistle)<br />

		Kode 9 (sine wave shepard tones)<br />

		<br />
		and spoken by (in sequential order)<br /><br />

		Khalid Abdalla (actor and activist in the Arab Spring)<br />

		Daphne Carr (organizer and scholar on Police Sound)<br />

		Asantewaa Boykin and Niki Jones (co-founders of Mental Health First)<br />

		Erin Matariki Carr (lawyer and co-lead for RIVER)<br />

		Arturo Escobar (anthropologist and environmental philosopher)<br />
		<br />
		<br />

		Supported by: AHRC, OKRE<br />

		With additional support from: AND festival, Sonic Acts, Cinema Residency at Walker Arts Centre,
		Kunsternes Hus, Avek, Tyneside Cinema, Creative New Zealand, Artist Residency at EMPAC,
		CPH:FORUM 2021, RCA, Kodak<br /><br />

		<a href="https://preemptivelisteningfilm.com/">https://preemptivelisteningfilm.com/</a>
	</section>
</ProjectLayout>
