---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<section>
		<Title
			title="TURNTABLE TABLEAU & TALKING BOOK VENTRILOQUIST ACT"
			date="Sun 9 May 2010, 5pm"
			subtitle="ICA - Live Weekend 1 - Performance etc (produced by David Gryn)"
		>
			<p>
				Aura Satz presents a Talking Book Ventriloquist Act, followed by a live soundtrack to her
				film 'Sound Seam', performed by Alex Baker, Lina Hakim, Chris McCormack, Roger Orwell,
				Frances Scott and Aura Satz.
			</p>

			<p>
				'Sound Seam' is presented at the ICA as a silent film accompanied only by the surface noise
				of crackle, whilst the performers enact a live sculptural sound-track, a spiraling
				multivocal counterpart, a cornocupia of voices recounting a tale of mourning and technology,
				a forensic love-story of sorts in which the voices overlap, echo and pre-empt each other.
				The cinematic stage is animated by a voice-over carousel, a spinning tableau vivant, a canon
				of voices amplified by horns set on a rotating stage.
			</p>

			FREE ENTRY TO ALL EVENTS AND SCREENINGS<br />
			Institute of Contemporary Arts<br />
			The Mall, London SW1Y 5AH<br />
			www.ica.org.uk<br />
			Tel 020 7930 3647
		</Title>

		<Title
			title="TALKING BOOK VENTRILOQUIST ACT"
			date=""
			subtitle="Aura Satz presents a Talking Book Ventriloquist Act, as part of Magic Show"
		>
			<p>
				A Hayward Touring Exhibition from the Southbank Centre, curated by artist Jonathan Allen and
				writer Sally O'Reilly. Using a bespoke low-tech record player hand-cranked inside a book,
				Aura performs a ventriloquist act in which she engages in conversation with her pre-recorded
				self, a monologue-dialogue which evokes a voice inside a voice, a presence summoned
				simultaneously from the past, the present and the silent inner self.
			</p>
			Magic Cabaret<br />
			Chapter Gallery<br />
			Sat 31 July 2010 7pm

			<p>
				Magic Cabaret night features performances by Brian Catling, Aura Satz, Ian Saville and
				Bedwyr Williams. Plus rare archival films and artists' videos.
			</p>

			Chapter Gallery<br />
			Market road<br />
			Canton Cardiff CF5 1QE<br />
			Tel:+44(0)29 2031 1050<br />
			Email: enquiry@chapter.org<br />
			www.chapter.org
		</Title>

		<Title
			title="Talking Book Ventriloquist Act is also presented as part of Mikhail Karikis' 'Love Songs for Broken Machines'"
			date="Friday 22 October 2010 8pm"
			subtitle="Hall One, Kings Place"
		>
			<p>
				This event is a spectacle of music and video bringing together the hitch and glitch of
				failed technologies with the humour and romance of love songs. Contemporary vocal trio juice
				present the English premiere of specially commissioned songs by leading composers and pop
				artists including Gavin Bryars, Micachu, Dai Fujikura, Phillip Neil Martin, Anna Meredith,
				Damien Harron, E.laine, Roxanna Panufnik, Errollyn Wallen and Jim Moray.
			</p>
			<p>
				They are joined by Ensemble Scratch the Surface who feature, amongst others, an audiovisual
				performance for modified piano by pinaist extrodinaire Leon Michener, a (re)construction of
				hybrid pianos by 'better known as' aka Lemon Drizzle the alter egos of composer Claudia
				Moliter and pianist Sarah Nicolls and films by visual artist Aura Satz and collective
				Flat-e.
			</p>

			<p>
				This event is curated by Mikhail Karikis with Conall Gleeson and juice. Love Songs is a new
				commission funded by Arts Council England.
			</p>

			Kings Place<br />
			90 York Way<br />
			London N1 9AG<br />
			Box Office on 020 7520 1490.<br />
			email: info@kingsplace.co.uk<br />
			www.kingsplace.co.uk
		</Title>
	</section>
</ProjectLayout>
