---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="DSC00133.jpg" caption="Aura Satz, Universal Language film still, 16mm film" />
  <Title
  date="7.30pm 26th May 2012"
  title="The film will be performed with a live sound-to-light voice-over at the Barbican cinema on the as part of Bauhaus film season."
  subtitle="Barbican Cinema"
  >
  
  <p>Universal language: A Lost Manifesto is a short 16mm film which looks at universal language and its various manifestations through abstract film, optical sound on film, phonetics, short-hand, ways of writing sound, and drawn sound animation. The film draws on two mysteriously missing utopian endeavours: the lost film by Moholy-Nagy, 'Sound ABC' (1932), and his attempt to create a grapho-phonetic writing, an opto-acoustic alphabet, as well as the lost manifesto document of Hans Richter and Viking Eggeling, 'Universal Language' (1920). The performance will involve a live voice over which converts sound to light signals, as well as a filmic kinetic sculpture in homage to Moholy Nagy’s ‘Light-space-modulator’.</p>
  
  <p>To view a brief excerpt follow this link on the Barbican Centre's youtube channel:</p>
  
  <p><Link url="http://www.youtube.com/watch?v=y62fw92q7FY" label="Watch here"></Link></p>
  
  Cinema 1<br>
  Barbican Centre<br>
  Silk Street<br>
  London EC2Y 8DS<br>
  Box Office: 020 7638 8891<br>
  <Link url="http://www.barbican.org.uk/artgallery/event-detail.asp?id=13416" label="Event detail"></Link>
  </Title>
  <Image collection={[
    {
      src: "DSC00159.jpg"
    },
    {
      src: "DSC00169.jpg"
    },
  ]} caption="Aura Satz, Universal Language film still, optigan disc"></Image>
  <section>
    <h4>Credits</h4>
    Filmed, directed and scripted by Aura Satz<br>

Super16 DP Boyd Skinner<br>

Rostrum camera animation Aura Satz<br>

Edited with Alia Syed<br>

Special thanks to Len Thornton, James Holcombe and No.w.here<br>

Sound to light device construction Mike Blow<br>

Kinetic Film sculpture construction Mihai Rusu<br>

Funded by Arts Council England
</section>
</ProjectLayout>
