---
export interface Props {
  type?: "inline" | "list";
  title?: string;
}

const { type = "", title = "" } = Astro.props;
---

<aside class={type}>
  {!!title && <h4>{title}</h4>}
  <blockquote class={type}>
    <slot />
  </blockquote>
</aside>

<style>
  blockquote {
    font-size: 0.85em;
    color: var(--colour-soft);
    max-width: var(--width-article);
    border-left: 0.5em solid #ddd;
    padding-left: var(--spacing-level-2);
    line-height: var(--spacing-level-4);
  }
  aside {
    margin: var(--spacing-level-1) 0;
  }
</style>
<style is:global>
  aside .inline li {
    list-style: none;
  }
  aside .list {
    border: none;
  }
  aside.inline {
    margin: 0;
  }
</style>
