<footer>
	<div class="col"></div>
	<div class="col">© 2025 Aura Satz. All rights reserved.</div>
	<div class="col ssh">
		built by <a
			class="link"
			aria-label="developer website"
			target="_blank"
			href="https://walthamstow.whatarewebuilding.xyz">whatarewebuilding</a
		>
	</div>
</footer>

<style>
	footer {
		margin: 1em 0;
		padding: 1em 2em;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.col {
		font-size: small;
		color: var(--colour-soft);
	}
	.ssh {
		opacity: 0.5;
	}
</style>
