---
export interface Props {
  url: string;
  label?: string;
  external?: boolean;
  inline?: boolean;
}

const { url, label, external = true, inline = true } = Astro.props;
---

<a
  href={url}
  class={inline ? "" : "as-block"}
  target={external ? "_blank" : "_self"}
>
  {label && label}
  <slot />
</a>

<style>
  .as-block {
    display: block;
  }
  a {
    color: darkmagenta;
  }
  a:hover {
    cursor: pointer;
  }
  a:visited {
    color: darkmagenta;
  }
</style>
