---
import ProjectNavFilters from '../components/ProjectNavFilters.astro';
import SearchInput from '../components/SearchInput.astro';

const { omit = null } = Astro.props;
const currentPath = Astro.url.pathname;

function isActive(path) {
	const normal = currentPath.replace(/\/+$/, '') || '/';
	return normal === path ? 'active' : '';
}
---

<nav>
	<SearchInput />
	<ProjectNavFilters {omit} />
	<!-- <div class="v-divider"></div> -->
	<div class="alt-pages">
		<a class={isActive('/news')} href="/news">News</a>
		<a class={isActive('/info')} href="/info">Info</a>
		<a
			title="preemptivelistening"
			class=""
			href="https://preemptivelisteningfilm.com/"
			target="_blank">Preemptive Listening</a
		>
	</div>
	<a title="home" class="nav-flex no-underline center" href="/"><span id="title">AURA SATZ</span></a
	>
</nav>

<style>
	.center {
		text-align: center;
	}
	.v-divider {
		height: inherit;
		width: 1px;
		background-color: var(--aura-black);
		opacity: 0.75;
	}
	nav {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		& > a {
			text-decoration: none;
		}
		& > a:hover {
			text-decoration: underline;
		}
		@media (max-width: 600px) {
			align-items: flex-start;
			/* flex-direction: row; */
		}
	}
	nav a {
		text-decoration: none;
		color: var(--colour-soft);
		transition: color 0.3s;
		&:hover {
			color: var(--colour-crimson);
		}
	}
	nav a.active {
		color: var(--colour-crimson);
	}
	.alt-pages {
		font-size: small;
		display: flex;
		flex-wrap: wrap;
		display: flex;
		gap: 2em;
		@media (max-width: 768px) {
			gap: 1em;
			/* flex-direction: row; */
		}
	}
	#title {
		text-align: right;
		color: var(--aura-black);
		transition: filter 0.3s;
		&:hover {
			filter: blur(0.25em);
			color: var(--colour-crimson);
		}
		@media (max-width: 1024px) {
			top: 0.5em;
			font-size: 1em;
		}
	}
</style>
