---
const { omit = null } = Astro.props;
const currentPath = Astro.url.pathname;

function isActive(path) {
	return currentPath === path ? 'active' : '';
}
---

<div class="relative">
	<ul>
		<li>
			<a class={isActive('/films')} href="/films">Films</a>
		</li>

		<li>
			<a class={isActive('/soundworks')} href="/soundworks">Soundworks</a>
		</li>

		<li>
			<a class={isActive('/serformances')} href="/performances">Performances</a>
		</li>
	</ul>
</div>
<style>
	.relative {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
	}
	.filter-label {
		font-size: 0.5em;
	}
	ul {
		font-size: small;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 768px) {
			gap: 1em;
			li {
				margin: 0;
			}
		}
	}
	.items-center {
		display: flex;
		align-items: center;
		font-size: small;
	}
	.label {
		opacity: 0.25;
	}
	li {
		list-style: none;
		margin-left: 2em;
	}
	li:first-child {
		margin-left: 0;
	}
	li strong {
		color: var(--colour-violet);
	}
	@media (max-width: var(--width-mobile)) {
		.email {
			display: none;
		}
	}
	ul a {
		text-decoration: none;
		color: var(--colour-soft);
		transition: color 0.3s;
		&:hover {
			color: var(--colour-crimson);
		}
		&.active {
			color: var(--colour-crimson);
		}
	}
</style>
