---
import { getCollection } from 'astro:content';
const { omit = null } = Astro.props;
const currentPath = Astro.url.pathname;
const allProjects = await getCollection('projects');

function isActive(path) {
	return currentPath === path ? 'active' : '';
}

const projectsData = allProjects.map((p) => ({
	title: p.data.title,
	slug: p.id,
	category: p.data.category
}));
---

<div class="relative">
	<ul>
		<li>
			<a class={isActive('/films')} href="/films">Films</a>
		</li>

		<li>
			<a class={isActive('/soundworks')} href="/soundworks">Soundworks</a>
		</li>

		<li>
			<a class={isActive('/performances')} href="/performances">Performances</a>
		</li>
	</ul>
</div>

<script define:vars={{ projectsData }}>
	const searchInput = document.getElementById('project-search');

	searchInput?.addEventListener('input', (e) => {
		const query = e.target.value;

		if (query.length >= 3) {
			const regex = new RegExp(query, 'i');
			const results = projectsData.filter(
				(p) => regex.test(p.title) || regex.test(p.slug) || p.category.some((c) => regex.test(c))
			);
			console.log(results);
		}
	});
</script>
<style>
	.relative {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
	}
	.filter-label {
		font-size: 0.5em;
	}
	ul {
		font-size: small;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 768px) {
			gap: 1em;
			li {
				margin: 0;
			}
		}
	}
	.items-center {
		display: flex;
		align-items: center;
		font-size: small;
	}
	.label {
		opacity: 0.25;
	}
	li {
		list-style: none;
		margin-left: 2em;
	}
	li:first-child {
		margin-left: 0;
	}
	li strong {
		color: var(--colour-violet);
	}
	@media (max-width: var(--width-mobile)) {
		.email {
			display: none;
		}
	}
	ul a {
		text-decoration: none;
		color: var(--colour-soft);
		transition: color 0.3s;
		&:hover {
			color: var(--colour-crimson);
		}
		&.active {
			color: var(--colour-crimson);
		}
	}
</style>
