---
import { getCollection } from "astro:content";
import { getProps } from "../helpers/utils";
import Thumbnail from "./Thumbnail.astro";
export interface Props {
  slugs: string[];
}
const projectList = await getCollection("projects");
const { slugs } = Astro.props;
const related = projectList.filter((project) => {
  return slugs.includes(project.slug);
});
---

<div class="related-spacing">
  <h3>Related</h3>
  <div class="related-wrapper">
    {
      related.map(({ slug, data }) => (
        <Thumbnail
          related={true}
          src={data.thumbnail}
          title={data.title}
          slug={slug}
        />
      ))
    }
  </div>
</div>

<style>
  .related-spacing {
    margin-top: var(--spacing-level-2);
  }
  .related-wrapper {
    display: flex;
    align-items: flex-start;
  }
</style>
