---
export interface Props {
	date?: string;
	title?: string;
	subtitle?: string;
}
const { date, title, subtitle } = Astro.props;
---

<article>
	<div class="spacing nice-border">
		{!!date && <time class="date">{date}</time>}
		<heading>
			{!!title && <h3>{title}</h3>}
		</heading>
		{!!subtitle && <h4>{subtitle}</h4>}
		<slot />
	</div>
</article>

<style>
	article {
		margin-top: 3em;
	}
	heading {
		display: flex;
		flex-direction: row;
		color: #1a2e3b;
		gap: 1em;
		align-items: center;
	}

	.border {
		margin: 4em 0;
		height: 0.25em;
		background-position: center;
		background-color: var(--colour-soft-grey);
	}

	.spacer {
		flex: 1 4 150px;
	}
	h3 {
		margin-top: 0;
		flex: 1 2 800px;
		margin-bottom: 0.5em;
	}
	.date {
		color: var(--colour-soft);
		font-size: var(--size-smaller);
	}
	h4 {
		margin-top: 0;
		/* color: #403578; */
	}
	.spacing aside:not(:last-child) {
		background-color: var(--colour-crimson);
	}
</style>
