---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image
		src="accordion.jpg"
		caption="Automamusic, film still by Aura Satz, Cibachrome print, 2008"
	/>
	<section>
		<p>
			A short extract of 'Automamusic' the film is now available online at The Wire: Adventures in
			Modern Music, to coincide with the cross-platform interview in the September 2010 issue.
		</p>
		<p>
			Aura Satz's 'Automamusic' project has at its core a film about mechanical music. Intricate
			views of self-playing violins, accordions, drums, pianolas, and orchestrions are offset by
			scenes in which floating musical instruments are played by invisible hands. The film
			highlights the similarities between the beginnings of musical reproduction in the 19th century
			and spiritualist invocations of the dead through sound. 'Automamusic' breathes the ghost back
			into the machine, inhabiting the figurative space between sound and source, when music had not
			yet become abstracted into the grooves of the gramophone record. In addition to the series of
			hand-printed cibachrome photographs which recall spiritualist photography, the project
			includes drawings inspired by early patents for mechanical or hybrid musical instruments
			(small selection online here).
		</p>

		<p>
			The film 'Automamusic' was developed with support from Film and Video Umbrella, funded by Arts
			Council England and Artsadmin, with kind assistance from Film London Artist's Moving Image
			Network and a special thanks to the Museum of Music Automatons, Seewen, Switzerland.
		</p>
	</section>
	<Image src="banjo.jpg" caption="Automamusic, film still by Aura Satz, Cibachrome print, 2008" />

	<h3 class="style2"><strong>Exhibitions:<BR>
        </strong></h3>
        <h3 class="style2"><br>
          8 July - 16 August 2008, Preview 9th July 6-9pm <br>
          Aura Satz, solo exhibition at <strong>Artprojx Space</strong></h3>
        <p>Weds 16 July 6.30-8.30pm<br>
          Andrew Renton (art critic/curator and Director of the Curatorial Programme, Goldsmiths University) in conversation with Aura Satz on the withdrawal of authorship in relation to sound, sound technology and sound art, with live mechanical music performance by Aura Satz.<br>
          RSVP required to info@artprojxspace.com</p>
        <p>Artprojx Space<br>
          53 Beauchamp Place<br>
          London SW3 1NY<br>
          Tel: 020 7584 0717 or info@artprojxspace.com<br>
  <a href="http://www.artprojxspace.com">www.artprojxspace.com</a>                </p>
        <h3> <span class="style2"><strong><br>
          5 August - 3 September 2011<br>
        <h3><span class="style2"><strong>Automamusic</strong> photographs  included in the group exhibition <strong>IN SEARCH OF ALCHEMIC TIMES</strong><br>
        </span>
            <h3>
              <p class="grey-footnot">&nbsp;</p>
              <p class="grey-footnot">Artists: Aura Satz, Charlesworth, Lewandowski & Mann, Jennifer Walshe, Liliane Lijn, Nathan Witt, Peter Lewis and Makiko Nagaya, Rowena Harris, Steven Ounanian, Tom Badley, Unrealised Projects.<br>
                Curated by Cecilia Wee.</p>
              <p>Thursday - Saturday 12-6pm<br>
                Wednesdays by appointment</p>
              <p>235 Brompton Road<br>
                London SW3 2EP<br>
                email: cecilia@ceciliawee.com<br>
                email: info@insearchofalchemictimes.com<br>
                tel: 07527 640 419<br>
                <a href="www.insearchofalchemictimes.com  ">www.insearchofalchemictimes.com</a></p>
            </h3>
        </h3>
        <h3 class>4&#8211;7 May 2012, performance on the 5th May  2pm<strong><br>
      </strong>Group exhibition<strong> 'The Sight of Sound'</strong>, Deutsche Bank VIP Lounge, Frieze Art Fair<BR>
    </h3>
    <p class="style10"><em>Wherever we are, what we hear is mostly noise. When we ignore it, it disturbs us. When we listen to it, we find it fascinating. &nbsp;<BR>
      John Cage<BR>
      </em><span class="style4">Group exhibition including John Cage, Christian Marclay, Jorge Macchi, Jenny C. Jones, David Ellis and Aura Satz.<BR>
        Selected works feature artists from the Deutsche Bank Collection who reference music in a variety of ways: &nbsp;as a structural or notational device, a vehicle for chance and improvisation, or as a social platform for communicating identity. &nbsp;These artists from different generations share a trajectory of using musical forms as a source and framework. The theme underscores Deutsche Bank&#8217;s global commitment to supporting art and music, and promoting cultural advancement through the intersecting worlds of ideas and practices.<BR>
        The historical influence of musical sound on visual artists is immeasurable, but its effect upon form, process, and conceptual art has clearly become more prevalent in modern times. &nbsp;From Piet Mondrian&#8217;s painting, &#8220;Broadway Boogie Woogie,&#8221; his homage to jazz, to John Cage and Nam June Paik&#8217;s experiments with performance-driven work, to real-time musical interactions via satellite, video and digital interfaces, the relationship between the aural and visual arts are continually shape-shifting. </span>&nbsp;<BR>
  <BR>
      Frieze Art Fair on Randall's Island, Manhattan<BR>
  <strong><U><a href="http://friezenewyork.com/">www.friezenewyork.com</a></U></strong></p>
    <p>&nbsp;</p>
    <h3 class="style2">23 January - 3 February 2013 <strong><br>
      'Soundfigures' </strong>exhibition<strong><br>
  </strong>Solo retrospective at Blaak 10, as part of the <strong>42nd International Film Festival Rotterdam</strong><br>
      curated by Edwin Carels<br>
    </h3>
    <p class="style10">Spiral Sound Coil (2010) is an immersive psychoacoustic installation. Automamusic (2008) looks at self-playing instruments such as the pianola, wind-up music boxes and organs, filmed at the Museum of Music Automatons in Switzerland. Theremin (2010) is part of a series of videos characterised by their unusual sculptural relation to their performer. Sound Seam (2010) uses microscopic close-ups of gramophone grooves and the anatomy of the ear, while the accompanying music includes wax cylinder recordings and otoacoustic sounds emitted by the ear. Oramics (2011) is a homage to Daphne Oram, pioneer of British Electronic Music and creator of hand-wrought, drawn sound. Vocal Flame (2012) is a sound sculpture made using a Ruben's Tube, an acoustic device that visualises sound as a standing wave of small flames, with music by Steven Severin (of Siouxsie and the Banshees). 
    <p class="style10">Blaak 10 Gallery <br>
      Witte de Withstraat 7<br>
      3012 BL Rotterdam<br>
      The Netherlands
    <p class="style10"><a href="https://iffr.com/en/2013/films/soundfigures">https://iffr.com/en/2013/films/soundfigures </a> <BR>
      <a href="https://iffr.com/en/persons/aura-satz">https://iffr.com/en/persons/aura-satz </a></p>
    <p></p>
    <p></p>
    <h3 class="style2">15 February - 11 May 2014<strong><BR>
      'BOOSTER - Art Sound Machine'<br>
      </strong>Group exhibition curated by Nik Nowak in conjunction with Marta Herford, Herford Germany<br>
    </h3>
    <p>From the barrel organ and the ghetto blaster to the large speaker vehicles at parades or demonstrations, right up to acoustic warfare - regardless of the context in which mobile sound systems are used, we are directly impacted by their equally fascinating and threatening effect. The exhibition &quot;BOOSTER&quot; inquires into the cultural significance of these constructions and their use in the creative arts. Since the start of the 20th century, artists have been producing breathtaking sound machines, again and again stretching the boundaries between different disciplines. The special combination of sculpture, movement and sound takes the visitor into a world that addresses many different senses at once: whether as fragile mechanisms or monumental objects, the mobile sound sculptures generate a pulsating world of (sub)cultural spheres in a choreography of gentle tones and high-volume sounds.<br>
      Against a background of spectacular installations and sculptures, the exhibition also traces the global roots of mobile sound systems.</p>
    <p>Artists: AUDINT / Toby Heys und Steve Goodman, Massimo Bartolini, Lothar Baumgarten, Benjamin Binder, Katie Callan, Janet Cardiff &amp; George Bures Miller, Tamara Grcic, Mark Leckey, Olaf Mooij, Nomadic Sound System / Ben Newland, Nik Nowak, Tintin Patrone, Aura Satz, Wolfgang Tillmans, Jean Tinguely, and  more.</p>
    <p>Marta Herford<br>
      Goebenstr. 2-10<br>
      32052 Herford<br>
      Tel +49 5221 9944300<br>
      Germany<br>
  <span class="content style10"><a href="http://marta-herford.de/index.php/booster-2/?lang=en">www.marta-herford.de</a></span> </p>
    <p class="style2">&nbsp;</p>
    </BLOCKQUOTE>
<h3><h3>
  <p><span class="style2">13 April - 27 August 2017<strong><BR>
  'As Above, So below: Portals, Visions, Spirits &amp; Mystics'</strong><BR> 
  Group exhibition at IMMA (Irish Museum of Modern Art), Dublin
<BR>
  </span></p>
<p><span class="grey-footnot">Including Hilma af Klint | Kenneth Anger | David Beattie | Nora Berman | Annie Besant | Agnieszka Brzezanska | Alan Butler | James Lee Byars | Cameron | Marcus Coates | Ira Cohen | Ithell Colquhoun | Matt Copson | Stephan Doitschinoff | Hayden Dunham | Stephen Dunne | Susan Hiller | Koo Jeong A. | Alejandro Jodorowsky | Wassily Kandinsky | Rachid Koraichi | Emma Kunz | Frantisek Kupka | Paul Laffoley | Liliane Lijn | Linder | Josiah McElheny | Steve McQueen | Henri Michaux | Pascale Montandon-Jodorowsky | Padraic E. Moore (curatorial advisor) | Bruce Nauman | Austin Osman Spare | Sigmar Polke | The Propeller Group | Patrick Pye | John Russell | Eoghan Ryan | Aura Satz | Suzanne Treister | Grace Weir, amongst others.</span> Curated by Sam Thorne and Rachael Thomas.</p>
<p>A fully-illustrated book is published to accompany the exhibition which features contributions from Erik Davis, Jennifer Higgie, Alejandro Jodorowsky and Pascale Montandon-Jodorowsky, Dr Tina Kinsella, Linder, Hans Ulrich Obrist, Rachael Thomas, Sam Thorne and Maurice Tuchman, amongst others. Price €20 available to buy from the IMMA shop. </p>
<p>Irish Museum of Modern Art <BR> Royal Hospital Kilmainham<BR> Military Rd, Kilmainham <BR> Dublin 8, Ireland<BR> 
<a href="http://www.imma.ie/en/page_237202.htm">http://www.imma.ie/en/page_237202.htm</a></p>
<p>&nbsp;</p>
<p>
  <figure><img src="img/piano.jpeg" alt="Automamusic">
      <figcaption>Automamusic, film still by Aura Satz, Cibachrome print, 2008</figcaption>
  </figure>
  <br>
<h3 class="style2"><strong>Screenings:</strong></h3>
</h3>
</h3>
<h3 class="style2">
  <h3 class="style2">23 January 2008<br>
    Screened with a talk by Aura Satz at the <strong>Photographer's Gallery</strong><br>
  </h3>
    </h3>
  <p class="style2 style13 style14">The Photographer's gallery<br>
    6-8 Newport Street<br>
    London WC2H 7HY<br>
    Free, booking recommended<br>
  <a href="http://www.photonet.org.uk">www.photonet.org.uk</a>  </p>
  <h3><br>
      <span class="style2">6 June 2008</span><span class="style2"><strong><br>
        Automamusic</strong> was screened as part of <strong>Late at Tate Britain: Rehang</strong> Artprojx Presents... STILL FILM<br>
    </span></h3>
  <p>A selection of artist's films with a sculptural sensibility. The films share a fixed camera gaze, an inherent quality and lingering effect despite their simplicity. Including films by Matt Calderwood, Ryan Gander, Michael Nyman, Aura Satz, Richard Wilson.
    Compilation selected by David Gryn, Artprojx.</p>
  <p class="style4">Tate Britain Auditorium<br>
    Millbank<br>
    London (England) SW1P 4RG<br>
    tel +44 (0)20 7887 8000<br>
    fax +44 (0)20 7887 8008<br>
    Free, tickets available on the night, no bookings taken<br>
  <a href="http://www.tate.org.uk/britain/eventseducation/latetatebritain/14333.htm">www.tate.org.uk/britain/eventseducation/latetatebritain/14333.htm</a></p>
  <h3 class="style2">&nbsp;    </h3>
  <h3 class="style16">16-18 January 2009<strong><br>
    </strong>Screened as part of <strong>Museumsnacht</strong>, Museum for Music Automatons, Seewen, Switzerland, and Museum of Music, Basel<br>
  </h3>
  <p class="style4">Also as part of Museumsnacht the <a href="http://www.iamanagram.com/automatic_ensemble.php">Automatic Ensemble</a> will premiere at the Church of St. Leonhard (Basel) and the Museum for Music Automatons (Seewen) </p>
  <p class="style4">Museum for Musikautomaten, <br>
    Sammlung Dr.h c. H. Weiss-Stauffacher<br>
    Bollhobel 1<br>
    4206 Seewen, Switzerland<br>
    Tel. +41 61 915 98 80<br>
    Fax +41 61 915 98 90<br>
    E-Mail: musikautomaten@bak.admin.ch<br>
  <a href="http://www.landesmuseen.ch">www.landesmuseen.ch</a><br>
  <a href="http://www.museumsnacht.ch">www.museumsnacht.ch</a></p>
  <p class="style4">&nbsp;</p>
  <h3 class="style2"><h3 class="style2"> 4 & 5 March 2009<strong><br>
    </strong>Screened as part of Artprojx Presents... <strong>STILL FILM</strong> at Site Gallery, Sheffield</h3>
    <p class="style4">A selection of artist's films with a sculptural sensibility. The films share a fixed camera gaze, an inherent quality and lingering effect despite their simplicity. Including films by Matt Calderwood, Louise Camrass, Andrew Cross, Ryan Gander, William Hunt, Michael Nyman, Aura Satz, Richard Wilson.<br>
      Compilation selected by David Gryn, Artprojx.</p>
    <p class="style4">Site Gallery<br>
      1 Brown Street<br>
      Sheffield S1 2BS<br>
      Tel:+44 (0)114 281 2077<br>
      Fax:+44 (0)114 281 2078<br>
      Email: info@sitegallery.org<br>
      <a href="http://www.sitegallery.org">www.sitegallery.org</a><br>
      <a href="http://www.artprojx.com">www.artprojx.com</a>        </h3>
  <p class="style4">&nbsp;</p>
  <h3 class="style16">9 May 2009 16.00-23.00pm<br>Screened as part of <strong>SonicRecycler5</strong><br>
  </h3>
  <p class="style4">Reduce, Re-use, Recycle<br>
    A unique evening of provocative, entertaining and experimental music, presented by Sprawl, Brentford Recycling Action Group and Watermans. SonicRecycler5, the fifth in an annual series, is an event showcasing the many different strands of eclectic ideas in music, and promoting recycling concepts. With performers, DJ's, films, stalls and interactive presentations, it's a packed evening of radical sounds in a lovely Thameside venue, overlooking Kew Gardens - Think: Reduce, Re-use, Recycle.<br>
    Films by Aleks Kolkowski & Aura Satz will be shown from 3pm to 4pm at the Musical Museum</p>
  <p class="style4">Watermans Artcentre<br>
    40 High Street, Brentford<br>
    London, TW8 0DS<br>
    <a href="http://www.sprawl.org.uk">www.sprawl.org.uk</a><br>
  <a href="http://www.musicalmuseum.co.uk">www.musicalmuseum.co.uk</a></p>
  <p class="style4">&nbsp;</p>
  <h3 class="style2">22 - 31 May 2009<br>
    Screened as part of <strong>Artprojx presents OPERA & STILL-FILM, </strong>LOOP festival, Barcelona, Spain<br>
    </h3>
  <p class="style4">OPERA is a selection of films by contemporary artists who have utilised, investigated and celebrated opera and contemporary classical music. Including films by Alice Anderson, Martha Colburn, Haris Epaminonda, Karen Knorr, Rut Blees Luxemburg, Tania Mouraud, Michelle Naismith, Mariele Neudecker, Jayne Parker, Sophy Rickett, Susanne Winterling.<br>
    STILL FILM is a selection of artist's films with a sculptural sensibility. Including films by Matt Calderwood, Louise Camrass, Andrew Cross, Ryan Gander, William Hunt, Michael Nyman, Aura Satz, Richard Wilson.<br>
    Compilations selected by David Gryn, Artprojx.</p>
  <p class="style4">Espai Liceu<br>
    Rambla, 51-59<br>
    Barcelona, Spain <br>
    Tel: +93 485 9900<br>
  <a href="http://www.liceubarcelona.com">www.liceubarcelona.com</a><br>
  <a href="http://www.loop-barcelona.com">www.loop-barcelona.com</a><br>
  <a href="http://www.artprojx.com">www.artprojx.com</a></p>
  <p class="style4">&nbsp;</p>
  <h3 class="style16">Friday 22 October 2010<strong> <BR>
  </strong>Screened as part of Mikhail Karikis'<strong> 'Love Songs for Broken Machines'</strong>, Kings Place, London  </h3>
  <h3 class="style2">
    <h3>
      <p class="style5"><span class="style10">This event is a spectacle of music and video bringing together the hitch and glitch of failed technologies with the humour and romance of love songs. Contemporary vocal trio juice present the English premiere of specially commissioned songs by leading composers and pop artists including Gavin Bryars, Micachu, Dai Fujikura, Phillip Neil Martin, Anna Meredith, Damien Harron, E.laine, Roxanna Panufnik, Errollyn Wallen and Jim Moray. </span>They are joined by Ensemble Scratch the Surface who feature, amongst others, an audiovisual performance for modified piano by pinaist extrodinaire Leon Michener, a (re)construction of hybrid pianos by 'better known as' aka Lemon Drizzle the alter egos of composer Claudia Moliter and pianist Sarah Nicolls and films by visual artist Aura Satz and collective Flat-e.<br>
        This event is curated by <a href="http://www.mikhailkarikis.com/">Mikhail Karikis</a> with Conall Gleeson and juice. Love Songs is a new commission funded by Arts Council England.</p>
      <p class="style5">Kings Place<br>
        90 York Way<br>
        London N1 9AG<br>
        Tel: 020 7520 1490<br>
          <a href="http://www.kingsplace.co.uk/music/weekly-themes/love-songs-for-broken-machines">www.kingsplace.co.uk</a></p>
    </h3>
  </h3>
  <h3 class="style2">31 Jan - 5 Feb 2012<strong><br>
  Automamusic</strong> screened with Q&A session as part of <strong>Transmediale 2012</strong>, In/Compatible video programme, curated by Marcel Schwierin, Haus der Kulturen der Welt (HKW), Berlin<span class="style4"> </h3>
  <h3 class="style2">
    <h3>
      <p class="style5">Haus der Kulturen der Welt<BR>
        John-Foster-Dulles-Allee 10<BR>
        10557 Berlin <BR>
        Germany<BR>
        Tel 030 397870<BR>
        <a href="http://www.hkw.de/de/index.php">www.hkw.de/de/index.php</a><BR>
        <a href="http://www.transmediale.de/content/automamusic-0">www.transmediale.de/content/automamusic-0</a> <br>
        <a href="http://www.transmediale.de/content/programme-preview">www.transmediale.de</a></p>
      </h3>
  </h3>
  <h3 class="style2">18 March 2014 <strong><BR>
    Automamusic</strong> screened at <strong>RISK Cinema</strong>, alongside Jerome Hiler and John Smith, <strong>The Harn Museum</strong>, Florida<br>
  </h3>
  <h3 class="style2"><span class="style18">Samuel P. Harn Museum of Art <br>
    3259 Hull Road <br>
    Gainesville<br>
    Florida 32611-2700</span><br>
  <a href="http://www.harn.ufl.edu/"></a><a href="http://www.harn.ufl.edu/">http://www.harn.ufl.edu/</a>
  </p>
  </h3>
  <p class="style2">&nbsp;</p>
  <figure>
    <!-- single image with caption -->
    <img src="img/banjo.jpeg" alt="Automamusic">
    <figcaption>Automamusic, film still by Aura Satz, Cibachrome print, 2008</figcaption>
  </figure>
  <h3 class="style4">&nbsp;</h3>
  <h3 class="style4">Aura's article 'Music of its own Accord' is published in<a href="http://www.mitpressjournals.org/toc/lmj/-/20"> Leonardo Music Journal</a>, issue 20, December 2010, including images of 'Automamusic'</h3>
  <h3 class="style2">&nbsp;</h3>
</ProjectLayout>
