---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="accordion.jpg" caption="Automamusic, film still by Aura Satz, Cibachrome print, 2008" />
  <section>
    <p>
      A short extract of 'Automamusic' the film is now available online at The Wire: Adventures in Modern Music, to coincide with the cross-platform interview in the September 2010 issue.
    </p>
    <p>Aura Satz's 'Automamusic' project has at its core a film about mechanical music. Intricate views of self-playing violins, accordions, drums, pianolas, and orchestrions are offset by scenes in which floating musical instruments are played by invisible hands. The film highlights the similarities between the beginnings of musical reproduction in the 19th century and spiritualist invocations of the dead through sound. 'Automamusic' breathes the ghost back into the machine, inhabiting the figurative space between sound and source, when music had not yet become abstracted into the grooves of the gramophone record. In addition to the series of hand-printed cibachrome photographs which recall spiritualist photography, the project includes drawings inspired by early patents for mechanical or hybrid musical instruments (small selection online here).</p>

      <p>The film 'Automamusic' was developed with support from Film and Video Umbrella, funded by Arts Council England and Artsadmin, with kind assistance from Film London Artist's Moving Image Network and a special thanks to the Museum of Music Automatons, Seewen, Switzerland.</p>
  </section>
  <Image src="banjo.jpg" caption="Automamusic, film still by Aura Satz, Cibachrome print, 2008" />
  <!-- <Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter.
    </p>
    <p>
      <i>Little Doorways to Paths Not Yet Taken</i>. 2016. 8 min. Following
      Satz's earlier films about women composers and inventors of electronic
      music, this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945).
    </p>
    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="artium.eus"
    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
  <Address
    name="Museum für Musikautomaten"
    contact="Sammlung Dr.h c. H. Weiss-Stauffacher"
    address1="Bollhübel 1"
    address2="4206 Seewen, Switzerland"
    tel="Tel. +41 61 915 98 80"
    email="musikautomaten@bak.admin.ch"
  /> -->
</ProjectLayout>
