---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="AutomaticEnsemble.jpg" caption="" />
  <section>
    <p>The Automatic Ensemble will premiere in Switzerland at 'Museumsnacht 2009'</p>

<p>16 January 2009 - 21pm and 22:30pm, Church of St Leonhard (Leonhardskirche), Basel</p>
<p>18 January 2009 - 11am, Museum of Music Automatons, Seewen</p>
<p>Using a mixture of mechanically amplified and automatic instruments and machines, the 'Automatic Ensemble' explores their visual and sonic potential through a multiplicity of compositions and improvisations. The instrumentation combines original historical artefacts with those reconstructed and newly invented. There is a particular emphasis on the visual performance of playing/operating these mechanical musical devices, which reflect on that particular historical moment in which sound is becoming detached from its original source and performative agency is in the process of removing itself. Thus performers appear to produce music in a manner parallel to the Automatic Writing of Spiritualist mediums and the Surrealists, performing sound as if from without rather than from within.</p>

<p>Aura Satz's film Automamusic was shot at the Museum of Music Automatons, and led to the concept of the 'Automatic Ensemble', in collaboration with Aleks Kolkowski.</p>
  </section>

  <!-- <Address
    name="Museum für Musikautomaten"
    contact="Sammlung Dr.h c. H. Weiss-Stauffacher"
    address1="Bollhübel 1"
    address2="4206 Seewen, Switzerland"
    tel="Tel. +41 61 915 98 80"
    email="musikautomaten@bak.admin.ch"
  /> -->
</ProjectLayout>
