---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props} bg={true}>
  <Image
    src="BF door.jpg"
    caption="Aura Satz, 'Making a Diagonal with Music / Hacer Una Diagonal con la Musica', film still, 2019"
  />
  <section>
    <p>
      A short film about the Argentine electroacoustic composer Beatriz
      Ferreyra, an original pioneer of early musique concrete alongside Pierre
      Schaeffer during the '50s and '60s. Here she discusses her 'sound hunting'
      recording techniques, and other thoughts on sound montage and
      spatialization. Featuring creaking doors, barking dogs and rainbow hands.
    </p>
  </section>
  <Image
    src="BeatrizRainbowHands.jpg"
    caption="Aura Satz, 'Making a Diagonal with Music / Hacer Una Diagonal con la Musica', film still, 2019"
  />
  <Blockquote title="Credits" type="inline">
    <li><strong>Featuring Beatriz Ferreyra</strong></li>
    <li><strong>Directed and edited by Aura Satz</strong></li>
    <li>DOP: Sam Williams</li>
    <li>Music: Beatriz Ferreyra</li>
    <li>Dubbing Mix: Gernot Fuhrmann</li>
    <li>English Subtitles: Aura Satz</li>
    Special thanks to Jo Langton
  </Blockquote>
  <Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter. The works included in this show are
      part of a long-standing interest in compositional practices, in particular
      those of women in electronic and electroacoustic music. In addition to
      three film-sound portraits, the exhibition includes a series of drawings
      centred on early modular synthesizer compositional practices by women.
    </p>
    <p>
      In Z Gallery programme, Aura Satz presents the films 'Oramics: Atlantis
      Anew,' 'Little Doorways to Paths Not Yet Take' and 'Hacer una diagonal con
      la musica,' three works based on three pioneers in the field of electronic
      music. 'She Recalibrates' (2018) are a series of drawin fine-tuning the
      sound in a listening feedback loop.
    </p>
    <p>
      *Hacer una diagonal con la musica*. 2019. 10 min. A short film about
      Argentine electroacoustic composer Beatriz Ferreyra, a pioneer of musique
      concrete together with Pierre Schaeffer during the 1950s and 1960s. Here
      she discusses her 'sound hunting' recording techniques, and other thoughts
      on sound montage and spatialization, illustrated through onomatopoeia and
      dynamic hand gestures. In the key opening scene, Ferreyra is seen
      listening to the miniscule creaks produced by a door, expanding the simple
      binary of open vs closed to encompass an entire sound universe, an
      expanded bandwidth of what can be heard and how we might listen.
    </p>
    <p>
      *Oramics: Atlantis Anew*. 2011. 7 min. Conceived as an artist's film that
      pays tribute to Daphne Oram, pioneer of British electronic music and
      co-founder of the BBC Radiophonic Workshop in 1958, the film depicts a
      close encounter with her unique Oramics machine invention, housed in the
      Science Museum in London.
    </p>
    <p>
      *Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's
      earlier films about women composers and inventors of electronic music,
      this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945). Renowned for her electronic music
      compositions and algorithmic composition software, the film also reveals
      all manner of musical and technological paraphernalia, ranging from sheet
      music to DIY inventions and collections of quirky toys. The soundtrack
      features electronic music composed by Spiegel and Laurie's voiceover
      reflecting on electronic music and the process of composing.
    </p>
    <p>
      The* Z Gallery* (Z for zinema, cinema in Basque) programme is neither a
      season of films nor an exhibition. It is a project that constructs an
      intermediate space from which to reflect on and draw attention to works by
      artists making the leap into the cinematographic field as well as
      filmmakers exploring the exhibition format. It is a programme arising from
      the determined gesture of thinking about the moving image in the museum. A
      programme that aims to bring to the public authors interested in searching
      for new narrative forms by questioning the genres that historically
      categorise cinematographic language.
    </p>
    <p>
      Curator: Garbine Ortega. Catalogue includes newly commissioned essays by
      Jo Hutton and Xabier Erkizia.
    </p>

    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"

    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
Exhibitions:
4 Feb - 27 March 2022
Showing as part of 'She Recalibrates' - Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz
Aura Satz's film and sound works are made in conversation and use dialogue as both method and subject matter. The works included in this show are part of a long-standing interest in compositional practices, in particular those of women in electronic and electroacoustic music. In addition to three film-sound portraits, the exhibition includes a series of drawings centred on early modular synthesizer compositional practices by women.

In Z Gallery programme, Aura Satz presents the films 'Oramics: Atlantis Anew,' 'Little Doorways to Paths Not Yet Take' and 'Hacer una diagonal con la musica,' three works based on three pioneers in the field of electronic music. 'She Recalibrates' (2018) are a series of drawin fine-tuning the sound in a listening feedback loop.

*Hacer una diagonal con la musica*. 2019. 10 min. A short film about Argentine electroacoustic composer Beatriz Ferreyra, a pioneer of musique concrete together with Pierre Schaeffer during the 1950s and 1960s. Here she discusses her 'sound hunting' recording techniques, and other thoughts on sound montage and spatialization, illustrated through onomatopoeia and dynamic hand gestures. In the key opening scene, Ferreyra is seen listening to the miniscule creaks produced by a door, expanding the simple binary of open vs closed to encompass an entire sound universe, an expanded bandwidth of what can be heard and how we might listen.

*Oramics: Atlantis Anew*. 2011. 7 min. Conceived as an artist's film that pays tribute to Daphne Oram, pioneer of British electronic music and co-founder of the BBC Radiophonic Workshop in 1958, the film depicts a close encounter with her unique Oramics machine invention, housed in the Science Museum in London.

*Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's earlier films about women composers and inventors of electronic music, this short film offers an intimate look into the studio of American composer Laurie Spiegel (b. 1945). Renowned for her electronic music compositions and algorithmic composition software, the film also reveals all manner of musical and technological paraphernalia, ranging from sheet music to DIY inventions and collections of quirky toys. The soundtrack features electronic music composed by Spiegel and Laurie's voiceover reflecting on electronic music and the process of composing.

The* Z Gallery* (Z for zinema, cinema in Basque) programme is neither a season of films nor an exhibition. It is a project that constructs an intermediate space from which to reflect on and draw attention to works by artists making the leap into the cinematographic field as well as filmmakers exploring the exhibition format. It is a programme arising from the determined gesture of thinking about the moving image in the museum. A programme that aims to bring to the public authors interested in searching for new narrative forms by questioning the genres that historically categorise cinematographic language.

Curator: Garbine Ortega. Catalogue includes newly commissioned essays by Jo Hutton and Xabier Erkizia.

https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery https://artium.eus/en/activities/item/61328-conversacion-con-aura-satz

Interview in Elemmental Magazine https://elemmental.com/2022/02/18/aura-satz-entrevista/

 
4-18 Feb 2022
Vdrome online, introduced by Ela Bittencourt
<Link
      url="https://www.vdrome.org/aura-satz/"
      label="https://www.vdrome.org/aura-satz/"
     />

Screenings:
22 Jan - 2 Feb 2020
IFFR (International Film Festival Rotterdam)
World Premiere, screening as part of Bright Future Shorts
https://iffr.com/en/2020/films/making-a-diagonal-with-music

 
5-19 Feb 2020
'Doc Fortnight' at MoMA, NY (US premiere)
Doc Fortnight celebrates its 19th edition with some of the most formally innovative, thought-provoking documentary and hybrid films being made in the world today. This year's edition features 12 world premieres, 17 North American premieres, and 14 US premieres from 38 countries.

Organized by Joshua Siegel, Curator, with Stergios Dinopoulos, 12-Month Intern, Department of Film. The Nonfiction+ sidebar is organized by Kathy Brew, Consulting Curator.

https://www.moma.org/calendar/film/5193
https://press.moma.org/wp-content/uploads/2019/12/Doc-Fortnight-2020-Screening-Schedule-and-Descriptions.pdf
https://www.moma.org/calendar/events/6390


13-18 May 2020
Shortlisted for competition at 66th Oberhausen International Short Film Festival, Oberhausen
Because of the Corona crisis, the International Short Film Festival Oberhausen is currently organising its 66th edition as an online edition. The festival is happy to announce that all five competitions - International Competition, German Competition, NRW Competition, Children's and Youth Film Competition and the MuVi Award for the best German music video - will be presented online. They will be accessible between 13 and 18 May, when the online festival will be open to both the public and professionals. For the International Competition, the largest and oldest of the Festival, 57 works were originally selected. 56 of these will be screened in the online festival.

https://www.kurzfilmtage.de/en/press/press-releases/news/wettbewerbe-online/
https://www.kurzfilmtage.de/en/festival/competition-selection/
 

1-14 August 2020
Shortlisted for EX-now competition, EXis Experimental Film and Video Festival, Seoul
https://ex-is.org/exnow
https://ex-is.org/exnow/-making-a-diagonal-with-music-aura-satz
 

25 August - 8 Sep 2020
Shortlisted for Indiemusic competition, IndieLisboa International Film Festival, Lisbon
https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/
https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/
 

22-25 Oct 2020
Screening as part of 'She Makes Noise' festival, La Casa Encendida, Madrid
Festival de musica y cine dedicado a mujeres que se dedican a la musica electronica y al audiovisual contemporaneo con perspectiva de genero. Un proyecto de Playtime Audiovisuales y La Casa Encendida. VI edicion Octubre 2020 - Madrid

While I yet live, de Maris Curran. EE.UU., 2018. 14'.
Making a diagonal with music, de Aura Satz. 2020. Reino Unido, 2010. 10'.
Keyboard Fantasies: The Beverly Glenn-Copeland Story, de Posy Dixon. Reino Unido, Canada, Belgica, Paises Bajos, EE.UU., 2019.

https://shemakesnoisefestival.tumblr.com/
https://www.lacasaencendida.es/cine/she-makes-noise-2020-11801
https://www.lacasaencendida.es/cine/sesion-fuerza-arrolladora-11754
https://www.filmin.es/directora/aura-satz
2 - 10 October 2021
Artist Special Focus screenings and live performance as part of VideoEx, Experimental film & Video Festival Zurich
https://videoex.ch/videoex/festival-2021/programm-2021/artist-focus-aura-satz/
https://videoex.ch/videoex/festival-2021/programm-2021/expanded-cinema-and-live-acts/aura-satz-performance/
7-10 April 2022
Rewire festival, the Hague
https://www.rewirefestival.nl/event/rewire-2022
https://www.rewirefestival.nl/artist/shorts-aura-satz
 

4 Feb 2022
Screening as part of 'Looking at Listening: Films on Women and Experimental Music' at The Block Museum of Art, Evanston IL
A film about listening (Sam Green, US, 2020, 33 minutes)
Hacer una diagonal con la musica (Aura Satz, UK, 2019, 10 minutes)
Space Lady (Sophia Feuer, US, 2020, 17 minutes)
Amour Pour Une Femme (Emily Eddy, US, 2019, 9 minutes)

https://www.blockmuseum.northwestern.edu/cinema/2022/looking-at-listening-films-on-women-and-experimental-music.html
 
9 Dec 2022
'Little Doorways to Paths not Yet Taken' & 'Making a Diagonal with Music' screening as part of Mono-Poly, curated by Debris Facility and Liquid Architecture, Melbourne.
https://liquidarchitecture.org.au/events/mega-phone-mono-poly
</ProjectLayout>
