---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props} bg={true}>
  <Image
    src="BF door.jpg"
    caption="Aura Satz, 'Making a Diagonal with Music / Hacer Una Diagonal con la Musica', film still, 2019"
  />
  <section>
    <p>
      A short film about the Argentine electroacoustic composer Beatriz
      Ferreyra, an original pioneer of early musique concrete alongside Pierre
      Schaeffer during the '50s and '60s. Here she discusses her 'sound hunting'
      recording techniques, and other thoughts on sound montage and
      spatialization. Featuring creaking doors, barking dogs and rainbow hands.
    </p>
  </section>
  <Image
    src="BeatrizRainbowHands.jpg"
    caption="Aura Satz, 'Making a Diagonal with Music / Hacer Una Diagonal con la Musica', film still, 2019"
  />
  <Blockquote title="Credits" type="inline">
    <li><strong>Featuring Beatriz Ferreyra</strong></li>
    <li><strong>Directed and edited by Aura Satz</strong></li>
    <li>DOP: Sam Williams</li>
    <li>Music: Beatriz Ferreyra</li>
    <li>Dubbing Mix: Gernot Fuhrmann</li>
    <li>English Subtitles: Aura Satz</li>
    Special thanks to Jo Langton
  </Blockquote>
  <Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter. The works included in this show are
      part of a long-standing interest in compositional practices, in particular
      those of women in electronic and electroacoustic music. In addition to
      three film-sound portraits, the exhibition includes a series of drawings
      centred on early modular synthesizer compositional practices by women.
    </p>
    <p>
      In Z Gallery programme, Aura Satz presents the films 'Oramics: Atlantis
      Anew,' 'Little Doorways to Paths Not Yet Take' and 'Hacer una diagonal con
      la musica,' three works based on three pioneers in the field of electronic
      music. 'She Recalibrates' (2018) are a series of drawin fine-tuning the
      sound in a listening feedback loop.
    </p>
    <p>
      *Hacer una diagonal con la musica*. 2019. 10 min. A short film about
      Argentine electroacoustic composer Beatriz Ferreyra, a pioneer of musique
      concrete together with Pierre Schaeffer during the 1950s and 1960s. Here
      she discusses her 'sound hunting' recording techniques, and other thoughts
      on sound montage and spatialization, illustrated through onomatopoeia and
      dynamic hand gestures. In the key opening scene, Ferreyra is seen
      listening to the miniscule creaks produced by a door, expanding the simple
      binary of open vs closed to encompass an entire sound universe, an
      expanded bandwidth of what can be heard and how we might listen.
    </p>
    <p>
      *Oramics: Atlantis Anew*. 2011. 7 min. Conceived as an artist's film that
      pays tribute to Daphne Oram, pioneer of British electronic music and
      co-founder of the BBC Radiophonic Workshop in 1958, the film depicts a
      close encounter with her unique Oramics machine invention, housed in the
      Science Museum in London.
    </p>
    <p>
      *Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's
      earlier films about women composers and inventors of electronic music,
      this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945). Renowned for her electronic music
      compositions and algorithmic composition software, the film also reveals
      all manner of musical and technological paraphernalia, ranging from sheet
      music to DIY inventions and collections of quirky toys. The soundtrack
      features electronic music composed by Spiegel and Laurie's voiceover
      reflecting on electronic music and the process of composing.
    </p>
    <p>
      The* Z Gallery* (Z for zinema, cinema in Basque) programme is neither a
      season of films nor an exhibition. It is a project that constructs an
      intermediate space from which to reflect on and draw attention to works by
      artists making the leap into the cinematographic field as well as
      filmmakers exploring the exhibition format. It is a programme arising from
      the determined gesture of thinking about the moving image in the museum. A
      programme that aims to bring to the public authors interested in searching
      for new narrative forms by questioning the genres that historically
      categorise cinematographic language.
    </p>
    <p>
      Curator: Garbine Ortega. Catalogue includes newly commissioned essays by
      Jo Hutton and Xabier Erkizia.
    </p>

    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"

    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
<p>Credits:</p>
<p>Featuring Beatriz Ferreyra<br>
  Directed and edited by Aura Satz<br>
  DOP: Sam Williams<br>
  Music: Beatriz Ferreyra<br>
  Dubbing Mix: Gernot Fuhrmann<br>
  English Subtitles: Aura Satz<br>
  Special thanks to Jo Langton</p>
<p>&nbsp;</p>
<h3><strong>Exhibitions:</strong></h3>
<h3>4 Feb - 27 March 2022<br />
  Showing as part of<strong> 'She Recalibrates' </strong>-  Solo exhibition at <strong>ARTIUM, Museo Vasco de Arte Contempor&aacute;neo</strong>, Vitoria-Gasteiz<br />
</h3>
<p align="left">Aura Satz's film and sound works are made in conversation and use dialogue  as both method and subject matter. The works included in this show are part  of a long-standing interest in compositional practices, in particular those  of women in electronic and electroacoustic music. In addition to three  film-sound portraits, the exhibition includes a series of drawings centred on early modular synthesizer compositional practices by women. </p>
<p align="left">In Z Gallery programme, Aura Satz presents the films 'Oramics: Atlantis  Anew,' 'Little Doorways to Paths Not Yet Take' and 'Hacer una diagonal con  la musica,' three works based on three pioneers in the field of electronic  music. 'She Recalibrates' (2018) are a series of drawin fine-tuning the  sound in a listening feedback loop. </p>
<p align="left">*Hacer una diagonal con la musica*. 2019. 10 min. A short film about  Argentine electroacoustic composer Beatriz Ferreyra, a pioneer of musique  concrete together with Pierre Schaeffer during the 1950s and 1960s. Here  she discusses her 'sound hunting' recording techniques, and other thoughts  on sound montage and spatialization, illustrated through onomatopoeia and  dynamic hand gestures. In the key opening scene, Ferreyra is seen listening  to the miniscule creaks produced by a door, expanding the simple binary of  open vs closed to encompass an entire sound universe, an expanded bandwidth  of what can be heard and how we might listen. </p>
<p align="left">*Oramics: Atlantis Anew*. 2011. 7 min. Conceived as an artist's film that  pays tribute to Daphne Oram, pioneer of British electronic music and  co-founder of the BBC Radiophonic Workshop in 1958, the film depicts a  close encounter with her unique Oramics machine invention, housed in the  Science Museum in London. </p>
<p align="left">*Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's  earlier films about women composers and inventors of electronic music, this  short film offers an intimate look into the studio of American composer  Laurie Spiegel (b. 1945). Renowned for her electronic music compositions  and algorithmic composition software, the film also reveals all manner of  musical and technological paraphernalia, ranging from sheet music to DIY  inventions and collections of quirky toys. The soundtrack features  electronic music composed by Spiegel and Laurie's voiceover reflecting on  electronic music and the process of composing. </p>
<p align="left">The* Z Gallery* (Z for zinema, cinema in Basque) programme is neither a  season of films nor an exhibition. It is a project that constructs an  intermediate space from which to reflect on and draw attention to works by  artists making the leap into the cinematographic field as well as  filmmakers exploring the exhibition format. It is a programme arising from  the determined gesture of thinking about the moving image in the museum. A  programme that aims to bring to the public authors interested in searching  for new narrative forms by questioning the genres that historically  categorise cinematographic language. </p>
<p align="left">Curator: Garbine Ortega. Catalogue includes newly commissioned essays by Jo Hutton and Xabier  Erkizia. </p>
<p align="left"><a href="https://artium.eus/en/activities/item/61328-conversacion-con-aura-satz">https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery https://artium.eus/en/activities/item/61328-conversacion-con-aura-satz </a></p>
<p align="left">Interview in Elemmental Magazine <a href="https://elemmental.com/2022/02/18/aura-satz-entrevista/">https://elemmental.com/2022/02/18/aura-satz-entrevista/</a></p>
<h3>&nbsp;</h3>
<h3>4-18 Feb 2022 <strong><br />
  Vdrome</strong> online, introduced by Ela Bittencourt<br />
</h3>
<h3><a href="https://www.vdrome.org/aura-satz/">https://www.vdrome.org/aura-satz/ </a></h3>
<p>&nbsp;</p>
<h3><strong>Screenings</strong>:</h3>
<h3>22 Jan - 2 Feb 2020<strong><br>
  IFFR (International Film Festival Rotterdam)</strong></h3>
<h3>World Premiere, screening as part of Bright Future Shorts</h3>
<p><a href="https://iffr.com/en/2020/films/making-a-diagonal-with-music">https://iffr.com/en/2020/films/making-a-diagonal-with-music</a></p>
<h3>&nbsp;</h3>
<h3> 5-19 Feb 2020<strong><br>
  'Doc Fortnight'</strong> at<strong> MoMA</strong>, NY (US premiere) </h3>
<p>Doc Fortnight  celebrates its 19th edition with some of the most formally innovative,  thought-provoking documentary and hybrid films being made in the world  today. This year's edition features 12 world premieres, 17 North American  premieres, and 14 US premieres from 38 countries. </p>
<p>Organized by Joshua Siegel, Curator, with Stergios Dinopoulos, 12-Month  Intern, Department of Film. The Nonfiction+ sidebar is organized by Kathy  Brew, Consulting Curator.</p>
<p><a href="https://www.moma.org/calendar/film/5193">https://www.moma.org/calendar/film/5193</a><br>
<a href="https://press.moma.org/wp-content/uploads/2019/12/Doc-Fortnight-2020-Screening-Schedule-and-Descriptions.pdf">https://press.moma.org/wp-content/uploads/2019/12/Doc-Fortnight-2020-Screening-Schedule-and-Descriptions.pdf</a><br>
<a href="https://www.moma.org/calendar/events/6390">https://www.moma.org/calendar/events/6390</a></p>
<h3><br>
  13-18 May 2020 <br>
  Shortlisted for competition at<strong> 66th Oberhausen International Short Film Festival</strong>, Oberhausen</h3>
<p>Because of the Corona crisis, the International Short Film Festival  Oberhausen is currently organising its 66th edition as an online edition.  The festival is happy to announce that all five competitions -  International Competition, German Competition, NRW Competition, Children's  and Youth Film Competition and the MuVi Award for the best German music  video - will be presented online. They will be accessible between 13 and 18  May, when the online festival will be open to both the public and  professionals. For the International Competition, the largest and oldest of the Festival, 57 works were originally selected. 56 of these will be screened in the online festival. </p>
<h3><a href="https://www.kurzfilmtage.de/en/press/press-releases/news/wettbewerbe-online/">https://www.kurzfilmtage.de/en/press/press-releases/news/wettbewerbe-online/</a><br>
  <a href="https://www.kurzfilmtage.de/en/festival/competition-selection/">https://www.kurzfilmtage.de/en/festival/competition-selection/</a></h3>
<p>&nbsp;</p>
<h3>1-14 August 2020<strong><br>
  </strong>Shortlisted for EX-now competition,<strong> EXis Experimental Film and Video Festival</strong>, Seoul</h3>
<h3><a href="https://ex-is.org/exnow">https://ex-is.org/exnow<br>
  https://ex-is.org/exnow/-making-a-diagonal-with-music-aura-satz</a></h3>
<p>&nbsp;</p>
<h3>25 August - 8 Sep 2020 <br>
  Shortlisted for Indiemusic competition, <strong>IndieLisboa International Film Festival</strong>, Lisbon</h3>
<h3><a href="https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/">https://indielisboa.com/en/edicao-2020-en/sections/indiemusic/</a><a href="https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/"><br>
    https://indielisboa.com/en/movies/hacer-una-diagonal-con-la-musica/</a></h3>
<p>&nbsp;</p>
<h3>22-25 Oct 2020 <br>Screening as part of <strong>'She Makes Noise' festival, La Casa Encendida</strong>, Madrid</h3>
<p>Festival de musica y cine dedicado a mujeres que se dedican a la musica electronica y al audiovisual contemporaneo con perspectiva de genero.  Un proyecto de Playtime Audiovisuales y La Casa Encendida. VI edicion Octubre 2020 - Madrid
<p><strong>While I yet live</strong>, de Maris Curran. EE.UU., 2018. 14'.<br>
  <strong>Making a diagonal with music,</strong>  de Aura Satz. 2020. Reino Unido, 2010. 10'.<br>
  <strong>Keyboard Fantasies: The Beverly Glenn-Copeland Story, </strong>de Posy Dixon. Reino Unido, Canada, Belgica, Paises Bajos, EE.UU., 2019.
<h3><a href="https://shemakesnoisefestival.tumblr.com/">https://shemakesnoisefestival.tumblr.com/<br> 
  </a><a href="https://www.lacasaencendida.es/cine/she-makes-noise-2020-11801">https://www.lacasaencendida.es/cine/she-makes-noise-2020-11801</a><br>
  <a href="https://www.lacasaencendida.es/cine/sesion-fuerza-arrolladora-11754">https://www.lacasaencendida.es/cine/sesion-fuerza-arrolladora-11754</a><br>
  <a href="https://www.filmin.es/directora/aura-satz">https://www.filmin.es/directora/aura-satz</a></h3>
<h3>2 - 10 October 2021 <br />Artist Special Focus screenings and live performance as
  part of <strong>VideoEx, Experimental film &amp; Video Festival Zurich</strong><br />
</h3>
<h3><a href="https://videoex.ch/videoex/festival-2021/programm-2021/artist-focus-aura-satz/">https://videoex.ch/videoex/festival-2021/programm-2021/artist-focus-aura-satz/</a><br />
  <a href="https://videoex.ch/videoex/festival-2021/programm-2021/expanded-cinema-and-live-acts/aura-satz-performance/">https://videoex.ch/videoex/festival-2021/programm-2021/expanded-cinema-and-live-acts/aura-satz-performance/ </a> </h3>
</h3>
<p></p>
<h3>7-10 April 2022 <strong><br />Rewire festival</strong>, the Hague</h3>
<h3><a href="https://www.rewirefestival.nl/event/rewire-2022">https://www.rewirefestival.nl/event/rewire-2022</a><br />
  <a href="https://www.rewirefestival.nl/artist/shorts-aura-satz">https://www.rewirefestival.nl/artist/shorts-aura-satz </a></h3>
<p>&nbsp;</p>
<h3>4 Feb 2022 <br>
  Screening as part of <strong>'Looking at Listening: Films on Women and Experimental Music'</strong> at <strong>The  Block Museum of Art</strong>, Evanston IL</h3>
<p><strong>A film about listening</strong> (Sam Green, US, 2020, 33 minutes)<br>
  <strong>Hacer una diagonal con la musica </strong>(Aura Satz, UK, 2019, 10 minutes)<br>
  <strong>Space Lady</strong> (Sophia Feuer, US, 2020, 17 minutes) <br>
  <strong>Amour Pour Une Femme</strong> (Emily Eddy, US, 2019, 9 minutes)<br>
</p>
<h3><a href="https://www.blockmuseum.northwestern.edu/cinema/2022/looking-at-listening-films-on-women-and-experimental-music.html">https://www.blockmuseum.northwestern.edu/cinema/2022/looking-at-listening-films-on-women-and-experimental-music.html</a></h3>
<h3>&nbsp;</h3>
<h3>9 Dec 2022 <br />'Little Doorways to Paths not Yet Taken' &amp; 'Making a Diagonal with Music' screening as part of Mono-Poly, curated by Debris Facility and <strong>Liquid Architecture</strong>, Melbourne. </h3>
<h3><a href="https://liquidarchitecture.org.au/events/mega-phone-mono-poly">https://liquidarchitecture.org.au/events/mega-phone-mono-poly</a></h3>
<p><br>
    </p>
  <h3>
</ProjectLayout>
