---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src=" betweenbullet.jpg " caption="<<CAPTION>>" />
  <section>
    <p>
      A short film about the Argentine electroacoustic composer Beatriz
      Ferreyra, an original pioneer of early musique concrete alongside Pierre
      Schaeffer during the '50s and '60s.
    </p>
  </section>
  <Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter.
    </p>
    <p>
      *Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's
      earlier films about women composers and inventors of electronic music,
      this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945).
    </p>
    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="artium.eus"
    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
  <Address
    name="Museum für Musikautomaten"
    contact="Sammlung Dr.h c. H. Weiss-Stauffacher"
    address1="Bollhübel 1"
    address2="4206 Seewen, Switzerland"
    tel="Tel. +41 61 915 98 80"
    email="musikautomaten@bak.admin.ch"
  />
</ProjectLayout>
