---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="Dial Tone Operator Satz-1.jpg" caption="Aura Satz, Sketch for 'Dial Tone Operator', 2014" />
  <section>
    <p>Conceived of as two parallel works on the history of telephony and the dial tone, Dial Tone Operator and Dial Tone Drone are exhibited simultaneously in two venues across London, featuring several voices in conversation with each other.</p>

 

<p>"Hello, Operator, give me long-distance"</p>

<p>Dial Tone Operator is a sound installation offering a disorienting experience of the dial tone as spatialized binaural music, composed from vintage recordings of telephone sounds, interwoven with spoken word and song by vocalists Elaine Mitchener and Jennifer Walshe. Early telephone operators were women, "weavers of speech" who provided seductive efficient voices and cheap labour, plugging lines in and out of a circuit. Automatic dial systems were developed to replace them, reducing costs and ensuring the privacy of the interlocutors. The dial tone plays when the telephone is off-hook, indicating that the system is live and a telephone number can be dialled, a sustained signal of 'lines open', awaiting transmission and connectivity. The composition suggests an experience of tuning in and tuning out, amplifying the multitude of voices in the ether, the meaningful and meaningless messages in a state of constant transmission. Using the dial tone and electric hum as drone music, the piece stimulates the nervous system by providing a constant sound within which the mind can go back and forth (either due to acoustic illusions, binaural effects or shifts in tone). Listeners are invited to immerse themselves in the intimate telephonic headphone encounter at the end of the corridor, lose themselves in the subtleties of a sustained note, and hum along. In addition to vintage headphones the installation features an original switchboard operator mouthpiece, which would have originally served to amplify the operator's voice as a hornlike contraption resting on their sternum. As a telephonic relic, it suggests that a person might speak into it, or that the wall itself is an operator.</p>

Composed and scripted by Aura Satz.<br>
Voice by Elaine Mitchener and Jennifer Walshe.<br>
Vintage recordings generously provided by Evan Doorbell.<br>


 

<p>Dial Tone Drone, a sound piece commissioned by Measure, will play from the first red telephone kiosk designed in 1924 by renowned architect Giles Gilbert Scott. Featuring conversations with electronic music pioneers and composers Laurie Spiegel and Pauline Oliveros, as well as excerpts of drone compositions, the piece unfolds the concept of the sustained note or drone in relation to the dial tone, and associated discussions on telephony, telecommunications, electrical circuits, connecting voices, tuning in, and listening to sustained notes. Dial Tone Drone is edited in such a way as to hover between a conversation and a sound documentary/composition - questioning, articulating and exploring the drone in all its political, conceptual, meditative and musical implications.</p>

<p>To coincide with the launch of the sound piece there will be a live performance with Elaine Mitchener and Jennifer Walshe at the Hayward Gallery on the 15th November 2014 7pm at the Hayward Gallery.</p>
  </section>
  <Title
    date="14 October 2014 - 5 Jan 2015"
    title="'Mirrorcity: 23 Artists from London'"
    subtitle="Group exhibition at the Hayward Gallery"
  >
  <p>MIRRORCITY sets out to survey key emerging and established practices from some of the most exciting artists working in London today, whose work examines the ever-growing realms of our lived experience. Blurring the boundaries between internal and external worlds, the artists in this exhibition penetrate alternative spaces where the imagined, the physical and the virtual meet, to explore the multifaceted realities of the here and now. Presenting artworks in a wide variety of media, including painting, film and video, sculpture, drawing, sound and performance, the exhibition includes work by Michael Dean, Tim Etchells, Anne Hardy, Susan Hiller, Lloyd Corporation, LuckyPDF, Helen Marten, Ursula Mayer, Emma McNally, Karen Mirza and Brad Butler, Katrina Palmer, Pil and Galia Kollectiv, Laure Prouvost, Aura Satz, Lindsay Seers, Tai Shani, Daniel Sinsel, John Stezaker, Lynette Yiadom-Boakye, and a special performative project by Nicola Conibere, Frank Bock and Martin Hargreaves. Curated by Stephanie Rosenthal</p>

  <p>A specially produced 'alternative' newspaper has been created by Tom McCarthy for MIRRORCITY. Conceived as collaboration between the author and the artists featured in the exhibition, artists have been have contributed a diverse and distinctive array of texts and pictures that McCarthy has edited into a startling and otherworldly reading experience.</p>
  
  Hayward Gallery<br>
  Southbank Centre<br>
  Belvedere Road<br>
  London SE1 8XX
    <Link
      url="http://www.southbankcentre.co.uk/whatson/mirrorcity-23-london-artists-86590"
      label="southbankcentre.co.uk/whatson"
    />
  </Title>
  <section>
    <h5>15 November 2014 - 9 January 2015</h5>
<h4>Dial Tone Drone, 'Telephone'</h4>
Wooden K2 Telephone Kiosk<br>
Royal Academy, Burlington House entranceway<br>
Piccadilly W1J 0BD<br>
http://measure.org.uk/exhibitions/telephone/

 

<h5>21 Jan - 1 Feb 2015</h5>
<h4>Dial Tone Drone touring to 44th International Film Festival Rotterdam, as part of the Signal 24/7 programme</h4>

 

https://www.iffr.com/en/films/dial-tone-drone/<br>
https://www.iffr.com/en/iffr-2015/sections/signals-24-7/

 
<h5>1 - 6 December 2015</h5>
<h4>Dial Tone Drone showing as part of CONTEXT Art Miami, curated by Christoph Cox, Miami</h4>
http://www.contextartmiami.com/DesktopDefault.aspx?tabid=172
  </section>
  <Title
    date="10 - 20 November 2016"
    title="Dial Tone Drone showing as part of 'Where there is sea there are pirates'"
    subtitle="3 137 Gallery, Athens"
  >
 <p> Curated by Poppy Bowers, including Salvatore Arancio, Jeremy Deller, Nancy Holt & Richard Serra, Theo Michael, Melvin Moti, Nina Papaconstantinou, Aura Satz, Weronika Trojanska.</p>

  <p>Inspired by the Greek proverb 'Where there is Sea there are Pirates', the exhibition brings together sound, drawing, printmaking, film and text-works by artists who subvert conventional modes of mass communication. In a digitally saturated epoch, where capitalism reigns supreme, the show offers alternative and transcendental perspectives on our daily experiences. Prompted by Paul Klee's cry that 'Half winged-half in prison, this is man!', the exhibition captures a group of works that infiltrate the boundaries between conscious and sub-conscious, public and private expression, live and recorded action.</p>
  
  Mavromichali 137<br>
  114 72 Athens,<br>
  Greece<br>
  http://www.3137.gr/en/pirates
  </Title>
  <Title
    date="24 March 2016"
    title="'In and Out of Synch', an evening of films and sound with Aura Satz, presented by Liquid Architecture and Gertrude Contemporary"
    subtitle=""
  >
  <p>Followed by Q&A with Joel Stern</p>

  Gertrude Contemporary<br>
  200 Gertrude St, Fitzroy<br>
  Melbourne VIC 3065<br>
  Australia<br>
  https://liquidarchitecture.org.au/events/aura-satz-in-and-out-of-synch<br>
  https://liquidarchitecture.org.au/events/aura-satz-talk<br>
  http://www.gertrude.org.au/

  </Title>

  <section>
    <h5>7 Nov - 21 Dec 2018</h5>
<h4>'Listen, Recalibrate', Solo show at Fridman Gallery, New York</h4>
<p>Exhibition catalogue with essays by Christoph Cox, David Crowley, Barbara London, and Aura Satz in conversation with David Toop.</p>
https://www.fridmangallery.com/aura-satz<br>
https://www.fridmangallery.com/listen-recalibrate

 

<h5>1-31st May 2019</h5>
<h4>'Dial Tone Drone', solo show at Auditorium Roma - Sound Corner Presented by Valentina Ravaglia. Auditorium Parco della Musica, Rome</h4>
https://www.auditorium.com/evento/aura_satz-20625.html
    <h4>Further Links:</h4>

<p>'Inside the Dial Tone-Inspired Sound Art Exhibits of Aura Satz' by Kevin Holmes, The Creator's Project http://thecreatorsproject.vice.com/en_uk/blog/inside-the-dial-tone-inspired-sound-art-exhibits-of-aura-satz</p>

<p>'The Playlist' by Phillip Clarke, The Guardian 11 March 2015 http://www.theguardian.com/music/2015/mar/11/playlist-experimental-africa-express-colin-webster-rutger-zuydervelt-laurie-spiegel-etc</p>

<pListen> to an excerpt on The Wire website http://www.thewire.co.uk/audio/tracks/listen_dial-tone-drone-with-pauline-oliveros_laurie-spiegel_aura-satz</p>
  </section>
  
</ProjectLayout>
