---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="Doorway Natalie Kalmus Satz.jpg" caption="Aura Satz, Doorway for Natalie Kalmus, production still, 2013" />
  <section>
    <p>
      Doorway for Natalie Kalmus is a film centred around the use of colour in moving image technology, exploring the disorienting technicolour prismatic effects of the lamp house of a 35mm colour film printer. Through minute shifts across an abstract colour spectrum, punctuated by a mechanical soundtrack, the film evokes kaleidoscopic perceptual after-images (bringing to mind Paul Sharits, Dario Argento and the Wizard of Oz). Natalie Kalmus was the ex-wife of technicolour inventor Herbert Kalmus, and was the colour consultant for hundreds of colour films, including The Wizard of Oz, Gone with the Wind, the Red Shoes, Black Narcissus and many more. She would draw up colour scores for each film, like music scores, according to her theories of "Colour Consciousness". She also authored a short article entitled "Doorway onto another world", in which she described her sister’s deathbed experience of seeing deceased family members.
    </p>

  An essay by Prof. Esther Leslie can be downloaded here

Filmed, directed and edited by Aura Satz

Soundtrack composed by Aura Satz and Steven Severin

DP Tim Sidell

Dubbing mixer Gernot Fuhrmann

Funded by Paradise Row

Support in kind from Cinelab London film laboratory

Special thanks to Brian Simper, Colin Coull, David Buck and Tina Brennan at Cinelab (formerly Bucks Media Services); Joao de Oliveira at Prestech; Joshua Yumibe, Sarah Street, and Ian Christie.

Aura Satz would also like to thank Jackie and Peter Stewart, Cinenova, Electra, Metro Imaging and Simon Quinn for their support of the additional works in the exhibition.
</section>
<Image src="colour score Satz.jpg" caption="Aura Satz, Colour Score for 'Doorway for Natalie Kalmus', 2013" />  
<Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter.
    </p>
    <p>
      *Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's
      earlier films about women composers and inventors of electronic music,
      this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945).
    </p>
    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="artium.eus"
    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
  <Address
    name="Museum für Musikautomaten"
    contact="Sammlung Dr.h c. H. Weiss-Stauffacher"
    address1="Bollhübel 1"
    address2="4206 Seewen, Switzerland"
    tel="Tel. +41 61 915 98 80"
    email="musikautomaten@bak.admin.ch"
  />
</ProjectLayout>
