---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image
		src="Doorway Natalie Kalmus Satz.jpg"
		caption="Aura Satz, Doorway for Natalie Kalmus, production still, 2013"
	/>
	<section>
		<p>
			Doorway for Natalie Kalmus is a film centred around the use of colour in moving image
			technology, exploring the disorienting technicolour prismatic effects of the lamp house of a
			35mm colour film printer. Through minute shifts across an abstract colour spectrum, punctuated
			by a mechanical soundtrack, the film evokes kaleidoscopic perceptual after-images (bringing to
			mind Paul Sharits, Dario Argento and the Wizard of Oz). Natalie Kalmus was the ex-wife of
			technicolour inventor Herbert Kalmus, and was the colour consultant for hundreds of colour
			films, including The Wizard of Oz, Gone with the Wind, the Red Shoes, Black Narcissus and many
			more. She would draw up colour scores for each film, like music scores, according to her
			theories of "Colour Consciousness". She also authored a short article entitled "Doorway onto
			another world", in which she described her sister’s deathbed experience of seeing deceased
			family members.
		</p>

		Filmed, directed and edited by Aura Satz<br />
		Soundtrack composed by Aura Satz and Steven Severin<br />
		DP Tim Sidell<br />
		Dubbing mixer Gernot Fuhrmann<br />
		Funded by Paradise Row<br />
		Support in kind from Cinelab London film laboratory<br />
		Special thanks to Brian Simper, Colin Coull, David Buck and Tina Brennan at Cinelab (formerly Bucks
		Media Services); Joao de Oliveira at Prestech; Joshua Yumibe, Sarah Street, and Ian Christie.<br
		/>
		Aura Satz would also like to thank Jackie and Peter Stewart, Cinenova, Electra, Metro Imaging and
		Simon Quinn for their support of the additional works in the exhibition.
	</section>
	<Image
		src="colour score Satz.jpg"
		caption="Aura Satz, Colour Score for 'Doorway for Natalie Kalmus', 2013"
	/>
	<section>
		<h3>Exhibitions:</h3>
		<h5>1 Nov - 7 Dec 2013</h5>
		<h4>'Colour Opponent Process', Solo exhibition at Paradise Row Gallery</h4>
		<p>
			Paradise Row presents 'Colour Opponent Process', a solo exhibition of works by Aura Satz. For
			her first ever commercial gallery exhibition, Satz will premiere a new film 'Doorway for
			Natalie Kalmus'. Centred around the use of colour in moving image technology, Satz will
			explore the disorienting technicolour prismatic effects effects of the lamp house of a 35mm
			colour film printer. Alongside the film, Satz will also present a number of 35mm film-strip
			'colour code' works, inspired by the colour scores of Natalie Kalmus, and the perforated paper
			colour encoding employed by The Bell and Howell Additive Lamp house.
		</p>

		74a Newman Street<br />
		London W1T 3DB<br />
		T: +44 (0)20 7636 9355<br />
		info@paradiserow.com<br />
		<a href="http://www.paradiserow.com/exhibitions/95/"
			>http://www.paradiserow.com/exhibitions/95/</a
		>

		<h5>21 November 2013 7pm</h5>
		<h4>
			Aura Satz will be conversation with Prof. Esther Leslie discussing abstraction, colour, and
			the contributions of female labour to the early colour film industry, at Paradise Row Gallery.
		</h4>

		<p>
			Esther Leslie is Professor in Political Aesthetics, Birkbeck, University of London and author
			of Hollywood Flatlands: Animation, Critical Theory and the Avant garde (2002), Synthetic
			Worlds: Nature, Art and the Chemical Industry, (2005), Walter Benjamin (2007).
		</p>

		Free but booking essential rsvp@paradiserow.com<br />
		<a href="http://www.paradiserow.com/news/134/">http://www.paradiserow.com/news/134/</a>

		<h5>14 March - 19 April 2014</h5>
		<h4>
			'Colour Opponent Process', Solo show at Gallery 44, Centre for Contemporary Photography,
			Toronto
		</h4>
		To coincide with the Images Festival, Toronto 10-19th April 2014<br />
		401 Richmond St W, 120<br />
		Toronto, ON, M5V 3A8 CANADA<br />
		P 416. 979.3941 / F 416.979.1695<br />
		info@gallery44.org<br />
		Hours: Tuesday - Saturday, 11am to 5pm<br />
		<br />
		<a href="http://gallery44.org/exhibitions/colour-opponent-process"
			>http://gallery44.org/exhibitions/colour-opponent-process</a
		>
		<a href="http://www.imagesfestival.com/festival.php?news_id=165"
			>http://www.imagesfestival.com/festival.php?news_id=165</a
		>

		<h5>24 January - 26 April 2015</h5>
		<h4>'Eyelids Leaking Light'</h4>
		Solo show at George Eastman House, Rochester, New York<br />
		900 East Avenue, Rochester, NY 14607<br />
		Tel (585) 271-3361<br />
		<br />
		<a href="http://www.eastmanhouse.org/events/detail.php?title=2015_aurasatz"
			>http://www.eastmanhouse.org/events/detail.php?title=2015_aurasatz</a
		>

		<h5>4 - 31 May 2015</h5>
		<h4>Solo presentation at Projection Space Suburban, Rotterdam</h4>
		'Doorway for Natalie Kalmus' 4 - 17 May 2015<br />
		'Chromatic Aberration' 18 - 31 May 2015<br />
		<a
			href="http://www.suburban-ps.nl/start/?portfolio=doorway-for-natalie-kalmus-aura-satz-4-17-may"
			>http://www.suburban-ps.nl/start/?portfolio=doorway-for-natalie-kalmus-aura-satz-4-17-may</a
		>

		<h3>Screenings:</h3>
		<h5>3-7 October 2013</h5>
		<h4>
			Screened at the 51st New York Film Festival 'Views from the Avant-garde', curated by Mark
			McElhatten
		</h4>

		<p>
			Our popular yearly touchstone for experimental film returns with 45 programs in glorious
			Super-8, 16mm and 35mm film and HD formats. Many familiar faces have returned and this year's
			slate feature 45 new artists as well as several mini-retrospectives of artists including, Aura
			Satz, Lois Patino, Sandro Aguilar, and Jean-Paul Kelly. Views will also offer special tributes
			to the late Stom Sogo and Anne Robertson, whose work is a testimony to the power of a cinema
			that is fearless, confidential and inextinguishable. Curated by Mark McElhatten.
		</p>
		The Film Society of Lincoln Center<br />
		70 Lincoln Center Plaza<br />
		New York, NY 10023-6595<br />
		<a href="http://www.filmlinc.com/films/on-sale/program-i-aura-satz"
			>http://www.filmlinc.com/films/on-sale/program-i-aura-satz</a
		>
		<a href="http://www.filmlinc.com/nyff2013">http://www.filmlinc.com/nyff2013</a>
		<a
			href="http://www.filmlinc.com/press/entry/fslc-announces-complete-lineup-for-the-17th-edition-of-views-from-the-avant"
			>http://www.filmlinc.com/press/entry/fslc-announces-complete-lineup-for-the-17th-edition-of-views-from-the-avant</a
		>

		<h5>25 and 26 January 2014</h5>
		<h4>
			Screenings at the 43rd edition Rotterdam Film Festival as part of the 'Signals Regained'
			programme
		</h4>
		<a href="http://www.filmfestivalrotterdam.com/en/films/doorway-for-natalie-kalmus/"
			>http://www.filmfestivalrotterdam.com/en/films/doorway-for-natalie-kalmus/</a
		>
		<a
			href="http://www.filmfestivalrotterdam.com/en/iffr-2014/sections/signals-regained/an-introduction-by-programmer-edwin-carels/"
			>http://www.filmfestivalrotterdam.com/en/iffr-2014/sections/signals-regained/an-introduction-by-programmer-edwin-carels/</a
		>

		<h5>24 July 24 - 3 August 2014</h5>
		<h4>
			Selected for the 'European Short Film Competition' as part of the 14th T-Mobile New Horizons
			International Film Festival, Wroclaw, Poland
		</h4>

		<a href="http://www.nowehoryzonty.pl/artykul.do?id=1850"
			>http://www.nowehoryzonty.pl/artykul.do?id=1850</a
		>
		<a href="http://www.nowehoryzonty.pl/film.do?id=7546&ind=typ%3dcykl%26idCyklu%3d502"
			>http://www.nowehoryzonty.pl/film.do?id=7546&ind=typ%3dcykl%26idCyklu%3d502</a
		>

		<h5>13 May 2015</h5>
		<h4>'Soundfigures: Films by Aura Satz'</h4>
		<p>
			A selection of films by Aura Satz, programmed by Michele Smith, DIM Cinema, Vancouver
			Cinametheque
		</p>

		<p>
			(Near) extinct technologies make sound visible in this program of shorts by London-based
			artist Aura Satz that delve into ideas of knowledge, memory, and communication. On a Chladni
			Plate, a device that marked the birth of acoustics, grains of sand, moving like Busby Berkeley
			dancers, form intricate patterns in response to changing sound frequencies, their shapes
			recalling the utopian quest for a 'pure,' onomatopoeic alphabet. Wax cylinder recordings
			combine with modern scientific instruments to animate a text by Rainer Maria Rilke on the
			possibility of hearing the dead by playing their skulls with a gramophone needle. A Ruben's
			Tube translates a histrionic voice-over into a standing wave of small flames, provoking
			unexpected associations, from the biblical burning bush to various acts of ventriloquism in
			pop culture. Breaking its long silence, the Oramics Machine plays hand-drawn compositions by
			its inventor, electronic music pioneer Daphne Oram. Kaleidoscopic effects in the lamphouse of
			a 35mm film printer honour Natalie Kalmus, colour consultant on masterpieces of the
			Technicolor era. Chromatic distortions in early colour-film tests are revealed through the
			eyes of the George Eastman family and old Hollywood stars. In a dramatic finale, Satz and
			experimental filmmaker Lis Rhodes encode their voices as abstract light patterns on 16mm mono
			and 35mm stereo filmstrips in a collaborative exploration of sound-image synchronicity.
		</p>

		DIM Cinema<br />
		The Cinematheque<br />
		1131 Howe St.<br />
		Vancouver BC<br />
		Canada<br />
		<a href="http://www.dimcinema.ca/soundfigures-films-aura-satz"
			>http://www.dimcinema.ca/soundfigures-films-aura-satz</a
		>

		<h5>18 Feb 2016</h5>
		<h4>
			'Between the Bullet and the Hole' (Plus Other Shorts) + Q&A at Whitechapel Gallery, London
		</h4>

		<p>
			Aura Satz presents the UK premiere of 'Between the Bullet and the Hole', her latest short film
			which examines the role of women in ballistic research, early computing and pattern perception
			in warfare. Presented alongside her works focusing on memory, notation, encryption and gender,
			the event also features an in conversation with special guests Morgan Quaintance and David
			Alan Grier.
		</p>

		Whitechapel Gallery<br />
		77-82 Whitechapel High St<br />
		London E1 7QX<br />
		<a href="http://www.whitechapelgallery.org/events/aura-satz-bullet-hole/"
			>http://www.whitechapelgallery.org/events/aura-satz-bullet-hole/</a
		>

		<h5>7th March 2017</h5>
		<h4>'Between the Bullet and the Hole' (Plus Other Shorts) at HOME Manchester</h4>

		<p>Followed by Q&A with Chris Paul Daniels</p>

		HOME Manchester<br />
		2 Tony Wilson Place<br />
		Manchester M15 4FN<br />
		<a href="https://homemcr.org/event/between-the-bullet-and-the-hole-plus-other-shorts-qa/"
			>https://homemcr.org/event/between-the-bullet-and-the-hole-plus-other-shorts-qa/</a
		>
		<p>
			Part of: Artist Talks
			<a href="https://homemcr.org/event/artist-talks/">https://homemcr.org/event/artist-talks/</a>
		</p>
	</section>
</ProjectLayout>
