---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="hearingtrumpets.jpg" caption="Photos of live performance by Miranda Gavin" />
  <Image src="barbicanduet2.jpg" caption="Photos of live performance by Miranda Gavin" />
  <Image src="barbicanduet1.jpg" caption="Photos of live performance by Miranda Gavin" />
  <Image src="stroboscopichypnosishorn.jpg" caption="Photos of live performance by Miranda Gavin" />
  
  <section>
   
    
  </section>
  <Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>Duet performance
      17th March 2011
      New filmic performance works using acoustic devices such as a Chladni plate, a flame manometre, stroboscopic records and vintage self-hypnosis tracks.
      Barbican Gallery, London
      Silk Street, London EC2Y 8DS
      020 7638 4141
      www.barbican.org.uk</p>
    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="artium.eus"
    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
  <Address
    name="Museum für Musikautomaten"
    contact="Sammlung Dr.h c. H. Weiss-Stauffacher"
    address1="Bollhübel 1"
    address2="4206 Seewen, Switzerland"
    tel="Tel. +41 61 915 98 80"
    email="musikautomaten@bak.admin.ch"
  />
</ProjectLayout>
