---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Compact from "../../components/compact.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="glissolaliaSATZ.jpg" caption="" />
  <Title title="PREVIEW & LIVE PERFORMANCE" subtitle="WITH SPECIAL GUESTS ALEKS KOLKOWSKI, LYDIA KAVINA AND ALL FEMALE BARBERSHOP QUARTET HUNKY DORY"
  date="27 JUNE 6-9PM">
    
    <p>Exhibition extended: Monday - Friday, until 1 August</p>
    <p>By appointment only - please contact Beaconsfield to arrange visit</p>
    
    <Compact type="address">
    22 Newport St, Vauxhall<br>
    London SE11 6AY<br>
    Tel: +44 (0) 207 582 6465<br>
    fax: +44 (0) 207 582 6486<br>
    mail@beaconsfield.ltd.uk<br>
    http://beaconsfield.ltd.uk/about/visiting/<br>
    
  </Compact>
  </Title>
  <section>  
    
    
    
<p>Aura Satz explores ghostly presence and illusions through performance and sound, often focussed on unusual sonic devices, early musical instruments and automata. This new commission explores acoustic illusions and plays on the vocal quality of non-human instruments. It merges the musical concept of 'glissando' (the gliding or sliding from one note to another), and the idea of 'glossolalia' (religious speaking in tongues, or fluent unintelligible utterances).</p>

<p></p>The commission took form through a research and development period within the upper space of Beaconsfield Gallery, in response to the haunting resonance of the space. Over a six-week period of recording sessions and site-specific sound-editing, Aura invited various musicians to respond in the manner of Chinese whispers to an initial composition based on the acoustic illusion of the Shepard scale, consisting of endlessly escalating or descending compositions. Developed in dialogue with musician Aleks Kolkowski, the score's starting point is a series of vintage test-tone recordings, which are then layered with the various components: a musical saw (Aleks Kolkowski), a theremin (Lydia Kavina) and a female Barbershop Quartet (Hunky Dory). By drawing on such a range of sound sources, references to classic perceptual illusions degenerate into a more compositional image, from swirling rising tones to coiling disembodied voices and patterned harmonies.

<p></p>Orchestrated as a dynamic vortex, the resulting recording plays back as a multi-channel soundtrack installation. The public face of the project will kick-off with a spiral sound performance on the opening night, conceived of as a dialogue between the installation and the live ensemble. Featuring the same components which fed into the recording process, in addition to the theremin and barbershop quartet there will be a whirling musical saw duet on a rotating turntable.

<p></p>Soundtrap is Beaconsfield's annual portfolio scheme for new sonic works. Aura Satz is supported by an Artsadmin artist bursary. The artist's collaboration with Aleks Kolkowski is supported by NAN artists collaborations.

<h5>Monday 14th July 3-4pm & Friday 18th July 8-9pm</h5>
Glissolalia features on a clear spot on Resonance FM

<p>The broadcast includes Aura Satz in conversation with Richard Thomas; Professor Steven Connor (Academic Director of the London Consortium) responding to the resonance of the installation Glissolalia at Beaconsfield (a transcript is available online: www.stevenconnor.com/resonance); and Hillel Schwartz (cultural historian and visiting scholar at the University of California, San Diego) reading an excerpt on Echo from his forthcoming book, A Cultural History of Noise.</p>

<p>Aura Satz is an artist and writer. She completed a theory/practice PhD at the Slade School of Fine Art in 2002, where she later held a Henry Moore Foundation Post-doctoral Sculpture Fellowship (2002-04). She has performed, exhibited and screened her work nationally and internationally, including at FACT (Liverpool), Site Gallery (Sheffield), Galleria Civica di Arte Contemporanea di Trento (Italy), De La Warr Pavilion (Bexhill-on-Sea), the Zentrum Paul Klee (Switzerland), Whitechapel Gallery, the V&A, The Photographer's Gallery, Tate Britain (London). She currently has another solo exhibition at Artprojx Space. Since 2004 she has been a fellow at the London Consortium.</p>

<p>Aleks Kolkowski studied Music at London University, violin with Clarence Myerscough at the Royal Academy of Music, was taught piano by John Tilbury, electronic music by Hugh Davies and in 1982 participated in seminars and performances directed by John Cage. Over the past 25 years he has worked internationally as an improvising violinist, interpreter, solo performer and composer for dance, theatre and film. His latest work combines instruments and machines from the pioneering era of sound recording and reproduction to make live mechanical-acoustic music. He is a founder of Recording Angels.</p>

<p>Léon Theremin's grand-niece, Lydia Kavina was born in Moscow and began studying the theremin under the direction of Theremin himself when she was nine years old. Since then, her musical career has included more than a thousand concerts and theatre, radio and television performances around the world, as well as film soundtracks (Ed Wood, eXistenZ and The Machinist) and her own compositions. Kavina is an active promoter of new experimental music for the theremin. www.lydiakavina.com</p>

<p>Hunky Dory Quartet are Jackie Driscoll, Lolly Thomas, Ceejai Seaman, and Barbara Thompson.</p>

<p>Beaconsfield specialises in encouraging artists to pursue projects of ambition and has a long track record of commissioning and promoting experimental contemporary art, at home and abroad. Co-curated by artists David Crawforth and Naomi Siderfin since 1994, examples of previous sound projects include the ground-breaking Rude Mechanic, (1996), Carl Michael von Hausswolff's first UK solo show (2005), Soundtrap commissions with Daniel Figgis and Leafcutter John and the popular event series Mother of all Parties (2005-08) which echoes themes of the legendary Nosepaint club, run by the Beaconsfield curatorial team during the early nineties.</p>

<p>WITH SUPPORT IN KIND FROM WHARFEDALE</p>
<Compact type="thanks">
  AURA WOULD ALSO LIKE TO THANK JON MAISEY AND MICK RITCHIE.
</Compact>

  </section>
  
</ProjectLayout>
