---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image src="back_ad.gif" caption="" />
	<section>
		<p>I Am AnAgram</p>

		<p>
			An Anagrammatical Reconfiguration of Phantom Limb Pain Alleviation, Mirror Boxes, Magic, a
			Séance, a Ouija Board, an Exquisite Corpse and Hans Bellmer.
		</p>

		<p>
			Devised under the guidance of neuroscientists Prof. Chris Frith and Prof. Jonathan Cole, in
			collaboration with illusionist Scott Penrose.
		</p>

		<p>
			A guided performance is to take place at the Barbican Art Gallery, London, UK, as part of the
			Surreal House exhibition on September 2nd 2010, 6.30-10pm. Admission free to same day ticket
			holders.
		</p>

		<p>
			I Am Anagram was screened as part of Artsadmin Summer Season, 5-30 June 2007 at Toynbee
			Studios, London.
		</p>

		<p>
			Guided performances took place at the main entrance of the Victoria & Albert museum, London,
			UK, as part of the Surreal Weekend event on the 14th and 15th of April 2007, from 11am-1pm and
			from 3-5pm.
		</p>

		<p>
			Previously shown as an installation at the Whitechapel Gallery, London, UK, as part of the
			Hans Bellmer - Pierre Klossowski exhibition, 20 Sep - 23 Nov 2006. There were demonstrative
			quided performances on the opening night, on the 26th of October 7-9pm and the 18th of
			November 2-5pm.
		</p>

		<p>
			First incarnation premiered at the De La Warr Pavilion, Bexhill-on-Sea, UK, in December 2005,
			as part of the 'Variety' season.
		</p>

		<p>
			I Am Anagram is an interactive performative sculptural installation, a complex kaleidoscopic
			mirror box of sorts, which audience members are guided through and into one by one.
		</p>

		<p>
			I Am Anagram draws inspiration from neuroscientific experiments done with mirror-boxes and
			people missing limbs, which suggest that creating a coherent body-image through visual
			illusion can alleviate phantom limb pain (Ramachandran, 1996). In traditional conjuring,
			mirrors and visual illusions are used in the often sadistic fragmentation of the body, but
			they can also be used to opposite effect, that is, to recreate integrity where there is loss.
		</p>

		<p>
			I Am Anagram addresses these bodily arithmetics of subtraction and
			multiplication/compensation.
		</p>

		<p>
			I Am Anagram also materialises research into the surrealist artist Hans Bellmer’s notion of
			the female body as a plastic anagram, and the neurological remapping of the body that may
			result from amputation or neurological impairment – anagrammatically spelling out new bodily
			anatomies like an Exquisite Corpse.
		</p>

		<p>
			I Am Anagram collapses the divide between magician, assistant and spectator, and conjures
			sensory ghosts, expanding the notion of phantom limb to that of phantom body.
		</p>

		<p>
			I Am Anagram explores the concept of the Exquisite Corpse both literally and metaphorically.
			The new anatomy that results from illusion is conjured through the joint authorship of
			interior phenomenological experience of body-image and exteriorized spectatorship, a sense of
			being at once within and without one’s self. This is extreme close-up magic; inner,
			interiorized, incarnate magic, which can be, to the actual sufferer, a terrifying pandemonium.
		</p>

		<p>
			I Am Anagram reconfigures the spiritualist Ouija Board, a potential alphabet that the body can
			write itself into, read itself upon, spell itself out in search of the phantom bodies that
			resides within all bodies, limbless or limbful, able or disabled. I am Anagram disrupts the
			audiences’ experience of body-image, leaving as it were an after-image, a phantom body.
			Throughout the show, the cabinet will become an accumulative repository full of the phantom
			limbs of its participants.
		</p>

		<p>
			“A sentence is like a body, apparently inviting us to break it down into components, so its
			true content reconstitutes itself over and over again in an endless row of anagrams (Hans
			Bellmer, The Doll)
		</p>
	</section>
</ProjectLayout>
