---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image
		src="Impulsive Synchronisation Aura SATZ.jpg"
		caption="Aura Satz, Impulsive Synchronisation, 2013"
	/>
	<section>
		<p>
			The starting point for Impulsive Synchronisation is a 'Secret Communication System' patented
			during World War II by Hollywood star Hedy Lamarr and American composer George Antheil. This
			invention of 'frequency hopping' was designed to protect radio-controlled torpedoes from enemy
			disruption by distributing the signal over many frequencies and synchronising the transmitter
			and receiver in rapidly changing patterns. The idea, which drew in part on Antheil's
			unsuccessful attempt to synchronise 16 pianolas in his 1924 avant-garde masterpiece 'Ballet
			Mecanique', suggested the use of 88 frequencies (the number of keys on a piano), and the use
			of perforated paper rolls to keep the frequency hops in sync with each other. This concept has
			since become the basis for today's spread-spectrum technology, widely used in wireless
			telephone and wi-fi technology.
		</p>
		<p>
			In this newly commissioned film and sound installation, these technologies are referenced to
			explore visual, musical and data notation, as well as its encryption, synchronisation and
			decipherment.The work consists of a scrolling screen made from five specially commissioned
			pianola rolls from Antheil's 'Ballet Mecanique'. The screen is in constant motion so that the
			film creates a complex light play from the encoded musical score, as the perforated strips of
			paper interact and produce patterns on the surrounding walls. In addition, a light located
			behind the screen - a kind of imageless echo of the projection lamp - flashes in systematic
			intervals, flattening the film-screen and highlighting the materiality of the pianola paper.
			At times the conflicting light sources overlap and cancel each other out. The film projected
			onto the scrolling screen is a very short extract from 'Come Live with Me', starring Hedy
			Lamarr. In this romantic comedy - premiered in 1941, the year she submitted the patent for her
			invention - Lamarr uses the metaphor of the flashlight, like a firefly, to attract a mate. In
			the film, the torch footage signals in flashes according to Morse code. The soundscape is
			composed of vintage underwater recordings of submarines and torpedo explosions from the 1940s,
			punctuated by the siren sections from 'Ballet Mecanique'.
		</p>
	</section>
	<Title
		date="22 March - 26 May 2013"
		title="'Impulsive Synchronization', solo show at Hayward Gallery Project Space, London"
		subtitle="Talk with Curator Stephanie Rosenthal on Sunday 24 March, 3.30-4.30pm"
	>
		<Image src="Sound score.jpg" caption="Aura Satz, Impulsive Synchronisation sound score, 2013" />
		Aura Satz would like to to thank Mark Pilkington, Thomas Gardner, Chris Weaver, Scott Klein, Gernot
		Fuhrmann, Rex Lawson, Amy Obarski, David Edelsztein and the Historic Naval Ships Association.
	</Title>
</ProjectLayout>
