---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="Aura-Satz-In&Out-of-synch-at-tate.jpg" caption="'In and Out of Synch' performed at The Tanks, Tate Modern. Photo: Gabrielle Fonseca Johnson/Tate Photography, 2012, copyright Tate Photography" />
  <section>
    <p>In and Out of Synch is a filmic performance which centres around the optical printing of soundtracks, committing to 16mm film a technology on the verge of extinction, entombing and encrypting its own language onto itself. Shot at the post-production facilities of Pinewood studios, London, the close-up sequences feature abstract patterns of sound encoded as light, printed onto the soundtrack area of the filmstrip. The film features the quivering light of a 16mm mono and a 35mm stereo optical sound camera, providing a seismic glimpse at a sound-wave in formation, on occasions flashing like a stroboscopic Rorschach inkblot.</p>
    
    <p>Both mesmerizing and assaulting the senses, the visually hypnotic patterns are disrupted by the voiceover, scripted in dialogue with the artist and filmmaker Lis Rhodes, whose expanded cinema installation using optical sound is on display in The Tanks. The two voices alternate and coincide, interrogating the sound-image synchronicity and correlation with poetic expressions. The film is accompanied by a live musical performance which animates a Ruben’s tube, a device which similarly modulates light in response to sound, creating spectacular waves of flames. In parallel to the film’s exploration of sound encoded as light, the event features sound encoded as fire; a more primal, dramatic, and almost pre-cinematic counterpart of the same principle of sound as light.</p>
    
    <p>For the inaugural version at the Tanks, the live performance features the vocals of interdisciplinary artist Mikhail Karikis and Anton Lukoszevieze on cello. This performance is linked to the symposium Playing in the Shadows, exploring the subterranean darkness of The Tanks and radical experiments in projection and performance.</p>
    <p>Filmed, directed and edited by Aura Satz
      
      Scripted in dialogue with Lis Rhodes
      
      Voiceover Lis Rhodes and Aura Satz
      
      DP Bevis Bowden
      
      Dubbing mixer Gernot Fuhrmann
      
      Funded by Arts Council England, Tate Modern, Arnolfini and private donations
      
      Support in kind from Pinewood Studios
      
      Special thanks to Martin Sawyer, Jason Stevens, Simon Hill at Pinewood; Len Thornton and Tim Sidell, and Jackie and Peter Stewart.
      
    </p>  
  </section>
  <Image src="synch1.jpg" caption="Aura Satz, In and Out of Synch" />
  <Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter.
    </p>
    <p>
      *Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's
      earlier films about women composers and inventors of electronic music,
      this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945).
    </p>
    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="artium.eus"
    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
  <Address
    name="Museum für Musikautomaten"
    contact="Sammlung Dr.h c. H. Weiss-Stauffacher"
    address1="Bollhübel 1"
    address2="4206 Seewen, Switzerland"
    tel="Tel. +41 61 915 98 80"
    email="musikautomaten@bak.admin.ch"
  />
</ProjectLayout>
