---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="Kepler&Witch-1.jpg" caption="Aura Satz, 'Kepler's Trial', film still, 2016" />
  <section>
    <p>'Kepler's Trial' is an Opera by Tim Watts based on Ulinka Rublack's book 'The Astronomer & the Witch' and with film elements by Aura Satz.</p>

<p>Johannes Kepler (1571-1630) is one of the most admired astronomers who ever lived. He defended Copernicus's sun-centred universe and defined the three laws of planetary motion. Less well known is the fact that in 1615, when Kepler was at the height of his career, his old, widowed mother Katharina was accused of witchcraft in a Lutheran town in Germany. The proceedings led to a criminal trial, with Kepler conducting his mother's defence to fight for legal justice. Kepler's Trial responds to Paul Hindemith's Opera Harmony of the World and other accounts which present Katharina Kepler as deranged, witch-like woman. Based on Ulinka Rublack's book The Astronomer & the Witch the opera and film explore with empathy and nuance what it meant for Johannes and Katharina to face the trauma of an accusation of witchcraft, before and after the trial. The opera is the culmination of a highly unusual creative process, in which a team of leading scholars met regularly to explore the story.</p>

<p>The film elements in the opera are a response to Ulinka's book and Tim's opera libretto, as well as the many ideas that emerged through the meetings at St John's College, Cambridge. It features a selection of objects from the Whipple Collection for the History of Science and the Fitzwilliam museum, many of which were filmed rotating on a hand-cranked turntable. This became a key structural device, an illustration of Kepler's cosmological interests, but also as a formal means of shifting, inverting or reconceptualising viewpoints, from Kepler's voice to that of his mother. It resonates also with the lenses and mirrors of featured optical devices such as the telescope and the camera obscura, as well as with a naturalistic German Renaissance sculpture of an old woman and the fearful imagination of old witches at the sabbath, by the early seventeenth-century Dutch artist van Gheyn.</p>

<p>Documentation video and interviews: https://www.youtube.com/watch?v=KTZmZP0oTUA</p>

<p>http://keplers-trial.com/</p>
<h5>28-29 October 2017</h5>
<h4>'Kepler's Trial' An Opera by Tim Watts based on Ulinka Rublack's book 'The Astronomer & the Witch', with film elements by Aura Satz</h4>
<p>World premiere at St John's College, Cambridge</p>
http://keplers-trial.com/

 
<h5>9 November 2017</h5>
<h4>'Kepler's Trial'</h4>
<p>Lydia and Manfred Gorvy Lecture Theatre, Victoria and Albert Museum, London</p>
<p>The performance will be preceded by a discussion in which Ulinka Rublack, Tim Watts and Aura Satz will be joined by Dame Marina Warner as well as Juliet Mitchell, Emeritus Professor of Psychoanalysis and Gender Studies at the University of Cambridge, and Simon Schaffer, Professor of History of Science at the University of Cambridge, both of whom contributed to the opera's unique process of development.</p>

https://www.vam.ac.uk/event/KkM6yGv4/kepler-s-trial
  </section>
  
</ProjectLayout>
