---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image
		src="accordion.jpg"
		caption="Automamusic, film still by Aura Satz, Cibachrome print, 2008"
	/>
	<section>
		In an age of intersecting political, man-made and ecological disasters, ‘Preemptive Listening’ is an ode to the sirens that are and those that could be. Siren compositions from 20 contemporary musicians form a resonant voice to ask; Does an alarm have to be alarming?



EPK available here: docs.google.com/document/d/1M519zb0vR9uibRJkIMaFIBNrIWpg7TVRDQnmY9MbotM/edit?usp=sharing



Directed, written and edited by Aura Satz

Producer: LONO Studio - Luke W Moody 

Associate Producer: Tendai John Mutambu; Mika Taanila and Jussi Eerola (Testifilmi)



Newly reimagined sirens composed by (in sequential order):

Laurie Spiegel (astronomical planetary data) 

Evelyn Glennie (percussion, thundersheet)

Maja Raatkje (voice, bells)

Anton Lukoszevieze (cello)

BJ Nilsen (wind, electronics)

Ilpo Väisänen (electronics)

Rhodri Davies (harp)

Mazen Kerbaj (trumpet) 

FUJI||||||||||TA (insects, bats, DIY organ, electronics) 

Laurie Spiegel (manatees, dogs, mice, electronica) 

Sarah Davachi (organ and bells)

David Toop (fire, sparks, smoke, electronics)

Christina Kubisch (security electromagnetic sounds)

Moor Mother (sirens, electronica)

Raven Chacon  (aeolian sound sculpture) 

Elaine Mitchener (voice and whistles)

BJ Nilsen (wind, electronics)

Ilpo Väisänen (electronics)

Camille Norment (feedback sounds, voice)

Evelyn Glennie (cymbal sculpture, gong, percussion)

Mazen Kerbaj (49 trumpets ‘of Jericho’)

Horomona Horo (Taonga Puoro)

Debit (Mayan instruments, AI, Schumann resonance)

Evelyn Glennie (waterphone)

Raven Chacon (eagle bone whistle)

Kode 9 (sine wave shepard tones)



and spoken by (in sequential order)



Khalid Abdalla  (actor and activist in the Arab Spring)

Daphne Carr (organizer and scholar on Police Sound) 

Asantewaa Boykin and Niki Jones (co-founders of Mental Health First)

Erin Matariki Carr (lawyer and co-lead for RIVER)

Arturo Escobar (anthropologist and environmental philosopher)



Supported by:

AHRC, OKRE

With additional support from:

AND festival, Sonic Acts, Cinema Residency at Walker Arts Centre, Kunsternes Hus, Avek, Tyneside Cinema, Creative New Zealand, Artist Residency at EMPAC, CPH:FORUM 2021, RCA, Kodak

https://preemptivelisteningfilm.com/

For upcoming screenings check https://preemptivelisteningfilm.com/The-Film



	</section>
</ProjectLayout>
