---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Video from "../../components/Video.astro";
import Compact from "../../components/compact.astro";
const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image
    collection={[
      {
        src: "SheRecalibrates2.jpg",
        caption:
          "Aura Satz, 'She Recalibrates' (Elieane Radigue), pencil on black paper, framed with lenticular magnifying sheet, 2018. Photo by Thierry Bal",
      },
    ]}
  />
  <section>
    <p>
      'She Recalibrates' (2018) are a series of drawings of hands of women who
      contributed to the development of electronic music, including Pauline
      Oliveros, Laurie Spiegel, Eliane Radigue, Delia Derbyshire, Daphne Oram,
      Maryanne Amacher, Suzanne Ciani, Wendy Carlos, Beatriz Ferreyra and more.
      The hand on the frequency dial of an electronic synth is interpreted as a
      radical gesture of feminist instantiation, inventing new soundscapes, and,
      in turn, new ways of listening. The dial becomes an emblem for
      recalibration, an indicator of the micro-perceptual act of sound-making
      and fine-tuned listening. Drawn in pencil on black paper, the drawings are
      framed with lenticular lenses, generating a diffractive pattern emanating
      from the dial. The drawings create optical reflections much like those
      found on a CD or vinyl record, interfering with the image whilst appearing
      to generate a rotating beam of light from the centre that adjusts to the
      movement of the viewer. The drawings rely on archival images primarily
      from the 1960s -1980s, where the composer is shown in a state of acute
      concentration, hand on the dial or control button, changing the parameter
      ever so slightly, fine-tuning the sound in a listening feedback loop. For
      the most part, these sonic interfaces were tentatively held together as
      modular synthesizers, various hybrid components feeding into one another,
      modulating or interfering with one another, in such a way as to suggest an
      unstable musical instrument, one that can be harnessed by a slow, intense
      and profound act of attunement.
    </p>
    <p>Framed by Simon Quinn at Framejunkie. Photos by Thierry Bal.</p>
  </section>

  <Title
    date="7 Nov - 21 Dec 2018"
    title="'Listen, Recalibrate'"
    subtitle="Solo show at Fridman Gallery, New York"
  >
    <p>
      Exhibition catalogue with essays by Christoph Cox, David Crowley, Barbara
      London, and Aura Satz in conversation with David Toop.
    </p>
    <Link
      url="https://www.fridmangallery.com/aura-satz"
      label="fridmangallery.com"
      inline={false}
    />
    <Link
      url="https://www.fridmangallery.com/listen-recalibrate"
      label="fridmangallery.com/listen-recalibrate"
    />
  </Title>
  <Title
    date="10 September - 31 October 2021"
    title="'FIGURE/S: drawing after Bellmer'"
    subtitle="group show at The Drawing Room, London"
  >
    <p>
      FIGURE/S: drawing after Bellmer explores the body as a site of oppression,
      liberation and troubling pleasures through the work of modern and
      contemporary artists. It takes as its starting point the radical and
      transgressive drawings of Hans Bellmer (1902-1975), whose work
      simultaneously mimicked and resisted the dehumanisation performed by
      fascism and racism. His drawings have had a powerful influence, sometimes
      subterranean, on many artists across the world in both high and popular
      culture, from French Surrealism to Japanese manga. Recently there has been
      an upsurge of interest in his work, especially the drawings, by younger
      contemporary artists.
    </p>
    <p>
      The exhibition explores Bellmer's lasting influence on artists and
      thinkers through work by twenty modern and contemporary artists from
      Japan, UK, Lebanon, Nigeria, Germany, France and US. It includes carefully
      selected drawings made by Bellmer in the 1940s to 60s, by his partner
      Unica Zurn in the 1960s, by Richard Hamilton in the 1950s and by the
      Lebanese artist Huguette Caland in the 1970s.These modern works are
      combined with contemporary approaches that relate to feminism, gender
      fluidity and anti-racism, including new commissions by Mathew Hale,
      Rebecca Jagoe, Aura Satz and Marianna Simnett. Bellmer's influence in
      Japan is represented by the work of Fuyuko Matsui, Kumi Machida and
      Tabaimo and the exhibition also includes Paul Chan, Neil Gall, Sharon
      Kivland, Jade Montserrat, Jean-Luc Moulene, John Murphy, Paul Noble,
      Wura-Natasha Ogunji and Chloe Piene.
    </p>
    <p>
      Bellmer grew up with the rise of National Socialism in Germany, with its
      antagonism towards 'degenerate' bodies and celebration of the ideal human
      form. Through the production of hundreds of drawings and the two dolls he
      constructed in the early 1930s and photographed in disturbing and
      scandalous scenarios, Bellmer defigured and refigured the body in pursuit
      of unimagined sensations. He likened the body to a sentence that can be
      dismantled and recomposed, an interest shared with Unica Zurn, the artist,
      poet and writer who had a relationship with Bellmer from 1953 until her
      premature death in 1970. For drawings 'after' Bellmer, the phallocentric
      focus of his enquiry is superseded by approaches that challenge and split
      the subject to embrace multiplicity and creaturely freedom. Bellmer wrote:
      'If the origin of my work is scandalous it is because, for me, the world
      is a scandal'. His work has continued to scandalise and this exhibition
      takes a critical look at its content whilst acknowledging Bellmer's
      innovative production of ambiguous and disturbing images that have renewed
      significance today in their exploration of androgyny and confusion of the
      real and the virtual.
    </p>
    <p>
      A programme of talks, panel discussions and performances will enrich and
      expand discourse and research around the issues raised by the exhibition.
    </p>
    <p>
      ON FIGURE/S: drawing after Bellmer is a book published by MA BIBLIOTHEQUE
      as a companion to the exhibition. It gathers responses to its themes and
      is a way to think through and with works of art and their histories
      involving multiple textual forms, collage, and drawing, which take the
      radical and transgressive energy of Bellmer and Zurn in unexpected
      directions. Edited by Kate Macfarlane, Michael Newman, Sharon Kivland and
      Louis Mason, its 29 contributors include Paul Buck, Jade Montserrat,
      Bernard Noel, Francesco Urbano Ragazzi, Aura Satz and Sarah Wilson.
      FIGURE/S: drawing after Bellmer is curated by Michael Newman (Professor of
      Art Writing, Goldsmiths, University of London) and Kate Macfarlane
      (Co-director, Drawing Room). An art historian and critic, Newman has
      written extensively on contemporary art, and has a long-standing interest
      in drawing, with numerous publications, including 'The Traces and Marks of
      Drawing' in The Stage of Drawing: Gesture and Act (Tate Publishing and The
      Drawing Center, 2003). He has been researching Bellmer for six years and
      teaching his work in relation to contemporary art.
    </p>
    <Link
      url="https://drawingroom.org.uk/exhibitions/figure-s-drawing-after-bellmer"
      label="drawingroom.org.uk"
      inline={false}
    />
    <Link
      url="https://mabibliotheque.cargo.site/ON-FIGURE-S-2021"
      label="mabibliotheque.cargo.site"
    />
  </Title>

  <Title
    date="4 Feb - 27 March 2022"
    title="'She Recalibrates' - Solo exhibition at ARTIUM"
    subtitle="Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz, curated by Garbine Ortega"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter. The works included in this show are
      part of a long-standing interest in compositional practices, in particular
      those of women in electronic and electroacoustic music. In addition to
      three film-sound portraits, the exhibition includes a series of drawings
      centred on early modular synthesizer compositional practices by women.
    </p>
    <p>
      In Z Gallery programme, Aura Satz presents the films 'Oramics: Atlantis
      Anew,' 'Little Doorways to Paths Not Yet Take' and 'Hacer una diagonal con
      la musica,' three works based on three pioneers in the field of electronic
      music. 'She Recalibrates' (2018) are a series of drawin fine-tuning the
      sound in a listening feedback loop.
    </p>
    <p>
      *Hacer una diagonal con la musica*. 2019. 10 min. A short film about
      Argentine electroacoustic composer Beatriz Ferreyra, a pioneer of musique
      concrete together with Pierre Schaeffer during the 1950s and 1960s. Here
      she discusses her 'sound hunting' recording techniques, and other thoughts
      on sound montage and spatialization, illustrated through onomatopoeia and
      dynamic hand gestures. In the key opening scene, Ferreyra is seen
      listening to the miniscule creaks produced by a door, expanding the simple
      binary of open vs closed to encompass an entire sound universe, an
      expanded bandwidth of what can be heard and how we might listen.
    </p>
    <p>
      *Oramics: Atlantis Anew*. 2011. 7 min. Conceived as an artist's film that
      pays tribute to Daphne Oram, pioneer of British electronic music and
      co-founder of the BBC Radiophonic Workshop in 1958, the film depicts a
      close encounter with her unique Oramics machine invention, housed in the
      Science Museum in London.
    </p>
    <p>
      *Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's
      earlier films about women composers and inventors of electronic music,
      this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945). Renowned for her electronic music
      compositions and algorithmic composition software, the film also reveals
      all manner of musical and technological paraphernalia, ranging from sheet
      music to DIY inventions and collections of quirky toys. The soundtrack
      features electronic music composed by Spiegel and Laurie's voiceover
      reflecting on electronic music and the process of composing.
    </p>
    <p>
      The* Z Gallery* (Z for zinema, cinema in Basque) programme is neither a
      season of films nor an exhibition. It is a project that constructs an
      intermediate space from which to reflect on and draw attention to works by
      artists making the leap into the cinematographic field as well as
      filmmakers exploring the exhibition format. It is a programme arising from
      the determined gesture of thinking about the moving image in the museum. A
      programme that aims to bring to the public authors interested in searching
      for new narrative forms by questioning the genres that historically
      categorise cinematographic language. Curator: Garbine Ortega
    </p>
    <p>
      Catalogue includes newly commissioned essays by Jo Hutton and Xabier
      Erkizia.
    </p>
    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="artium.eus"
      inline={false}
    />
    <Link
      url="https://artium.eus/en/activities/item/61328-conversacion-con-aura-satz"
      label="artium.eus/en/activities/item/61328-conversacion-con-aura-satz"
    />

    <p>
      Interview in Elemmental Magazine <Link
        url="https://elemmental.com/2022/02/18/aura-satz-entrevista/"
        label="aura-satz-entrevista"
      />
    </p>
  </Title>
  <Image
    collection={[
      {
        src: "SheRecalibrates3.jpg",
        caption:
          "Aura Satz, 'She Recalibrates' (Tara Rodgers, close-up), pencil on black paper, framed with lenticular magnifying sheet, 2018. Photo by Thierry Bal",
      },
    ]}
    <
    ProjectLayout
  />
</ProjectLayout>
