---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getProps } from '../../helpers/utils';
import Image from '../../components/Image.astro';
import Address from '../../components/Address.astro';
import Blockquote from '../../components/Blockquote.astro';
import Link from '../../components/Link.astro';
import Title from '../../components/Title.astro';

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
	<Image src="spiralsounddrawing.jpg" caption="Aura Satz, Spiral Sound Coil, drawing, 2010" />
	<section>
		<p>
			Continuing her work as artist in residence at the Ear Institute, UCL London, Aura will develop
			a new intimate, immersive sound sculpture that will create a physical and psychoacoustic sonic
			experience whereby visitors will be encouraged to place their head inside the sculpture
			itself. Like a giant hearing trumpet or an automaton ear, the horn appears to tune into the
			vast library of past sounds that is the air. The multi-channel soundtrack outputs in a spiral
			sequence, thus echoing the rotating technology of wax cylinder sound recordings. Similarly,
			the narrative voicover explores the idea of memory being like a wax cylinder, a 'mystic
			writing-pad' of sorts, a blank slate onto which memories leave their trace and personal
			history is recorded. For the musical composition Aura has revisited and re-composed some of
			the original recordings made as a result of her Soundtrap III commission for Beaconsfield in
			Vauxhall, Glissolalia. This new composition includes excerpts of the psychoacoustic illusion
			of a Shepard tone, the theremin played by Lydia Kavina and voices by the barbershop quartet
			Hunky Dory (Jackie Driscoll, Lolly Thomas, Ceejai Seaman, and Barbara Thompson). Spiral Sound
			Coil explores the ever-shifting site of sound, and offers a powerfully disorienting acoustic
			experience.
		</p>

		<p>Commissioned by Jerwood Space</p>
		<p>
			Aura would like to thank Bradford Backus and Thorsten Marquardt at the Ear Institute;
			Beaconsfield Gallery and in particular David Crawforth; Lydia Kavina; Jackie Driscoll, Lolly
			Thomas, Ceejai Seaman, and Barbara Thompson; Dave Hunt for his sound advice; and Sarah
			Williams.
		</p>
	</section>
	<Image
		src="aura-satz-031.jpg"
		caption="Aura Satz, Spiral Sound Coil - in the studio, 2010. Photo: Paul Winch-Furness"
	/>

	<Title
		date="11 August - 12 September 2010"
		title="'Locate', group show at Jerwood Space, curated by Sarah Williams"
		subtitle="Showing as part of 'She Recalibrates'"
	>
		<p>
			Featuring the work of artists Mel Brimfield, Sarah Pickering and Aura Satz, Locate will
			exhibit three new commissions exploring the artists' responses to the idea of 'site'.
		</p>
		<p>
			Each of the artists was asked to propose ideas for new works that responded to a geographical
			location, institution, collection, a fictional or conceptual space. They are currently
			undertaking a five month research project to develop their ideas and the resulting works will
			be exhibited at Jerwood Space in August.
		</p>

		<p>
			Part of the Jerwood Encounters series, Locate is the third in a series of experimental
			exhibitions curated by Sarah Williams and demonstrates a commitment by the Jerwood Charitable
			Foundation to supporting new experimental commissions within the Jerwood Visual Arts
			programme.
		</p>
		<p>
			The exhibition will be accompanied by a publication designed by The Partners with text by
			Cecilia Wee.
		</p>

		A series of evening events at Jerwood Space will run alongside the exhibition from 6 - 8pm.<br
		/>
		Events are free but must be booked in advance. For further information or to book contact:<br />
		Jerwood Space<br />
		171 Union Street, London, SE1 0LN<br />
		Tel: 020 7654 0179<br />
		Email: jva@jerwoodspace.co.uk<br />
		www.jerwoodvisualarts.org
	</Title>
	<Image
		src="spiralsoundcoilJerwood2.jpg"
		caption="Installed at the Jerwood Space. Photo: Paul Winch-Furness"
	/>
	<Image
		src="spiralsoundcoilJerwood3.jpg"
		caption="Installed at the Jerwood Space. Photo: Paul Winch-Furness"
	/>
	<Title
		date="2 April - 29 May 2011"
		title="'Fraternise - the Salon', group show at Beaconsfield, London"
		subtitle=""
	>
		<Image src="SpiralSoundCoilatBeaconsfield.jpg" />
		<p>
			Franko B, David Birkin, Ansuman Biswas, John Burgess, Matthew Burrows, Tony Carter, Tamsyn
			Challenger, Jules Clarke, Ben Cockett, Susan Collis, Michael Corkrey, Keith Coventry, A. David
			Crawforth, Mikey Cuddihy, Shane Cullen, Michael Curran, Judith Dean, Mark Dean, Nicolas
			Deshayes, Adam Dix, Richard Elliott, Robert Ellis, Tracey Emin, Laura Emsley, Alexa de
			Ferranti, Peter Fillingham, Edwina fitzPatrick, Rebecca Fortnum, Eloise Fornieles, Stephen
			Fowler, Paul Fryer, Rachel Garfield, Mary George, Mathew Gibson, Bruce Gilbert, Colin Glen,
			Lucy Gunning, Matt Hale, Carl Michael von Hausswolff, Denise Hawrysio, Damien Hirst, Rachel
			Howard, Marc Hulson, Sarah Jones, Simon Lawson, Peter Liversidge, Sarah Lucas and Olivier
			Garbay, Maria Marshall, Ross McNicol, David Mollin, Charlotte Moth, Hayley Newman, Paul Noble,
			Monika Oechsler, Tom Ormond, Lily Paine, Tom Paine, Tamsin Pender, Susan Pui San Lok, Aura
			Satz, Boo Saville, Michael Shaw, Naomi Siderfin, Bob and Roberta Smith, Julian Stallabrass,
			Dafna Talmor, John Timberlake, Caroline Todd, Roman Vasseur, Jessica Voorsanger, Mark
			Wallinger, Joseph Walsh, Roxy Walsh, Amelia Whitelaw, Keith Wilson, Erika Winstone.
		</p>

		<p>
			Fraternise - the Salon gathers a cohort of artists in a curated, fundraising exhibition, to
			support the future existence of Beaconsfield - the pioneering, non-profit organisation that
			has provided a laboratory and presentation space for artists since 1995.
		</p>

		<p>
			Beaconsfield is an artist-led entity that specialises in encouraging artists to pursue
			projects of ambition and to experiment without commercial pressure. The Salon brings together
			collaborators, patrons and proteges who have worked with Beaconsfield or who support its role
			in the artists' community.
		</p>

		<p>
			The Salon offers a rare opportunity to view a diverse range of contemporary works (many
			artists exhibiting together for the first time) and to start or expand a collection. Sales
			will benefit both participating artists and Beaconsfield.
		</p>

		<p>
			Fraternise - the Salon is co-curated by the charity's artist-trustees, Rachel Howard, Judith
			Dean and artist-directors A. David Crawforth and Naomi Siderfin.
		</p>

		Beaconsfield<br />
		22 Newport Street, London SE11 6AY<br />
		info@beaconsfield.ltd.uk<br />
		+44 (0)20 7582 6465<br />
		www.beaconsfield.ltd.uk
	</Title>
	<section>
		<h5>18-29 January 2012</h5>
		<h4>Samsung Art+ Prize, group show at BFI Southbank, London</h4>
		<p>
			Samsung Electronics are delighted to present the UK’s first ever prize for new media art. A
			shortlist of 10 emerging and established contemporary artists has been selected by a panel of
			curators from leading arts organisations for a two-week exhibition at the BFI Southbank.
			Opening on 18 January 2012, the exhibition will include new work as well as pieces that have
			never been shown before in the UK.
		</p>
		<p>
			The Samsung Art+ Prize aims to highlight artists who reveal the ways technologies can touch
			our lives. All of the selected artists must be a citizen of, educated in or currently residing
			in the UK and they have been nominated for work they have created in the past three years. The
			shortlisted artists selected are: Neil Cummings, Doug Fishbone, Iain Forsyth and Jane Pollard,
			Torsten Lauschmann, Lucky PDF, Aura Satz, Hiraki Sawa, Semiconductor, Erika Tan and Thomsonand
			Craighead.
		</p>
		<p>
			The resulting shortlist showcases the diverse range of practice offered by new media, and
			includes artists working in screen friendly idioms as well as those exploring diverse
			strategies of communication such as performance, sculpture and music.
		</p>
		<p>
			The 10 nominated artists have been selected for their ability to expand and challenge our
			understanding of the role of new media. In the era of smart media the prize will celebrate the
			unique ways in which artists respond to the changing world and embrace the possibilities
			offered by different media opportunities; not only as platforms of production and research but
			also as new modes of communication beyond the traditional gallery.
		</p>

		<p>
			The judges including Jan Dalley, Arts Editor at the Financial Times; Dr. Peter Weibel,
			Chairman and CEO of the ZKM Centre for Art and Media; Stuart Comer, Curator of Film, Tate
			Modern; Jiyoon Lee, Director of SUUM; and New York based media artist, Sooja Kim.
		</p>

		BFI Southbank<br />
		Belvedere Road<br />
		London SE1 8XT<br />
		Tel: 0871 971 5582<br />
		www.bfi.org<br />
		www.samsung.com

		<h5>14 April - 21 June 2012</h5>
		<h4>
			Psychosis part II, “I is someone else” group show at Färgfabriken - Centre for Contemporary
			Art and Architecture, Stockholm
		</h4>

		<p>
			Psychosis is a long-term project. Through exhibitions, publications, film screenings and
			seminars we illuminate various aspects of the subject. The aim is to use art in order to
			deepen our understanding of the human psyche and our social relationships.
		</p>

		<p>
			With I is Someone Else we want to produce an exhibition that deals less with artistic
			authenticity or the diagnosis of psychosis and more with the symptoms of the illness as the
			point of departure for describing transformations of the self. Even a healthy person is not
			constituted by a clearly delineated self; we harbour a whole set of potential selves. This is
			clearly captured in common expressions: I could be “beside myself” with worry, for example, or
			“not really myself today”, or I could “lose myself in my thoughts”.
		</p>

		<p>
			A similar view of the possibility of multiple identities is expressed in the pamphlet of
			directions for use that accompany a particular anti-depression medication. Taking the
			medication, it warns, may cause the sense of “being apart from oneself and from reality”.
			Where, then, does the person feel like he or she is? If you’re “not yourself”, then who are
			you? And hearing voices in your head could be a symptom of mental illness, but under certain
			circumstances it’s considered entirely normal – if you heart them in the wakening state
			between dream and consciousness, for example. Further, those who claim to hear the voice of
			God are seldom declared unfit for that reason alone. The boundary between what is normal and
			what is abnormal is obviously blurry, malleable, and negotiable.
		</p>

		<p>
			We imagine that works of art may be understood as symptoms, as “psychotic” without being
			expressions of illness. They can construct temporary wholes from splintered selves, and they
			can just as easily dissolve the illusion of a solid identity. Or they can simply pose
			unanswered questions about the nature of the self. And the exhibition’s artworks are not
			psychotic, because they communicate with the viewer and create the kind of dialogue that is
			impossible for someone suffering from psychosis.
		</p>

		<p>
			Participating artists: Beata Berggren, Maja Bajevic, Andreas Gedin, Matti Kallioinen,Renja
			Leino, Håkan Rehnberg, Aura Satz
		</p>
		<p>
			Curators: Elsa Ekesiöö Thambert, Andreas Gedin, Joachim Granit, Fia Palmgren, Robert Stasinski
		</p>

		Lövholmsbrinken 1<br />
		SE 117 43 Liljeholmen<br />
		Stockholm<br />
		Tel +46-8-645 07 07<br />
		www.fargfabriken.se
	</section>
</ProjectLayout>
