---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="spiralsounddrawing.jpg" caption="Aura Satz, Spiral Sound Coil, drawing, 2010" />
  <section>
    <p>
      Continuing her work as artist in residence at the Ear Institute, UCL London, Aura will develop a new intimate, immersive sound sculpture that will create a physical and psychoacoustic sonic experience whereby visitors will be encouraged to place their head inside the sculpture itself. Like a giant hearing trumpet or an automaton ear, the horn appears to tune into the vast library of past sounds that is the air. The multi-channel soundtrack outputs in a spiral sequence, thus echoing the rotating technology of wax cylinder sound recordings. Similarly, the narrative voicover explores the idea of memory being like a wax cylinder, a 'mystic writing-pad' of sorts, a blank slate onto which memories leave their trace and personal history is recorded. For the musical composition Aura has revisited and re-composed some of the original recordings made as a result of her Soundtrap III commission for Beaconsfield in Vauxhall, Glissolalia. This new composition includes excerpts of the psychoacoustic illusion of a Shepard tone, the theremin played by Lydia Kavina and voices by the barbershop quartet Hunky Dory (Jackie Driscoll, Lolly Thomas, Ceejai Seaman, and Barbara Thompson). Spiral Sound Coil explores the ever-shifting site of sound, and offers a powerfully disorienting acoustic experience.</p>
      
      <p>Commissioned by Jerwood Space</p>
      <p>Aura would like to thank Bradford Backus and Thorsten Marquardt at the Ear Institute; Beaconsfield Gallery and in particular David Crawforth; Lydia Kavina; Jackie Driscoll, Lolly Thomas, Ceejai Seaman, and Barbara Thompson; Dave Hunt for his sound advice; and Sarah Williams.</p>
      
    </section>
    <Image src="aura-satz-031.jpg" caption="Aura Satz, Spiral Sound Coil - in the studio, 2010. Photo: Paul Winch-Furness" />
  <Title
    date="4 Feb - 27 March 2022"
    title="Solo exhibition at ARTIUM, Museo Vasco de Arte Contemporáneo, Vitoria-Gasteiz"
    subtitle="Showing as part of 'She Recalibrates'"
  >
    <p>
      Aura Satz's film and sound works are made in conversation and use dialogue
      as both method and subject matter.
    </p>
    <p>
      *Little Doorways to Paths Not Yet Taken*. 2016. 8 min. Following Satz's
      earlier films about women composers and inventors of electronic music,
      this short film offers an intimate look into the studio of American
      composer Laurie Spiegel (b. 1945).
    </p>
    <Link
      url="https://artium.eus/en/exhibitions/item/61329-aura-satz-she-recalibrates-z-gallery"
      label="artium.eus"
    />
  </Title>
  <Title
    date="22 Jan - 2 Feb 2020"
    title="World Premiere, screening as part of Bright Future Shorts"
    subtitle="IFFR (International Film Festival Rotterdam)"
  />
  <Address
    name="Museum für Musikautomaten"
    contact="Sammlung Dr.h c. H. Weiss-Stauffacher"
    address1="Bollhübel 1"
    address2="4206 Seewen, Switzerland"
    tel="Tel. +41 61 915 98 80"
    email="musikautomaten@bak.admin.ch"
  />
</ProjectLayout>
