---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="anechoic chamber ISVR.jpg" caption="Aura Satz, 'The Absorbing Wall', 2015" />
  <section>
    <p>The film and sound installation The Trembling Line explores visual and acoustic echoes between decipherable musical gestures and abstract patterning, orchestral swells and extreme high-speed slow-motion close-ups of strings and percussion. It features a score by Leo Grant and a multichannel audio system by the Institute of Sound and Vibration Research, University of Southampton.</p>
    
    <p>Violin bows appear as angular lines cutting across the screen in rhythmic sequences, like a swarm of insects or windmills. Strings vibrate, unsettled in a state of continuous oscillation. Formal continuities are drawn out between throbbing slowed-down vibrations and real-time musical sequences, as the trembling pace of a tremolo becomes a relentless pulse. The multi-channel speaker array is devised as an intimate sound spatialisation system in which each element of sound can be pried apart and reconfigured, to create a dynamically disorienting sonic experience. It features small swarms of sounds, amplified as they gush though the sphere, intricate musical gestures travelling in circular and counterpoint patterns, and dense surges of tremolo rolling across the acoustic range. The sound sphere recalls an inverted fly's compound eye, which turns inwards onto the listener. It becomes the inside of a musical instrument, an acoustic envelope or cage of sorts, through which viewers are invited to experience the film and generate cross-sensory connections and counterpoints between the sound and the visuals.</p>
  </section>
  <Title
  date="3 Dec 2015 - 23 Jan 2016"
  title="'The Trembling Line'"
  subtitle="Solo exhibition at John Hansard Gallery, Southampton"
  >
  <p>The Trembling Line is an exhibition of works by Aura Satz exploring acoustics, vibration, sound visualisation and musical gesture with an aim to wrest the space between sound and image, to see how far these can be stretched apart before they fold back into one another. The title, The Trembling Line, refers in part to the basic principle of vibration, a disturbance of equilibrium, such as the stimulated of motion and sound through friction, but also to the possibility of challenging static notation systems and destabilizing the experience of seeing and hearing.</p>
  
  <p>The centrepiece of the show is the film and sound installation The Trembling Line, which explores visual and acoustic echoes between decipherable musical gestures and abstract patterning, orchestral swells and extreme slow-motion close-ups of strings and percussion. It features a score by Leo Grant and a multichannel audio system by the Institute of Sound and Vibration Research, University of Southampton.</p>
  
  <p>The exhibition includes a series of photographs, The Absorbing Wall (2015), based on an anechoic chamber, and five closely inter-connected films: Vocal Flame (2012); Oramics: Atlantis Anew (2011); Onomatopoeic Alphabet (2010); Theremin (2009); Automamusic (2008). Some of the works address the visualisation of sound as a morphing language in which patterns of sand, salt or fire correspond to sounds in unexpected ways. Others address gesture-less mechanical music or the compelling gesturality of a theremin, a sensitive instrument that is played without physical contact, merely by waving hands in its proximity, affecting the sounds produced by the electromagnetic field.</p>
  
  <p>Satz is also interested in female figures that are largely excluded from mainstream historical discourse, in an ongoing engagement with the question of women's contributions to labour, technological invention and scientific knowledge. Oramics: Atlantis Anew centres on the invention of a new sound-generating machine and correlated notation system invented by British electronic music pioneer Daphne Oram in 1957. Using principles of drawn-sound (the inverse of the other works which look at sound visualisation), Oram invented a system for sonifying graphic shapes and creating a new language of unheard electronic sounds. Similarly, Vocal Flame addresses popular manifestations of the female disembodied voice, visualised as a wave of flames using an acoustic device known as a 'Rubens' Tube'.</p>
  
  <p>The Absorbing Wall provides an acoustic vacuum, a silent nexus separating the various films. Five photographic stills of the ISVR's large anechoic chamber convey a visual patterning of sound-absorbing elements, positioned in off-kilter angles that break away from the geometric regularity typically associated with the space.</p>
  
  <p>The Absorbing Wall is dedicated to the memory of Stuart Croft.</p>
  
</Title>
<Image src="john-hansard-gallery-aura-satz-exhibition-billboard.jpg" caption="Installation view at John Hansard gallery, 2015-2016" />

</ProjectLayout>
