---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getProps } from "../../helpers/utils";
import Image from "../../components/Image.astro";
import Address from "../../components/Address.astro";
import Blockquote from "../../components/Blockquote.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";

const props = await getProps(import.meta.url);
---

<ProjectLayout {...props}>
  <Image src="AuraSatzVocalFlame.jpg" caption="Aura Satz, Vocal Flame, 2012" />
  <section>
    <p>Vocal Flame is fiery sound sculpture using a Ruben's Tube, an acoustic device which visualizes sound as a standing wave of small flames. The soundtrack that animates the flickering flames features a histrionic voice-over, exploring the various embodiments of ventriloquized voices in popular culture, particularly the female voice in film. The voiceover conjures narratives of a biblical burning bush, a self-consuming flame alphabet, the moulded vocal training of My Fair Lady and the acousmatic notion of a voice without source, hidden behind a veil or curtain. Working through Radar's theme of the performing object from the perspective of the implicit ventriloquism of making an object speak, Vocal Flame aims to expose the malleability, violence and porosity of vocal manipulation.</p>

<p>Devised and scripted by Aura Satz, voiceover performed by vocalist Jennifer Walshe and music composed by musician, composer, and founding Siouxie and the Banshees member Steven Severin.</p>

<p>Excerpt of Aura Satz - Vocal Flame from The Wire Magazine on Vimeo.</p>
  </section>
  <Title
    date="10 March 2012"
    title="RADAR contemporary arts programme, Loughborough University Music Centre"
    subtitle="Commissioned by RADAR contemporary arts programme, Loughborough University Music Centre"
  >
  Loughborough University<br>
  Loughborough<br>
  Leicestershire<br>
  LE11 3TU<br>
  Tel: 01509 222 881<br>
  Email: radar.info@lboro.ac.uk<br>

    <Link
      url="http://www.arts.lboro.ac.uk/radar/project/object_theatre_spring_2012/aura_satz/"
      label="arts.lboro.ac.uk"
    />
  </Title>
  
</ProjectLayout>
