---
import '$lib/styles/global.css';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
const { title, bg = null, omit = null } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={bg ? 'alt' : ''}>
		<header><Nav {omit} /></header>
		<main>
			<slot />
		</main>
	</body>
	<Footer />
</html>
<style>
	html {
		font-size: var(--base-font-size);
		font-family: system-ui, sans-serif;
		background-color: var(--bg-primary);
		max-width: 100vw;
		overflow-x: hidden;
	}
	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	body.alt {
		background-color: var(--colour-soft-violet);
	}
	header {
		width: 100%;
		display: flex;
		padding: var(--spacing-level-4) var(--spacing-level-3);
		align-items: center;
		justify-content: space-between;
	}

	main {
		margin: 0 auto;
		max-width: calc(var(--width-article) + var(--spacing-level-2));
		margin-bottom: var(--spacing-level-1);
	}
	.nav-flex {
		flex: 0 0.5 auto;
	}
</style>
